In [1]:
import pandas as pd
import numpy as np
import re

#### IMPOR RAW DATA

In [29]:
data = pd.read_excel('analisa\All Donation _ Data Download_ 26 June 2025, 14_37 _ Filter_ Date range 2025-06-01 s.d 2025-06-23 - waiting.xlsx')
# data1 = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/Jan - April.xlsx', sheet_name = 'Donasi')
# data2 = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/Mei TZ.xlsx')

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\faruq\AppData\Local\Temp\ipykernel_6020\3494202986.py:1: SyntaxWarning: invalid escape sequence '\A'
  data = pd.read_excel('analisa\All Donation _ Data Download_ 26 June 2025, 14_37 _ Filter_ Date range 2025-06-01 s.d 2025-06-23 - waiting.xlsx')

In [30]:
data

,No,Invoice ID,Donatur,Sapaan,Nominal,Kode Unik,Total,Whatsapp,Email,Comment,...,Data Qurban,Data Package-2,Data Zakat Fitrah,Additional Data,UTM Source,UTM Medium,UTM Content,UTM Campaign,UTM Term,UTM ID
0,1,INV-250623YHXJG,Sudarsono,Bapak,100000,853,100853,85345820652,NaN,NaN,...,[],[],[],"{""Kode Unik"":""853""}",fb,paid,1.202321e+17,1.202321e+17,1.202321e+17,1.202321e+17
1,2,INV-250623ZWA1D,Herlin novia,Kak,100000,329,100329,81905157027,NaN,NaN,...,[],[],[],"{""Kode Unik"":""329""}",fb,paid,1.202237e+17,1.202237e+17,1.202237e+17,1.202237e+17
2,3,INV-2506234TMMV,Nandang trisnantoro,Bapak,50000,288,53618,82199004554,NaN,Selalu murahkan rejeki Ya Allah agar bisa sela...,...,[],[],[],"{""Kode Unik"":""288""}",ig,paid,1.202321e+17,1.202321e+17,1.202321e+17,1.202321e+17
3,4,INV-250623WEZ8W,Hayati,Bapak,100000,563,100563,85768951788,NaN,NaN,...,[],[],[],"{""Kode Unik"":""563""}",fb,paid,1.202248e+17,1.202248e+17,1.202248e+17,1.202248e+17
4,5,INV-250623PF430,Jamilatul Awalin,Ibu,100000,18,100018,85883310549,allenasupyan@gmail.com,Semoga Alloh ta&#039;ala berkenan mencatat seb...,...,[],[],[],"{""Kode Unik"":""18""}",fb,paid,1.202269e+17,1.202269e+17,1.202269e+17,1.202269e+17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1908,1909,INV-250601FN0D1,082374934949,Bapak,100000,908,103683,82374934949,NaN,NaN,...,[],[],[],"{""Kode Unik"":""908""}",fb,paid,1.202234e+17,1.202234e+17,1.202234e+17,1.202234e+17
1909,1910,INV-2506018G14E,Syinta,Kak,100000,932,100932,81315207897,NaN,NaN,...,[],[],[],"{""Kode Unik"":""932""}",ig,paid,1.202225e+17,1.202225e+17,1.202225e+17,1.202225e+17
1910,1911,INV-2506012D49A,Dullah,Bapak,100000,923,103698,81340374968,abdlatiflahay@gmail.com,NaN,...,[],[],[],"{""Kode Unik"":""923""}",fb,paid,1.202237e+17,1.202237e+17,1.202237e+17,1.202237e+17
1911,1912,INV-2506017XLE1,Andi Nurlaela,Bapak,100000,127,100127,87785190893,bundaalaela@gmail.com,NaN,...,[],[],[],"{""Kode Unik"":""127""}",NaN,NaN,NaN,NaN,NaN,NaN
1912,1913,INV-250601CVV4A,PEBRIADI FAHREZI,Bapak,1000000,189,1000189,81361691421,plnsidimpuan@gmail.com,Semoga negara Palestine cepat merdeka,...,[],[],[],"{""Kode Unik"":""189""}",fb,paid,1.202262e+17,1.202262e+17,1.202262e+17,1.202262e+17

In [31]:
# # 1. Jika kolom mengandung NaN, isi dulu dengan nilai sementara atau hilangkan baris NaN
data['Whatsapp'] = data['Whatsapp'].astype(int)
# data1['Whatsapp'] = data1['Whatsapp'].astype(int)
# data2['Whatsapp'] = data2['Whatsapp'].astype(float).astype(int)

In [32]:
# data = pd.concat([data1, data2], ignore_index=True)

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1913 entries, 0 to 1912
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   No                     1913 non-null   int64
 1   Invoice ID             1913 non-null   object
 2   Donatur                1911 non-null   object
 3   Sapaan                 1913 non-null   object
 4   Nominal                1913 non-null   int64
 5   Kode Unik              1913 non-null   int64
 6   Total                  1913 non-null   int64
 7   Whatsapp               1913 non-null   int64
 8   Email                  585 non-null    object
 9   Comment                1075 non-null   object
 10  Program                1913 non-null   object
 11  Payment Method         1913 non-null   object
 12  Payment Number         1913 non-null   object
 13  Payment Account        1913 non-null   object
 14  Payment Status         1913 non-null   object
 15  Fundraiser Commission  1314 non-null   float64
 16  Fundraiser Name        1314 non-null   object
 17  CS                     0 non-null      float64
 18  Date                   1913 non-null   object
 19  Data Qurban            1913 non-null   object
 20  Data Package-2         1913 non-null   object
 21  Data Zakat Fitrah      1913 non-null   object
 22  Additional Data        1913 non-null   object
 23  UTM Source             1284 non-null   object
 24  UTM Medium             1284 non-null   object
 25  UTM Content            1284 non-null   float64
 26  UTM Campaign           1284 non-null   float64
 27  UTM Term               1284 non-null   float64
 28  UTM ID                 1284 non-null   float64
dtypes: float64(6), int64(5), object(18)
memory usage: 433.5+ KB

In [34]:
# Pastikan Date dalam format datetime
data['Date'] = pd.to_datetime(data['Date'], errors='coerce')

In [35]:
data.duplicated().sum()

np.int64(0)

In [36]:
# data.to_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/OUTPUT/Raw Data 2025.xlsx', index=False)

In [37]:
data_ads = data[['Whatsapp', 'Donatur', 'Email', 'Date', 'Total', 'Comment', 'Payment Status', 'Payment Number', 'Payment Account', 'Fundraiser Name', 'Program', 'UTM Source']]

In [38]:
data_ads['Bulan_Angka'] = pd.to_datetime(data_ads['Date']).dt.month
data_ads['Nama_Bulan'] = pd.to_datetime(data_ads['Date']).dt.strftime('%B')

C:\Users\faruq\AppData\Local\Temp\ipykernel_6020\795098322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ads['Bulan_Angka'] = pd.to_datetime(data_ads['Date']).dt.month

C:\Users\faruq\AppData\Local\Temp\ipykernel_6020\795098322.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ads['Nama_Bulan'] = pd.to_datetime(data_ads['Date']).dt.strftime('%B')

In [39]:
data_ads['Nama_Bulan'].value_counts()
#data_ads['Bulan_Angka'].value_counts()

Nama_Bulan
June    1913
Name: count, dtype: int64

In [13]:
len(data_ads)

1913

In [14]:
jumlah_januari = len(data_ads[data_ads['Nama_Bulan'] == 'January'])
print(jumlah_januari)

0

#### Validasi & Standarisasi Nomor Whatsapp

In [40]:
def is_random_number(num):
    num = str(num)

    # Nomor harus hanya angka
    if not num.isdigit():
        return False

    # Harus valid dari segi panjang dan awalan
    starts_valid = num.startswith("08") or num.startswith("8") or num.startswith("62")
    length_valid = 8 < len(num) <= 14

    if not (starts_valid and length_valid):
        return False

    # Cek jika terlalu banyak angka sama (seperti 08888888888)
    if len(set(num)) <= 3:
        return False

    # Cek pola berulang (seperti 081234567812345678)
    if len(num) > 6 and num[:int(len(num)/2)] == num[int(len(num)/2):]:
        return False

    # Cek pola urutan (seperti 08123456789)
    if num[2:].isdigit() and num[2:] in '1234567890'*2:
        return False

    return True

data_ads['is_random'] = data_ads['Whatsapp'].apply(is_random_number)
data_ads[data_ads['is_random'] == False].head()

C:\Users\faruq\AppData\Local\Temp\ipykernel_6020\1363223343.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ads['is_random'] = data_ads['Whatsapp'].apply(is_random_number)

,Whatsapp,Donatur,Email,Date,Total,Comment,Payment Status,Payment Number,Payment Account,Fundraiser Name,Program,UTM Source,Bulan_Angka,Nama_Bulan,is_random
56,81234567890,Hamba Allah,NaN,2025-06-23 08:09:00,102845,NaN,Waiting,9886556100000000000431846,BNI VA,Teman Baik 1,SEDEKAH PALESTINA,ig,6,June,False
93,123456789,Faris,NaN,2025-06-22 20:49:00,100460,NaN,Waiting,Mandiri 1410000665448,Yayasan Teman Jalan Kebaikan,Teman Baik 1,INFAK PALESTINA: BENTUK PEDULI KITA KEPADA SAU...,fb,6,June,False
119,85554445555,Amlatun,xadfgvvvvvghh,2025-06-22 13:24:00,10000677,NaN,Waiting,https://flip.id/pwf/transaction/consolidated?r...,QRIS,Teman Baik 1,INFAK PALESTINA: BENTUK PEDULI KITA KEPADA SAU...,NaN,6,June,False
346,8888118188,M Rivai S,rivai.pay@gmail.com,2025-06-20 00:30:00,100790,Free Free Palestine,Waiting,https://flip.id/pwf/transaction/consolidated?r...,QRIS,Teman Baik 1,SEDEKAH PALESTINA,ig,6,June,False
388,8111111111111,A,NaN,2025-06-19 11:41:00,100969,NaN,Waiting,https://flip.id/pwf/transaction/consolidated?r...,QRIS,Teman Baik 1,SEDEKAH PALESTINA,ig,6,June,False

In [41]:
#### NORMASLISASI NOMOR WA
def normalisasi_wa(nomor):
    nomor = str(nomor).strip()
    if nomor.startswith('0'):
        return '62' + nomor[1:]
    elif nomor.startswith('8'):
        return '62' + nomor
    elif nomor.startswith('+62'):
        return '62' + nomor[3:]
    elif nomor.startswith('62'):
        return nomor
    else:
        return nomor  # fallback

# Terapkan ke kedua data
data_ads['WA_Norm'] = data_ads['Whatsapp'].apply(normalisasi_wa)

C:\Users\faruq\AppData\Local\Temp\ipykernel_6020\672677075.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ads['WA_Norm'] = data_ads['Whatsapp'].apply(normalisasi_wa)

In [42]:
#DROP data yang tidak diperlukan
data_ads = data_ads.drop(['Whatsapp'], axis=1)

# menyesuaikan nama kolom jika ada nama kolom yang belum sesuai standarisasi
kolom = {"WA_Norm": "Whatsapp"}
# rename
data_ads = data_ads.rename(columns=kolom)

# Tambahkan kolom 'Source' dengan nilai 'Ads'
data_ads['Source'] = 'Web Ads'

#### CRM Fundraiser Name & CS

In [18]:
# Daftar kolom yang ingin diproses
target_cols = ['Fundraiser Name']

# Proses hanya kolom tertentu
for col in target_cols:
    if col in data_ads.columns:  # cek agar tidak error jika kolom tidak ada
        data_ads[col] = (
            data_ads[col]
            .astype(str)
            .str.strip()
            .str.upper()
            .str.replace('_', ' ', regex=False)
        )

In [19]:
### Mengambil data Fundraiser Name untuk CRM
# Assign CRM based on Fundraiser Name
def assign_crm(name):
    if name == 'INDRA':
        return 'Zisco Indra'
    elif name == 'MOH JAMALUDIN':
        return 'Zisco Jamal'
    elif name == 'ANANG MASTOLKA':
        return 'Zisco Anang'
    elif name == 'ZIYAD':
        return 'Zisco Ziyad'
    elif name == 'AGUS HENDRIAWAN':
        return 'Zisco Agus'
    elif name == 'LULUK WAHYU':
        return 'Zisco Luluk'
    elif name == 'MOCH ROHADI':
        return 'Zisco Rohadi'
    elif name == 'FAHRIZAL IDHAM P.':
        return 'Zisco Idham'
    elif name == 'MUHAMMAD RIFKY NAILUL FALAQ':
        return 'Zisco Rifky'
    elif name == 'FANDI F':
        return 'Zisco Fandi'
    elif name == 'DEDI SETIAWAN':
        return 'Zisco Dedi'
    elif name == 'TAUFI QURRACHMAN':
        return 'Zisco Taufi'
    # elif name in ['Citra', 'Dina']:
    #     return 'WA 2028'
    else:
        return np.nan

data_ads['CRM'] = data_ads['Fundraiser Name'].apply(assign_crm)

In [20]:
da_anisa = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CS/data cs Renita.xlsx')
da_hana = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CS/data cs Widya.xlsx')
da_nia = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CS/data cs Keken.xlsx')
da_syifa = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CS/data cs Udin.xlsx')
da_rani = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CS/data cs Karin.xlsx')
da_samsul = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CS/data cs Samsul.xlsx')
da_dian = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CS/data cs Dian.xlsx')
da_2037 = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CS/data cs 2037.xlsx')
da_2038 = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CS/data cs 2038.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/HP/OneDrive/Documents/KERJAAA/CS/data cs Renita.xlsx'

In [ ]:
# Bersihkan da_anisa
da_anisa = da_anisa.drop_duplicates(subset='Whatsapp', keep='first')
da_anisa = da_anisa.dropna(subset=['Whatsapp'])

# Bersihkan da_hana
da_hana = da_hana.drop_duplicates(subset='Whatsapp', keep='first')
da_hana = da_hana.dropna(subset=['Whatsapp'])

# Bersihkan da_nia
da_nia = da_nia.drop_duplicates(subset='Whatsapp', keep='first')
da_nia = da_nia.dropna(subset=['Whatsapp'])

# Bersihkan da_syifa
da_syifa = da_syifa.drop_duplicates(subset='Whatsapp', keep='first')
da_syifa = da_syifa.dropna(subset=['Whatsapp'])

# Bersihkan da_rani
da_rani = da_rani.drop_duplicates(subset='Whatsapp', keep='first')
da_rani = da_rani.dropna(subset=['Whatsapp'])

In [ ]:
# Jika semua data tersimpan dalam list:
da = [da_anisa, 
      da_hana, 
      da_nia, 
      da_syifa,
      da_rani,
      da_samsul,
      da_dian]
database_da = pd.concat(da, ignore_index=True)

In [21]:
database_da['Whatsapp'].duplicated().sum()

NameError: name 'database_da' is not defined

In [ ]:
database_da['CRM'].unique()

array(['WA 9009', 'WA 8004', 'WA 2029', 'WA 5009', 'WA 2032', 'WA 2035',
       'WA 2036'], dtype=object)

In [ ]:
#DROP data yang tidak diperlukan
database_da = database_da.drop(['Donatur','Program','Sapaan'], axis=1)

In [ ]:
#### NORMASLISASI NOMOR WA
def normalisasi_wa(nomor):
    nomor = str(nomor).strip()
    if nomor.startswith('0'):
        return '62' + nomor[1:]
    elif nomor.startswith('8'):
        return '62' + nomor
    elif nomor.startswith('+62'):
        return '62' + nomor[3:]
    elif nomor.startswith('62'):
        return nomor
    else:
        return nomor  # fallback

# Terapkan ke kedua data
database_da['WA_Norm'] = database_da['Whatsapp'].apply(normalisasi_wa)

In [ ]:
#DROP data yang tidak diperlukan
database_da = database_da.drop(['Whatsapp'], axis=1)

# menyesuaikan nama kolom jika ada nama kolom yang belum sesuai standarisasi
kolom = {"WA_Norm": "Whatsapp"}
# rename
database_da = database_da.rename(columns=kolom)

In [ ]:
database_da.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26710 entries, 0 to 26709
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CRM       26710 non-null  object
 1   Whatsapp  26710 non-null  object
dtypes: object(2)
memory usage: 417.5+ KB

In [ ]:
database_da['CRM'].value_counts()

CRM
WA 5009    5358
WA 2029    5307
WA 8004    5091
WA 2032    4584
WA 9009    4370
WA 2035    1000
WA 2036    1000
Name: count, dtype: int64

In [ ]:
da_samsul['Whatsapp'].duplicated().sum()

np.int64(0)

In [ ]:
da_dian['Whatsapp'].duplicated().sum()

np.int64(0)

In [ ]:
database_da['Whatsapp'].duplicated().sum()

np.int64(1370)

In [ ]:
database_da['Whatsapp'].duplicated().sum()
# Menghapus duplikat berdasarkan kolom 'Whatsapp'       
database_da = database_da.drop_duplicates(subset='Whatsapp', keep='first')
# Menghapus baris yang memiliki nilai NaN pada kolom 'Whatsapp' 
database_da = database_da.dropna(subset=['Whatsapp'])

In [ ]:
# 1. Jika kolom mengandung NaN, isi dulu dengan nilai sementara atau hilangkan baris NaN
data_ads['Whatsapp'] = data_ads['Whatsapp'].astype(int)
database_da['Whatsapp'] = database_da['Whatsapp'].astype(int)

In [ ]:
# Lakukan merge dengan data CRM
data_ads = data_ads.merge(database_da[['Whatsapp', 'CRM']], on='Whatsapp', how='left', suffixes=('', '_new'))

# Isi kolom CRM yang kosong dengan data dari CRM_new (hasil join)
data_ads['CRM'] = data_ads['CRM'].fillna(data_ads['CRM_new'])

# Hapus kolom CRM_new (karena sudah dipakai)
data_ads = data_ads.drop(columns=['CRM_new'])

In [28]:
data_ads

,Donatur,Email,Date,Total,Comment,Payment Status,Payment Number,Payment Account,Fundraiser Name,Program,UTM Source,Bulan_Angka,Nama_Bulan,is_random,Whatsapp,Source,CRM
0,Sudarsono,NaN,2025-06-23 23:52:00,100853,NaN,Waiting,https://app.shopeepay.co.id/u/pay_checkout?typ...,SHOPEEPAY,TEMAN BAIK 1,SEDEKAH PALESTINA,fb,6,June,True,6285345820652,Web Ads,NaN
1,Herlin novia,NaN,2025-06-23 23:37:00,100329,NaN,Waiting,https://m.dana.id/s/rxh2729l,DANA,TEMAN BAIK 1,INFAK PALESTINA: BENTUK PEDULI KITA KEPADA SAU...,fb,6,June,True,6281905157027,Web Ads,NaN
2,Nandang trisnantoro,NaN,2025-06-23 23:22:00,53618,Selalu murahkan rejeki Ya Allah agar bisa sela...,Waiting,1900800023755289,BCA VA,TEMAN BAIK 1,SEDEKAH PALESTINA,ig,6,June,True,6282199004554,Web Ads,NaN
3,Hayati,NaN,2025-06-23 23:11:00,100563,NaN,Waiting,https://m.dana.id/s/hn9r6j4b,DANA,TEMAN BAIK 1,INFAK PALESTINA: BENTUK PEDULI KITA KEPADA SAU...,fb,6,June,True,6285768951788,Web Ads,NaN
4,Jamilatul Awalin,allenasupyan@gmail.com,2025-06-23 22:54:00,100018,Semoga Alloh ta&#039;ala berkenan mencatat seb...,Waiting,https://flip.id/pwf/transaction/consolidated?r...,QRIS,TEMAN BAIK 1,SEDEKAH PALESTINA,fb,6,June,True,6285883310549,Web Ads,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1908,082374934949,NaN,2025-06-01 05:05:00,103683,NaN,Waiting,145520000002578944,BRI VA,TEMAN BAIK 1,INFAK PALESTINA: BENTUK PEDULI KITA KEPADA SAU...,fb,6,June,True,6282374934949,Web Ads,NaN
1909,Syinta,NaN,2025-06-01 05:03:00,100932,NaN,Waiting,https://api.midtrans.com/v2/gopay/1cb39c31-44e...,GOPAY,TEMAN BAIK 1,INFAK PALESTINA: BENTUK PEDULI KITA KEPADA SAU...,ig,6,June,True,6281315207897,Web Ads,NaN
1910,Dullah,abdlatiflahay@gmail.com,2025-06-01 04:49:00,103698,NaN,Waiting,145520000002578848,BRI VA,TEMAN BAIK 1,INFAK PALESTINA: BENTUK PEDULI KITA KEPADA SAU...,fb,6,June,True,6281340374968,Web Ads,NaN
1911,Andi Nurlaela,bundaalaela@gmail.com,2025-06-01 04:31:00,100127,NaN,Waiting,https://flip.id/pwf/transaction/consolidated?r...,QRIS,NAN,INFAK PALESTINA: BENTUK PEDULI KITA KEPADA SAU...,NaN,6,June,True,6287785190893,Web Ads,NaN
1912,PEBRIADI FAHREZI,plnsidimpuan@gmail.com,2025-06-01 01:14:00,1000189,Semoga negara Palestine cepat merdeka,Waiting,Mandiri 1410000665448,Yayasan Teman Jalan Kebaikan,TEMAN BAIK 1,INFAK PALESTINA: BENTUK PEDULI KITA KEPADA SAU...,fb,6,June,True,6281361691421,Web Ads,NaN

In [23]:
database_da['CRM'].value_counts()

NameError: name 'database_da' is not defined

In [ ]:
data_ads['CRM'].value_counts(dropna=False)

CRM
NaN             20764
WA 5009          6039
WA 8004          5955
WA 2029          5900
WA 9009          5082
WA 2032          4123
WA 2036          1031
WA 2035           983
Zisco Ziyad        70
Zisco Luluk        19
Zisco Jamal         9
Zisco Rohadi        8
Zisco Idham         3
Zisco Dedi          2
Zisco Anang         2
Zisco Fandi         1
Zisco Agus          1
Zisco Rifky         1
Zisco Indra         1
Zisco Taufi         1
Name: count, dtype: int64

#### Pemetaan CRM by Periode

In [ ]:
# Isi CRM berdasarkan rentang tanggal
data_ads.loc[
    (data_ads['Date'] >= '2025-04-30') &
    (data_ads['Date'] <= '2025-05-20') &
    (data_ads['CRM'].isna()),
    'CRM'
] = 'WA 2028'

# data_ads.loc[
#     (data_ads['Tanggal'] >= '2025-05-21') &
#     (data_ads['Tanggal'] <= '2025-05-31'),
#     'CRM'
# ] = 'WA 2029'

In [ ]:
data_ads['CRM'].value_counts(dropna=False)

CRM
NaN             15409
WA 5009          6039
WA 8004          5955
WA 2029          5900
WA 2028          5355
WA 9009          5082
WA 2032          4123
WA 2036          1031
WA 2035           983
Zisco Ziyad        70
Zisco Luluk        19
Zisco Jamal         9
Zisco Rohadi        8
Zisco Idham         3
Zisco Anang         2
Zisco Dedi          2
Zisco Fandi         1
Zisco Agus          1
Zisco Rifky         1
Zisco Indra         1
Zisco Taufi         1
Name: count, dtype: int64

#### Merge Data Retensi dan CTWA

In [ ]:
## Data Retensi dan CTWA sebelumnya
# allretensi = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/OUTPUT/ALL Data Retensi.xlsx')

## Data Retensi Per CS
aa = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CLOSING CS/April/Closing Renita April.xlsx')
a = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CLOSING CS/Mei/Closing Renita Mei.xlsx')
b = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CLOSING CS/Mei/Closing Widya Mei.xlsx')
c = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CLOSING CS/Mei/Closing Keken Mei.xlsx')
d = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CLOSING CS/Mei/Closing Udin Mei.xlsx')
renita = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CLOSING CS/Juni/Closing Renita Juni.xlsx')
widya = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CLOSING CS/Juni/Closing Widya Juni.xlsx')
keken = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CLOSING CS/Juni/Closing Keken Juni.xlsx')
udin = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CLOSING CS/Juni/Closing Udin Juni.xlsx')
karin = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CLOSING CS/Juni/Closing Karin Juni.xlsx')
# samsul = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CLOSING CS/Juni/Closing Samsul Juni.xlsx')
# dian = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CLOSING CS/Juni/Closing Dian Juni.xlsx')

## Data CTWA
ctwa1 = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CTWA/CTWA Mei.xlsx')
ctwa2 = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CTWA/CTWA Udin.xlsx')
ctwa3 = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CTWA/CTWA 9009.xlsx', sheet_name='Rekap_CTWA')
ctwa4 = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CTWA/CTWA 2032.xlsx', sheet_name='Rekap_CTWA')
ctwa5 = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CTWA/CTWA 2035.xlsx', sheet_name='Rekap_CTWA')
ctwa6 = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CTWA/CTWA 2036.xlsx', sheet_name='Rekap_CTWA')
ctwa7 = pd.read_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/CTWA/CTWA Widya.xlsx', sheet_name='CTWA')

c:\Users\HP\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\HP\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\HP\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\HP\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [ ]:
keken.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CRM       391 non-null    object
 1   Tanggal   391 non-null    datetime64[ns]
 2   Nama      391 non-null    object
 3   Whatsapp  391 non-null    int64
 4   Bank      391 non-null    object
 5   Donasi    391 non-null    int64
 6   Akad      391 non-null    object
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 21.5+ KB

In [ ]:
# Hapus semua karakter yang bukan angka
keken['Whatsapp'] = keken['Whatsapp'].astype(str).str.replace(r'\D', '', regex=True)
# Konversi ke integer
keken['Whatsapp'] = keken['Whatsapp'].astype(int)

In [ ]:
# Gabungkan data retensi
retensi = [
            aa
            ,a
            ,b
            ,c
            ,d
            ,renita
            ,widya
            ,keken
            ,udin
            ,karin
            # , samsul
            # , dian
           ] 
database_retensi = pd.concat(retensi, ignore_index=True)

# Pastikan kolom 'Whatsapp' hanya berisi angka, lalu kosongkan jika tidak ada angka
database_retensi['Whatsapp'] = database_retensi['Whatsapp'].astype(str).str.replace(r'\D', '', regex=True)

# Drop baris dengan Whatsapp kosong ('') atau null
database_retensi = database_retensi[database_retensi['Whatsapp'].str.strip() != '']
database_retensi = database_retensi[database_retensi['Whatsapp'].notna()]

# Konversi ke integer setelah data bersih
database_retensi['Whatsapp'] = database_retensi['Whatsapp'].astype(int)

# Tambahkan kolom 'Payment Status' di database retensi
database_retensi['Payment Status'] = 'Success'
# Tambahkan kolom 'is_random' di database retensi
database_retensi['is_random'] = True

In [ ]:
database_retensi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1562 entries, 0 to 2191
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Tanggal         1562 non-null   datetime64[ns]
 1   CRM             1487 non-null   object
 2   Nama            1562 non-null   object
 3   Whatsapp        1562 non-null   int64
 4   Bank            1560 non-null   object
 5   Donasi          1562 non-null   float64
 6   Akad            1560 non-null   object
 7   Unnamed: 7      0 non-null      object
 8   Unnamed: 8      1 non-null      float64
 9   Unnamed: 9      0 non-null      object
 10  Payment Status  1562 non-null   object
 11  is_random       1562 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 148.0+ KB

In [ ]:
#database_retensi = pd.concat([database_retensi, allretensi], ignore_index=True)

In [ ]:
# database_retensi.to_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/OUTPUT/ALL Data Retensi.xlsx', index=False)

In [ ]:
# Gabungkan semua data
ctwa = pd.concat([ctwa1, ctwa2, ctwa3, ctwa4, ctwa5, ctwa6, ctwa7], ignore_index=True)

# Pastikan kolom 'Whatsapp' hanya berisi angka, lalu kosongkan jika tidak ada angka
ctwa['Whatsapp'] = ctwa['Whatsapp'].astype(str).str.replace(r'\D', '', regex=True)

# Drop baris dengan Whatsapp kosong ('') atau null
ctwa = ctwa[ctwa['Whatsapp'].str.strip() != '']
ctwa = ctwa[ctwa['Whatsapp'].notna()]

# Konversi ke integer setelah data bersih
ctwa['Whatsapp'] = ctwa['Whatsapp'].astype(int)

# Tambahkan kolom tambahan
ctwa['is_random'] = True
ctwa['Source'] = 'CTWA'

In [ ]:
ctwa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1880 entries, 0 to 2917
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Tanggal         1880 non-null   datetime64[ns]
 1   CRM             1880 non-null   object
 2   Nama            1793 non-null   object
 3   Whatsapp        1880 non-null   int64
 4   Payment Status  1879 non-null   object
 5   Akad            1544 non-null   object
 6   Bank            404 non-null    object
 7   Donasi          407 non-null    float64
 8   Nama Rekening   5 non-null      object
 9   FU 1            0 non-null      float64
 10  FU 2            0 non-null      float64
 11  Report          0 non-null      float64
 12  Unnamed: 8      0 non-null      float64
 13  Unnamed: 9      0 non-null      float64
 14  Unnamed: 10     0 non-null      object
 15  Catatan         9 non-null      object
 16  is_random       1880 non-null   bool
 17  Source          1880 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(6), int64(1), object(9)
memory usage: 266.2+ KB

In [ ]:
database_add = pd.concat([database_retensi, ctwa], ignore_index=True)

In [ ]:
database_add.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3442 entries, 0 to 3441
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Tanggal         3442 non-null   datetime64[ns]
 1   CRM             3367 non-null   object
 2   Nama            3355 non-null   object
 3   Whatsapp        3442 non-null   int64
 4   Bank            1964 non-null   object
 5   Donasi          1969 non-null   float64
 6   Akad            3104 non-null   object
 7   Unnamed: 7      0 non-null      object
 8   Unnamed: 8      1 non-null      float64
 9   Unnamed: 9      0 non-null      object
 10  Payment Status  3441 non-null   object
 11  is_random       3442 non-null   bool
 12  Nama Rekening   5 non-null      object
 13  FU 1            0 non-null      float64
 14  FU 2            0 non-null      float64
 15  Report          0 non-null      float64
 16  Unnamed: 10     0 non-null      object
 17  Catatan         9 non-null      object
 18  Source          1880 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(5), int64(1), object(11)
memory usage: 487.5+ KB

In [ ]:
## Standarisasi nama kolom untuk database retensi
database_add.rename(columns={'Tanggal' : 'Date',
                                 'Nama' : 'Donatur', 
                                 'Bank' : 'Payment Account', 
                                 'Donasi' : 'Total',
                                 'Akad' : 'Program'}, 
                        inplace=True)

In [ ]:
database_add.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3442 entries, 0 to 3441
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             3442 non-null   datetime64[ns]
 1   CRM              3367 non-null   object
 2   Donatur          3355 non-null   object
 3   Whatsapp         3442 non-null   int64
 4   Payment Account  1964 non-null   object
 5   Total            1969 non-null   float64
 6   Program          3104 non-null   object
 7   Unnamed: 7       0 non-null      object
 8   Unnamed: 8       1 non-null      float64
 9   Unnamed: 9       0 non-null      object
 10  Payment Status   3441 non-null   object
 11  is_random        3442 non-null   bool
 12  Nama Rekening    5 non-null      object
 13  FU 1             0 non-null      float64
 14  FU 2             0 non-null      float64
 15  Report           0 non-null      float64
 16  Unnamed: 10      0 non-null      object
 17  Catatan          9 non-null      object
 18  Source           1880 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(5), int64(1), object(11)
memory usage: 487.5+ KB

In [ ]:
# database_add = pd.concat([retensictwa, data_add], ignore_index=True)

In [ ]:
# database_add.to_excel('C:/Users/HP/OneDrive/Documents/KERJAAA/OUTPUT/Raw Data 2025 Retensi & CTWA.xlsx', index=False)

In [25]:
# Cek dan buang kolom yang sama namanya dua kali
data_ads = data_ads.loc[:, ~data_ads.columns.duplicated()]
# database_add = database_add.loc[:, ~database_add.columns.duplicated()]

# Satukan (append baris-baris dari dua DataFrame)
# database_all = pd.concat([data_ads, database_add], ignore_index=True)

In [26]:
data_ads.info()
database_add.info()
database_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1913 entries, 0 to 1912
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Donatur          1911 non-null   object
 1   Email            585 non-null    object
 2   Date             1913 non-null   datetime64[ns]
 3   Total            1913 non-null   int64
 4   Comment          1075 non-null   object
 5   Payment Status   1913 non-null   object
 6   Payment Number   1913 non-null   object
 7   Payment Account  1913 non-null   object
 8   Fundraiser Name  1913 non-null   object
 9   Program          1913 non-null   object
 10  UTM Source       1284 non-null   object
 11  Bulan_Angka      1913 non-null   int32
 12  Nama_Bulan       1913 non-null   object
 13  is_random        1913 non-null   bool
 14  Whatsapp         1913 non-null   object
 15  Source           1913 non-null   object
 16  CRM              0 non-null      float64
dtypes: bool(1), datetime64[ns](1), float64(1), int32(1), int64(1), object(12)
memory usage: 233.6+ KB

NameError: name 'database_add' is not defined

#### Pemetaan Kategori Program dan Payment

In [44]:
# Daftar kolom yang ingin diproses
target_cols = ['Program', 'Payment Status', 'Payment Number', 'Payment Account']

# Proses hanya kolom tertentu
for col in target_cols:
    if col in data_ads.columns:  # cek agar tidak error jika kolom tidak ada
        data_ads[col] = (
            data_ads[col]
            .astype(str)
            .str.replace(r'\s+', ' ', regex=True)  # Hapus spasi berlebih
            .str.strip()                           # Hapus spasi di awal/akhir
            .str.upper()
            .str.replace('_', ' ', regex=False)
        )

In [ ]:
# kategori_program  = {
#     # SEDEKAH UNTUK PALESTINA
#     'SEDEKAH KEMANUSIAAN: BANGUN KEMBALI PALESTINA' : 'SEDEKAH UNTUK PALESTINA', 
#     'BANGUN KEMBALI PALESTINA' : 'SEDEKAH UNTUK PALESTINA', 
#     'SEDEKAH PALESTINA' : 'SEDEKAH PALESTINA', 
#     'SEDEKAH UNTUK PALESTINA' : 'SEDEKAH UNTUK PALESTINA', 
#     'BANGUN KEMBALI GAZA' : 'SEDEKAH UNTUK PALESTINA', 
#     'INFAK PALESTINA' : 'SEDEKAH UNTUK PALESTINA', 
#     'INFAQ PALESTINA' : 'SEDEKAH UNTUK PALESTINA', 
#     'SEDEKAH SUBUH UNTUK PALESTINA' : 'SEDEKAH UNTUK PALESTINA', 
#     'SEDEKAH SUBUH UNTUK PALESTINA' : 'SEDEKAH UNTUK PALESTINA',
#     'INFAK UNTUK PALESTINA' : 'SEDEKAH UNTUK PALESTINA',  
#     'SEDEKAH SUBUH UNTUK PENGHAFAL QURAN GAZA' : 'SEDEKAH UNTUK PALESTINA',   
#     'HADIAH UNTUK GAZA PALESTINA' : 'SEDEKAH UNTUK PALESTINA', 
#     'SELAMATKAN PALESTINA DARI KELAPARAN!!' : 'SEDEKAH UNTUK PALESTINA', 
#     'PALESTINA' : 'SEDEKAH UNTUK PALESTINA',

#     'DOMBA PALESTINA' : 'SEDEKAH DAGING UNTUK PALESTINA',
#     'SEDEKAH DAGING PALESTINA' : 'SEDEKAH DAGING UNTUK PALESTINA',
    
#     'BERBAGI BUKA PUASA DENGAN YATIM PALESTINA' : 'RAMADHAN PALESTINA',
#     'BERBAGI BERBUKA YATIM PALESTINA' : 'RAMADHAN PALESTINA', 
#     'SEDEKAH KADO LEBARAN PALESTINA' : 'RAMADHAN PALESTINA', 
#     'KADO LEBARAN PALESTINA' : 'RAMADHAN PALESTINA', 
#     'SEDEKAH AIR BERSIH UNTUK PALESTINA' : 'RAMADHAN PALESTINA', 

#     'AL QURAN UNTUK PALESTINA' : 'AL QURAN UNTUK PALESTINA',

#     'ZAKAT PALESTINA' : 'ZAKAT UNTUK PALESTINA', 
#     'ZAKAT UNTUK PALESTINA' : 'ZAKAT UNTUK PALESTINA',

#     # SEDEKAH UMUM
#     'SEDEKAH' : 'SEDEKAH UMUM',
#     'INFAK' : 'SEDEKAH UMUM',
#     'SEDEKAH/INFAK HARIAN' : 'SEDEKAH UMUM', 
#     'SEDEKAH UMUM' : 'SEDEKAH UMUM',
#     'INFAK UMUM' : 'SEDEKAH UMUM',
#     'SEDEKAH SUBUH' : 'SEDEKAH UMUM', 
#     'SEDEKAH SHUBUH' : 'SEDEKAH UMUM', 
#     'SEDEKAH JUMAT' : 'SEDEKAH UMUM', 
#     'SEDEKAH JUMAT' : 'SEDEKAH UMUM', 
#     'SEDEKAH HARIAN' : 'SEDEKAH UMUM', 

#     # SEDEKAH JARIYAH
#     'SEDEKAH AIR BERSIH' : 'SEDEKAH JARIYAH', 
#     'PEMBEBASAN LAHAN SEKOLAH PENGHAFAL AL-QURAN' : 'SEDEKAH JARIYAH',  
#     'SEDEKAH JARIYAH SUMUR BOR' : 'SEDEKAH JARIYAH', 
#     'BANTU RENOVASI TEMPAT IBADAH DI PELOSOK DESA' : 'SEDEKAH JARIYAH',
#     'WAKAF MASJID' : 'SEDEKAH JARIYAH',
#     'WAKAF UMUM': 'SEDEKAH JARIYAH',
#     'SEDEKAH JARIYAH' : 'SEDEKAH JARIYAH',

#     # SEASONAL
#     'RAMADHAN' : 'SEASONAL',
#     'ZAKAT FITRAH' : 'SEASONAL',   
#     'SEDEKAH BUKA PUASA' : 'SEASONAL', 
#     'SEDEKAH KADO LEBARAN' : 'SEASONAL', 

#     'QURBAN FLASHSALE' : 'QURBAN',
#     'QURBAN' : 'QURBAN',

#     # SEDEKAH QURAN
#     'AL QURAN' : 'SEDEKAH AL QURAN',
#     'TEBAR MANFAAT QURAN' : 'SEDEKAH AL QURAN', 
#     'SEDEKAH QURAN, HADIAH TERINDAH DI AKHIRAT' : 'SEDEKAH AL QURAN',
#     'INFAK PROGRAM QURAN, AMAL TIADA HENTI' : 'SEDEKAH AL QURAN', 
#     'SEDEKAH PROGRAM QURAN, AMAL YANG TAK TERPUTUS' : 'SEDEKAH AL QURAN', 
#     'SEDEKAH SUBUH SANTRI PENGHAFAL QURAN' : 'SEDEKAH AL QURAN', 
#     'SEDEKAH AL QURAN' : 'SEDEKAH AL QURAN', 
#     'SEDEKAH QURAN' : 'SEDEKAH AL QURAN', 
#     'SEDEKAH QURAN UNTUK SANTRI' : 'SEDEKAH AL QURAN', 

#     # SEDEKAH UNTUK ANAK YATIM
#     'YATIM PIATU' : 'SEDEKAH UNTUK YATIM DAN DHUAFA',
#     'INFAK YATIM' : 'SEDEKAH UNTUK YATIM DAN DHUAFA', 
#     'BUKA PUASA YATIM DAN DUAFA' : 'SEDEKAH UNTUK YATIM DAN DHUAFA', 
#     'SEDEKAH YATIM DAN DHUAFA' : 'SEDEKAH UNTUK YATIM DAN DHUAFA', 
#     'SEDEKAH YATIM DAN  DHUAFA' : 'SEDEKAH UNTUK YATIM DAN DHUAFA', 
#     'SEDEKAH YATIM DHUAFA' : 'SEDEKAH UNTUK YATIM DAN DHUAFA', 
#     'INFAK YATIM DAN DUAFA' : 'SEDEKAH UNTUK YATIM DAN DHUAFA',
#     'SEDEKAH UNTUK ANAK YATIM' : 'SEDEKAH UNTUK YATIM DAN DHUAFA',
#     'SEDEKAH ANAK YATIM' : 'SEDEKAH UNTUK YATIM DAN DHUAFA',


#     # SEDEKAH UNTUK PENGOBATAN
#     'BANTU WILDAN SEMBUH DARI TUMOR STADIUM 3' : 'SEDEKAH UNTUK PENGOBATAN',
#     '1 TAHUN BERJUANG MELAWAN TUMOR STADIUM 3' : 'SEDEKAH UNTUK PENGOBATAN',
 
#     'FIDYAH' : 'FIDYAH', 
#     'LUNASI HUTANG PUASA DENGAN BAYAR FIDYAH' : 'FIDYAH', 

#     'SEDEKAH SUBUH UNTUK ORANG TUA' : 'SEDEKAH UNTUK ORANG TUA',
#     'SEDEKAH UNTUK ORANG TUA' : 'SEDEKAH UNTUK ORANG TUA',

#     'ZAKAT PENGHASILAN KITA UNTUK KEBERMANFAATAN' : 'ZAKAT PENGHASILAN/PROFESI',
#     'ZAKAT PENGHASILAN/PROFESI' : 'ZAKAT PENGHASILAN/PROFESI', 
#     'ZAKAT PENGHASILAN' : 'ZAKAT PENGHASILAN/PROFESI',

#     'LAYANAN AMBULANCE GRATIS' : 'LAYANAN AMBULANCE GRATIS', 
#     'INFAQ OPERASIONAL AMIL' : 'INFAQ OPERASIONAL AMIL', 
#     'DONASI BUNGA BANK' : 'DONASI BUNGA BANK',
#     'SEDEKAH BUKA PUASA SUNNAH' : 'SEDEKAH BUKA PUASA SUNNAH', 
#     'SEDEKAH BERAS RAKYAT' : 'SEDEKAH BERAS RAKYAT', 
#     'ZAKAT' : 'ZAKAT MAAL', 
#     'ZAKAT MAAL' : 'ZAKAT MAAL', 
#     'BEASISWA BINTANG' : 'BEASISWA BINTANG'
#     }

# # Asumsikan kolom program bernama 'Program'
# database_all['Kategori Program'] = database_all['Program'].map(kategori_program)

In [ ]:
## Mengklasifikasikan Program Donasi
# Daftar kondisi
conditions_program = [
                database_all['Program'].str.contains("PALESTINA|GAZA", case=False, na=False),
                database_all['Program'].str.contains("QURAN|AL-QURAN", case=False, na=False),
                database_all['Program'].str.contains("MASJID|RENOVASI|AIR BERSIH|PEMBEBASAN LAHAN|JARIYAH|WAKAF", case=False, na=False),
                database_all['Program'].str.contains("YATIM", case=False, na=False),
                database_all['Program'].str.contains("QURBAN", case=False, na=False),
                database_all['Program'].str.contains("BEASISWA", case=False, na=False),
                database_all['Program'].str.contains("OPERASIONAL AMIL", case=False, na=False),
                database_all['Program'].str.contains("BUNGA BANK", case=False, na=False),
                database_all['Program'].str.contains("FIDYAH", case=False, na=False),
                database_all['Program'].str.contains("TUMOR", case=False, na=False),
                database_all['Program'].str.contains("HARIAN|SUBUH|SHUBUH|UMUM|SEDEKAH|INFAK", case=False, na=False)
]


# Nilai untuk setiap kondisi
choices_program = [
    "PALESTINA",
    "AL QURAN",
    "JARIYAH",
    "YATIM DAN DHUAFA",
    "QURBAN",
    "BEASISWA",
    "OPERASIONAL AMIL",
    "BUNGA BANK",
    "FIDYAH",
    "PENGOBATAN",
    "UMUM"
]

# 1. Buat Payment berdasar conditions & choices
database_all['Kategori Program'] = np.select(conditions_program, choices_program, default="LAINNYA")

In [ ]:
kosong_kategori = database_all[database_all['Kategori Program'].isna()]
kosong_kategori['Program'].dropna().unique()

array([], dtype=object)

##### Standarisasi Payment Account

In [ ]:
## jika mengandung "Taman Zakat Indonesia"
mask_tzi = database_all['Payment Account'].str.fullmatch("TAMAN ZAKAT INDONESIA", case=False, na=False)
database_all.loc[mask_tzi, 'Payment Account'] = database_all.loc[mask_tzi, 'Payment Number']
## jika mengandung "IPAYMU"
mask_ipaymu = database_all['Payment Account'].str.fullmatch("IPAYMU", case=False, na=False)
database_all.loc[mask_ipaymu, 'Payment Account'] = database_all.loc[mask_ipaymu, 'Payment Number']

In [ ]:
## Mengklasifikasikan Program Donasi
# Daftar kondisi
conditions = [
                database_all['Payment Account'].str.contains("MANDIRI", case=False, na=False),
                database_all['Payment Account'].str.contains("MUAMALAT", case=False, na=False),
                database_all['Payment Account'].str.contains("PERMATA", case=False, na=False),
                database_all['Payment Account'].str.contains("CIMB NIAGA", case=False, na=False),
                database_all['Payment Account'].str.contains("CIMB", case=False, na=False),
                database_all['Payment Account'].str.contains("DANAMON", case=False, na=False),
                database_all['Payment Account'].str.contains("JATIM", case=False, na=False),
                database_all['Payment Account'].str.contains("021101002263302", case=False, na=False),
                database_all['Payment Account'].str.contains("BRI", case=False, na=False),
                database_all['Payment Account'].str.contains("BSI", case=False, na=False),
                database_all['Payment Account'].str.contains("BNI", case=False, na=False),
                database_all['Payment Account'].str.contains("2719095555", case=False, na=False),
                database_all['Payment Account'].str.contains("BCA", case=False, na=False),
                database_all['Payment Account'].str.contains("SHOPEEPAY", case=False, na=False),
                database_all['Payment Account'].str.contains("DANA", case=False, na=False),
                database_all['Payment Account'].str.contains("OVO", case=False, na=False),
                database_all['Payment Account'].str.contains("LINKAJA", case=False, na=False),
                database_all['Payment Account'].str.contains("LINKITA", case=False, na=False),
                database_all['Payment Account'].str.contains("GOPAY", case=False, na=False),
                database_all['Payment Account'].str.contains("QRIS", case=False, na=False),
                database_all['Payment Account'].str.contains("BAG", case=False, na=False),
                database_all['Payment Account'].str.contains("BMI", case=False, na=False),
                database_all['Payment Account'].str.contains("PLASAMALL", case=False, na=False)
]


# Nilai untuk setiap kondisi
choices = [
    "MANDIRI",
    "MUAMALAT",
    "PERMATA",
    "CIMB NIAGA",
    "CIMB NIAGA",
    "DANAMON",
    "JATIM",
    "BRI",
    "BRI",
    "BSI",
    "BNI",
    "BCA",
    "BCA",
    "SHOPEEPAY",
    "DANA",
    "OVO",
    "LINKAJA",
    "LINKITA",
    "GOPAY",
    "QRIS",
    "BAG",
    "BMI",
    "PLASAMALL"
]

# 1. Buat Payment berdasar conditions & choices
database_all['Payment'] = np.select(conditions, choices, default="LAINNYA")

In [ ]:
#database['Payment Account'].unique()
database_all['Payment'].unique()

array(['MANDIRI', 'BRI', 'BCA', 'PERMATA', 'BNI', 'CIMB NIAGA', 'DANA',
       'BSI', 'SHOPEEPAY', 'QRIS', 'PLASAMALL', 'LINKITA', 'GOPAY', 'OVO',
       'MUAMALAT', 'LINKAJA', 'DANAMON', 'BMI', 'BAG', 'JATIM', 'LAINNYA'],
      dtype=object)

In [ ]:
database_all[database_all['Payment'] == 'LAINNYA'].head()

,Donatur,Email,Date,Total,Comment,Payment Status,Payment Number,Payment Account,Fundraiser Name,Program,...,Unnamed: 8,Unnamed: 9,Nama Rekening,FU 1,FU 2,Report,Unnamed: 10,Catatan,Kategori Program,Payment
50298,Yusuf Dahri Dasopang,NaN,2025-03-29,100000.0,NaN,SUCCESS,NAN,NAN,NaN,INFAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UMUM,LAINNYA
50309,Hamba Allah,NaN,2025-03-30,100000.0,NaN,SUCCESS,NAN,NAN,NaN,AL QURAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AL QURAN,LAINNYA
51593,Maryati,NaN,2025-04-07,100000.0,NaN,SUCCESS,NAN,NAN,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,LAINNYA
51601,Hamba Allah,NaN,2025-04-09,NaN,NaN,WAITING,NAN,NAN,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,LAINNYA
51602,Nenek Shanum,NaN,2025-04-09,NaN,NaN,WAITING,NAN,NAN,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,LAINNYA

In [ ]:
kosong_payment = database_all[database_all['Payment'] == 'LAINNYA']
kosong_payment['Payment Account'].dropna().unique()

array(['NAN', '/', 'DB'], dtype=object)

In [ ]:
# Tampilkan baris dengan Kategori Program yang kosong/NaN
database_all[database_all['Payment Account'].isna()]

Empty DataFrame
Columns: [Donatur, Email, Date, Total, Comment, Payment Status, Payment Number, Payment Account, Fundraiser Name, Program, UTM Source, Bulan_Angka, Nama_Bulan, is_random, Whatsapp, Source, CRM, Unnamed: 7, Unnamed: 8, Unnamed: 9, Nama Rekening, FU 1, FU 2, Report, Unnamed: 10, Catatan, Kategori Program, Payment]
Index: []

[0 rows x 28 columns]

In [ ]:
# Tampilkan baris dengan Kategori Program yang kosong/NaN
database_all[database_all['Payment Status']== 'NAN']

,Donatur,Email,Date,Total,Comment,Payment Status,Payment Number,Payment Account,Fundraiser Name,Program,...,Unnamed: 8,Unnamed: 9,Nama Rekening,FU 1,FU 2,Report,Unnamed: 10,Catatan,Kategori Program,Payment
52973,Ai,NaN,2025-06-25,NaN,NaN,NAN,NAN,NAN,NaN,SEDEKAH QURAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AL QURAN,LAINNYA

In [ ]:
# Cek apakah ada baris duplikat berdasarkan tiga kolom
duplikat = database_all.duplicated(subset=['Date', 'Whatsapp', 'Total'], keep=False)

# Tampilkan semua baris yang terdeteksi sebagai duplikat
database_all[duplikat]

,Donatur,Email,Date,Total,Comment,Payment Status,Payment Number,Payment Account,Fundraiser Name,Program,...,Unnamed: 8,Unnamed: 9,Nama Rekening,FU 1,FU 2,Report,Unnamed: 10,Catatan,Kategori Program,Payment
3078,Adi Suriyanto,adisuriyanto@gmail.com,2025-03-08 09:22:00,100020.0,NaN,SUCCESS,HTTPS://API.MIDTRANS.COM/V2/GOPAY/54E4C8A3-EF6...,GOPAY,TAMAN ZAKAT 1,INFAK PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,GOPAY
10514,Adi Suriyanto,adisuriyanto@gmail.com,2025-03-08 09:22:00,100020.0,NaN,WAITING,HTTPS://API.MIDTRANS.COM/V2/GOPAY/96EE8D38-C64...,GOPAY,TAMAN ZAKAT 1,INFAK PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,GOPAY
40019,Noor Anisyah,nooranisyah89@gmail.com,2025-05-24 05:40:00,250131.0,Semoga saudaraku di Palestina selalu diberikan...,SUCCESS,BSI 7900950057,BSI 7900950057,NAN,SEDEKAH UNTUK PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,BSI
40021,Noor Anisyah,nooranisyah89@gmail.com,2025-05-24 05:40:00,250131.0,Semoga saudaraku di Palestina selalu diberikan...,SUCCESS,BSI 7900950057,BSI 7900950057,TAMAN ZAKAT 1,SEDEKAH UNTUK PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,BSI
41247,Hamba Allah,striftomi@gmail.com,2025-05-21 22:11:00,100231.0,NaN,SUCCESS,BRI 021101002263302,BRI 021101002263302,TAMAN ZAKAT 1,INFAK PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,BRI
41248,Hamba Allah,striftomi@gmail.com,2025-05-21 22:11:00,100231.0,NaN,SUCCESS,BRI 021101002263302,BRI 021101002263302,TAMAN ZAKAT 1,INFAK PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,BRI
50002,Hamba Allah,NaN,2025-03-28 00:00:00,50000.0,NaN,SUCCESS,NAN,BRI,NaN,SEDEKAH UMUM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UMUM,BRI
50009,Hamba Allah,NaN,2025-03-28 00:00:00,50000.0,NaN,SUCCESS,NAN,BRI,NaN,SEDEKAH UMUM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UMUM,BRI
50219,Hidayat,NaN,2025-05-25 00:00:00,50000.0,NaN,SUCCESS,NAN,BCA,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,BCA
50388,Ir. Hendi Hairuddin,NaN,2025-04-21 00:00:00,250000.0,NaN,SUCCESS,NAN,MANDIRI,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,MANDIRI
50480,Hidayat Lukman,NaN,2025-05-25 00:00:00,50000.0,NaN,SUCCESS,NAN,BCA,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,BCA
50975,Muhammad Fahrudin,NaN,2025-06-25 00:00:00,100000.0,NaN,SUCCESS,NAN,BCA,NaN,SEDEKAH AL QURAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AL QURAN,BCA
50976,Muhammad Fahrudin,NaN,2025-06-25 00:00:00,100000.0,NaN,SUCCESS,NAN,BCA,NaN,SEDEKAH AL QURAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AL QURAN,BCA
51266,Paminarti,NaN,2025-06-20 00:00:00,50000.0,NaN,SUCCESS,NAN,BRI,NaN,SEDEKAH HARIAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UMUM,BRI
51267,Samsul Hadi,NaN,2025-06-20 00:00:00,50000.0,NaN,SUCCESS,NAN,BRI,NaN,SEDEKAH HARIAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UMUM,BRI
51535,Eka,NaN,2025-06-14 00:00:00,100000.0,NaN,SUCCESS,NAN,MANDIRI,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,MANDIRI
51541,Hamba Allah,NaN,2025-06-15 00:00:00,100000.0,NaN,SUCCESS,NAN,BCA,NaN,SEDEKAH YATIM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YATIM DAN DHUAFA,BCA
51542,Achmad Syaiful Bahri,NaN,2025-06-16 00:00:00,100000.0,NaN,SUCCESS,NAN,BRI,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,BRI
51551,Dilla,NaN,2025-06-21 00:00:00,20000.0,NaN,SUCCESS,NAN,BSI,NaN,SEDEKAH HARIAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UMUM,BSI
51676,Moza,NaN,2025-04-11 00:00:00,NaN,NaN,WAITING,NAN,NAN,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,LAINNYA
51694,moza,NaN,2025-04-11 00:00:00,NaN,NaN,WAITING,NAN,NAN,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,LAINNYA
51887,Hendi Fam,NaN,2025-04-21 00:00:00,250000.0,NaN,SUCCESS,NAN,MANDIRI,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,MANDIRI
52179,Y,NaN,2025-05-08 00:00:00,NaN,NaN,WAITING,NAN,NAN,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,LAINNYA
52274,~Rias Widi Pratiwi,NaN,2025-05-15 00:00:00,NaN,NaN,WAITING,NAN,NAN,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,LAINNYA
52357,Siti Rosida Erlina Srg,NaN,2025-04-24 00:00:00,NaN,NaN,WAITING,NAN,NAN,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,LAINNYA
52358,Siti Rosida Erlina Srg,NaN,2025-04-24 00:00:00,NaN,NaN,WAITING,NAN,NAN,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,LAINNYA
52359,Siti Rosida Erlina Srg,NaN,2025-04-24 00:00:00,NaN,NaN,WAITING,NAN,NAN,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,LAINNYA
52458,Y,NaN,2025-05-08 00:00:00,NaN,NaN,WAITING,NAN,NAN,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,LAINNYA
52649,Rias Widi Pratiwi,NaN,2025-05-15 00:00:00,NaN,NaN,WAITING,NAN,NAN,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,LAINNYA
53138,Dilla,NaN,2025-06-21 00:00:00,20000.0,NaN,SUCCESS,NAN,BSI,NaN,SEDEKAH HARIAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UMUM,BSI
53213,Eka,NaN,2025-06-14 00:00:00,100000.0,NaN,SUCCESS,NAN,MANDIRI,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,MANDIRI
53227,Hamba Allah,NaN,2025-06-15 00:00:00,100000.0,NaN,SUCCESS,NAN,BCA,NaN,SEDEKAH YATIM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YATIM DAN DHUAFA,BCA
53277,Achmad Syaiful Bahri,NaN,2025-06-16 00:00:00,100000.0,NaN,SUCCESS,NAN,BRI,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,BRI
53333,Bue Devi,NaN,2025-05-26 00:00:00,NaN,NaN,WAITING,NAN,NAN,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,LAINNYA
53424,Bue Devi,NaN,2025-05-26 00:00:00,NaN,NaN,WAITING,NAN,NAN,NaN,PALESTINA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PALESTINA,LAINNYA

In [ ]:
# # Langkah 1: Tandai duplikat berdasarkan tiga kolom
# duplikat_mask = database_all.duplicated(subset=['Date', 'Whatsapp', 'Total', 'Kategori Program', 'Payment'], keep=False)
# duplikat_rows = database_all[duplikat_mask].copy()

# # Langkah 2: Kelompokkan duplikat
# def filter_waiting_if_success(grup):
#     # Jika dalam grup ada 'success', buang 'waiting'
#     if 'SUCCESS' in grup['Payment Status'].values:
#         return grup[grup['Payment Status'] != 'WAITING']
#     else:
#         return grup  # kalau tidak ada 'success', biarkan semua

# # Terapkan fungsi filter
# filtered_duplikat = duplikat_rows.groupby(['Date', 'Whatsapp', 'Total'], group_keys=False).apply(filter_waiting_if_success)

# # Langkah 3: Gabungkan kembali dengan data non-duplikat
# non_duplikat_rows = database_all[~duplikat_mask]
# database_all_cleaned = pd.concat([non_duplikat_rows, filtered_duplikat], ignore_index=True)

In [ ]:
database_all['Payment Status'].unique()

array(['WAITING', 'SUCCESS', 'NAN'], dtype=object)

In [ ]:
database_all['is_random'].value_counts()

is_random
True     52510
False      927
Name: count, dtype: int64

In [ ]:
#database_all.('C:/Users/HP/OneDrive/Documents/KERJAAA/Raw Data Transaksi 2025.xlsx', index=False)

#### Rename CRM

In [ ]:
database_all.loc[database_all['CRM'] == 'WA 5009', 'CRM'] = 'Syifa 5009'
database_all.loc[database_all['CRM'] == 'WA 8004', 'CRM'] = 'Hana 8004'
database_all.loc[database_all['CRM'] == 'WA 9009', 'CRM'] = 'Anisa 9009'
database_all.loc[database_all['CRM'] == 'WA 0808', 'CRM'] = 'Wapin 0808'
database_all.loc[database_all['CRM'] == 'WA 2028', 'CRM'] = 'Lia 2028'
database_all.loc[database_all['CRM'] == 'WA 2029', 'CRM'] = 'Nia 2029'
database_all.loc[database_all['CRM'] == 'WA 2031', 'CRM'] = 'Mira 2031'
database_all.loc[database_all['CRM'] == 'WA 2032', 'CRM'] = 'Rani 2032'
database_all.loc[database_all['CRM'] == 'WA 2033', 'CRM'] = 'Dina 2033'
database_all.loc[database_all['CRM'] == 'WA 2034', 'CRM'] = 'Tia 2034'
database_all.loc[database_all['CRM'] == 'WA 2035', 'CRM'] = 'Anisa 2035'
database_all.loc[database_all['CRM'] == 'WA 2036', 'CRM'] = 'Anisa 2036'
database_all.loc[database_all['CRM'] == 'WA 2035', 'CRM'] = 'Anisa 2037'
database_all.loc[database_all['CRM'] == 'WA 2036', 'CRM'] = 'Anisa 2038'

In [ ]:
# Lihat value_counts Payment Status untuk CRM WA 2028
database_all['is_random'].value_counts(dropna=False)

is_random
True     52510
False      927
Name: count, dtype: int64

In [ ]:
database_all['Payment Status'].value_counts(dropna=False)

Payment Status
SUCCESS    42885
WAITING    10551
NAN            1
Name: count, dtype: int64

In [ ]:
# Filter data hanya yang nomor random dan payment status 'Success'
database = database_all[(database_all['is_random'] == True)]

In [ ]:
database['Whatsapp'].nunique()

45074

In [ ]:
database['CRM'].value_counts(dropna=False)

CRM
NaN             14810
Syifa 5009       7249
Nia 2029         6494
Hana 8004        6137
Anisa 9009       5723
Lia 2028         5401
Rani 2032        4309
Anisa 2035       1108
Anisa 2036       1061
Zisco Ziyad        70
Dina 2033          42
WA 8131            33
Wapin 0808         26
Zisco Luluk        19
Zisco Jamal         9
Zisco Rohadi        8
Zisco Idham         3
Zisco Anang         2
Zisco Dedi          2
Zisco Agus          1
Zisco Indra         1
Zisco Fandi         1
Zisco Taufi         1
Name: count, dtype: int64

### TRACKING

In [47]:
data_ads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1913 entries, 0 to 1912
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Donatur          1911 non-null   object
 1   Email            585 non-null    object
 2   Date             1913 non-null   datetime64[ns]
 3   Total            1913 non-null   int64
 4   Comment          1075 non-null   object
 5   Payment Status   1913 non-null   object
 6   Payment Number   1913 non-null   object
 7   Payment Account  1913 non-null   object
 8   Fundraiser Name  1314 non-null   object
 9   Program          1913 non-null   object
 10  UTM Source       1284 non-null   object
 11  Bulan_Angka      1913 non-null   int32
 12  Nama_Bulan       1913 non-null   object
 13  is_random        1913 non-null   bool
 14  Whatsapp         1913 non-null   object
 15  Source           1913 non-null   object
 16  Hari             1913 non-null   object
 17  Tanggal          1913 non-null   int32
 18  masa gajian      1913 non-null   object
 19  Bulan_Tahun      1913 non-null   object
dtypes: bool(1), datetime64[ns](1), int32(2), int64(1), object(15)
memory usage: 271.0+ KB

In [52]:
# 1. Pastikan kolom Date sebagai datetime
data_ads['Date'] = pd.to_datetime(data_ads['Date'], errors='coerce')

# Tambahkan kolom hari
data_ads['Hari'] = data_ads['Date'].dt.day_name(locale='id_ID')

# Tambahkan kolom masa gajian
data_ads['Tanggal'] = data_ads['Date'].dt.day
data_ads['masa gajian'] = data_ads['Tanggal'].apply(lambda x: 'Masa Gajian' if (x >= 26 or x <= 6) else 'Bukan Gajian')

# 2. Buat kolom Bulan_Tahun
data_ads['Bulan_Tahun'] = data_ads['Date'].dt.strftime('%b-%Y')

# 3. Ambil data pertama per WA & bulan
firsts = data_ads.sort_values(by='Date').groupby(['Whatsapp', 'Bulan_Tahun'], as_index=False).first()

# 4. Total donasi per WA & bulan
totals = data_ads.groupby(['Whatsapp', 'Bulan_Tahun'], as_index=False)['Total'].sum()
totals.rename(columns={'Total': 'Donasi'}, inplace=True)

# Modus Hari
modus_hari = data_ads.groupby('Whatsapp')['Hari'].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else 'Tidak Diketahui').reset_index()
modus_hari.rename(columns={'Hari': 'Modus Hari'}, inplace=True)

# Modus Masa Gajian
modus_gajian = data_ads.groupby('Whatsapp')['masa gajian'].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else 'Tidak Diketahui').reset_index()
modus_gajian.rename(columns={'masa gajian': 'Modus Masa Gajian'}, inplace=True)


# 5. Gabung data pertama & total
merged = pd.merge(firsts, totals, on=['Whatsapp', 'Bulan_Tahun'])

# 6. Kolom yang diperlukan
merged = merged[[ 
    'Donatur', 'Whatsapp', 'Email', 'Bulan_Tahun',
    'Program', 'Donasi', 'Date', 'Payment Account'
]]
merged.columns = [
    'Nama', 'WA', 'Email', 'Periode',
    'Program', 'Donasi', 'Tanggal', 'Payment Account'
]

# Pastikan hanya 1 baris per WA-Periode (buang duplikat WA di bulan yang sama)
merged = merged.drop_duplicates(subset=['WA', 'Periode'])


# 7. Pivot agar 1 baris per WA
pivoted = merged.pivot_table(
    index='WA',
    columns='Periode',
    values=['Program', 'Donasi', 'Tanggal', 'Payment Account'],
    aggfunc='first'
)

# Rapikan nama kolom
pivoted.columns = [f"{col[0]} {col[1]}" for col in pivoted.columns]
pivoted = pivoted.reset_index()

# Ambil Nama & Email pertama per WA
identitas = data_ads.sort_values('Date').groupby('Whatsapp', as_index=False).first()
identitas = identitas[['Whatsapp', 'Donatur', 'Email']]
identitas.rename(columns={'Whatsapp': 'WA', 'Donatur': 'Nama'}, inplace=True)

# Gabung ke pivot
pivoted = pivoted.reset_index().merge(identitas, on='WA', how='left')

# Urutkan kolom
pivoted = pivoted[['Nama', 'WA', 'Email'] + [col for col in pivoted.columns if col not in ['Nama', 'WA', 'Email']]]


# ========== TAMBAHAN ==========
# 8. Frekuensi transaksi per WA
# Hitung jumlah bulan unik per WA
frekuensi = data_ads.drop_duplicates(subset=['Whatsapp', 'Bulan_Tahun']) \
    .groupby('Whatsapp').size().reset_index(name='frekuensi')
frekuensi['kategori'] = frekuensi['frekuensi'].apply(
    lambda x: 'Pasif' if x < 1 else 'Aktif' if x <= 4 else 'Loyal'
)

# 9. Total Donasi per WA
total_donasi = data_ads.groupby('Whatsapp')['Total'].sum().reset_index()
total_donasi.rename(columns={'Total': 'Total Donasi'}, inplace=True)
total_donasi['badge'] = total_donasi['Total Donasi'].apply(
    lambda x: 'Bronze' if x < 100_000 else 'Silver' if x < 1_000_000 else 'Gold' if x < 5_000_000 else 'Platinum'
)

# 9.1 Preferensi: jumlah program baru yang belum pernah muncul sebelumnya per bulan per WA

# Ambil set program per bulan
program_per_bulan = data_ads.groupby(['Whatsapp', 'Bulan_Tahun'])['Program'] \
    .apply(lambda x: set(x)).reset_index()

# Urutkan
program_per_bulan = program_per_bulan.sort_values(['Whatsapp', 'Bulan_Tahun'])

# Fungsi untuk menghitung program baru bulan demi bulan
def hitung_preferensi(grup):
    sudah_ada = set()
    total_baru = 0
    for prog_set in grup['Program']:
        baru = prog_set - sudah_ada
        total_baru += len(baru)
        sudah_ada |= prog_set
    return total_baru

# Hitung preferensi per WA
preferensi = program_per_bulan.groupby('Whatsapp').apply(hitung_preferensi).reset_index(name='Preferensi')


# 9.2 Modus Program: program yang paling sering didonasikan
modus_program = data_ads.groupby('Whatsapp')['Program'].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else 'Tidak Diketahui').reset_index()


# 10. Bulan & Tahun First Transaksi
first_trx = data_ads.sort_values('Date').groupby('Whatsapp', as_index=False).first()
first_trx['Bulan'] = first_trx['Date'].dt.month
first_trx['Tahun'] = first_trx['Date'].dt.year



# 11. Gabungkan ke pivoted
pivoted = pivoted.merge(frekuensi, left_on='WA', right_on='Whatsapp', how='left').drop(columns='Whatsapp')
pivoted = pivoted.merge(total_donasi, left_on='WA', right_on='Whatsapp', how='left').drop(columns='Whatsapp')
pivoted = pivoted.merge(first_trx[['Whatsapp', 'Bulan', 'Tahun']], left_on='WA', right_on='Whatsapp', how='left').drop(columns='Whatsapp')
pivoted = pivoted.merge(preferensi, left_on='WA', right_on='Whatsapp', how='left').drop(columns='Whatsapp')
pivoted = pivoted.merge(modus_program, left_on='WA', right_on='Whatsapp', how='left').drop(columns='Whatsapp')
pivoted = pivoted.merge(modus_hari, left_on='WA', right_on='Whatsapp', how='left').drop(columns='Whatsapp')
pivoted = pivoted.merge(modus_gajian, left_on='WA', right_on='Whatsapp', how='left').drop(columns='Whatsapp')


# 12. Hapus kolom duplikat WA
pivoted.drop(columns=[col for col in pivoted.columns if col.startswith('Whatsapp')], inplace=True)

# ========== TAMBAHAN TRACKING Payment Account ==========
# 13. Tandai apakah WA sudah pernah success
pernah_success = data_ads.groupby('Whatsapp')['Payment Status'].apply(lambda x: 'SUCCESS' in x.values).reset_index()
pernah_success.rename(columns={'Payment Status': 'Pernah Success'}, inplace=True)

# Gabungkan ke pivoted
pivoted = pivoted.merge(pernah_success, left_on='WA', right_on='Whatsapp', how='left').drop(columns='Whatsapp')

# 14. Perbaiki kolom payment: jika belum pernah success dan nilainya 'waiting', ubah jadi 'Tetap Waiting'
payment_cols = [col for col in pivoted.columns if col.startswith('Payment Account')]

for col in payment_cols:
    pivoted[col] = pivoted.apply(
        lambda row: row[col] if row['Pernah Success'] else 'Tetap Waiting' if row[col] == 'waiting' else row[col],
        axis=1
    )

# (Opsional) Tambahkan ringkasan status umum
pivoted['Status Umum'] = pivoted['Pernah Success'].map({True: 'Sudah Pernah Success', False: 'Belum Pernah Success'})

# Hapus kolom bantu jika tidak dibutuhkan
pivoted.drop(columns=['Pernah Success'], inplace=True)

# 13. Urutkan kolom agar rapi
cols_awal = ['Nama', 'WA', 'Email', 'Bulan', 'Tahun', 'frekuensi', 'Preferensi', 'Program', 'kategori', 'Total Donasi', 'badge', 'Modus Hari', 'Modus Masa Gajian']
cols_sisa = [col for col in pivoted.columns if col not in cols_awal]
pivoted = pivoted[cols_awal + cols_sisa]

## âœ… Output
# print(pivoted.head())

C:\Users\faruq\AppData\Local\Temp\ipykernel_6020\562025348.py:107: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  preferensi = program_per_bulan.groupby('Whatsapp').apply(hitung_preferensi).reset_index(name='Preferensi')

In [53]:
pivoted[pivoted['Status Umum'] == 'Belum Pernah Success'].head()

,Nama,WA,Email,Bulan,Tahun,frekuensi,Preferensi,Program,kategori,Total Donasi,badge,Modus Hari,Modus Masa Gajian,index,Donasi Jun-2025,Payment Account Jun-2025,Program Jun-2025,Tanggal Jun-2025,Status Umum
0,Batari,123456789,None,6,2025,1,1,INFAK PALESTINA: BENTUK PEDULI KITA KEPADA SAU...,Aktif,151287,Silver,Minggu,Bukan Gajian,0,151287,YAYASAN TEMAN JALAN KEBAIKAN,INFAK PALESTINA: BENTUK PEDULI KITA KEPADA SAU...,2025-06-15 06:14:00,Belum Pernah Success
1,Tuah,1361965279,None,6,2025,1,1,SEDEKAH PALESTINA,Aktif,100301,Silver,Jumat,Masa Gajian,1,100301,YAYASAN TEMAN JALAN KEBAIKAN,SEDEKAH PALESTINA,2025-06-06 09:56:00,Belum Pernah Success
2,Hamba Allah,431862686,None,6,2025,1,1,INFAK PALESTINA: BENTUK PEDULI KITA KEPADA SAU...,Aktif,100761,Silver,Sabtu,Bukan Gajian,2,100761,YAYASAN TEMAN JALAN KEBAIKAN,INFAK PALESTINA: BENTUK PEDULI KITA KEPADA SAU...,2025-06-07 06:33:00,Belum Pernah Success
3,Orang baik,62801121028397,ddila1852@gmail.com,6,2025,1,1,SEDEKAH PALESTINA,Aktif,100022,Silver,Minggu,Bukan Gajian,3,100022,DANA,SEDEKAH PALESTINA,2025-06-22 06:49:00,Belum Pernah Success
4,Hamba Allah hamba Allah,62801136189883,None,6,2025,1,1,SEDEKAH PALESTINA,Aktif,104325,Silver,Rabu,Bukan Gajian,4,104325,BCA VA,SEDEKAH PALESTINA,2025-06-11 10:01:00,Belum Pernah Success

In [54]:
# Hitung rata-rata donasi
pivoted['Rata-rata'] = pivoted['Total Donasi'] / pivoted['frekuensi']
pivoted['Rata-rata'] = pivoted['Rata-rata'].fillna(0).round(0)  # bulatkan dan hindari NaN
pivoted = pivoted.sort_values(by='Bulan', ascending=True)

In [55]:
pivoted['Range Rata-rata Donasi'] = pivoted['Rata-rata'].apply(
    lambda x: '<100.000' if x < 100_000 else '100.000 - 1.000.000' if x < 1_000_000 else '1.000.000 - 5.000.000' if x < 5_000_000 else '>5.000.000'
)

In [56]:
pivoted['Status Umum'].value_counts(dropna=False)

Status Umum
Belum Pernah Success    1782
Name: count, dtype: int64

In [59]:
pivoted['Status Umum'].value_counts()

Status Umum
Belum Pernah Success    1782
Name: count, dtype: int64

In [57]:
pivoted = pivoted[['Nama', 'WA', 'Email', 'Bulan', 'Tahun', 'CRM',
                   'Kategori Program Jan-2025', 'Donasi Jan-2025','Tanggal Jan-2025', 'Payment Jan-2025',
                   'Kategori Program Feb-2025', 'Donasi Feb-2025','Tanggal Feb-2025', 'Payment Feb-2025',
                   'Kategori Program Mar-2025', 'Donasi Mar-2025','Tanggal Mar-2025', 'Payment Mar-2025',
                   'Kategori Program Apr-2025', 'Donasi Apr-2025','Tanggal Apr-2025', 'Payment Apr-2025',
                   'Kategori Program May-2025', 'Donasi May-2025','Tanggal May-2025', 'Payment May-2025',
                   'Total Donasi', 'frekuensi', 'Preferensi', 'Program', 'Rata-rata', 'kategori', 'badge',
                   'Range Rata-rata Donasi', 'Modus Hari', 'Modus Masa Gajian', 'Status Umum']]

KeyError: "['CRM', 'Kategori Program Jan-2025', 'Donasi Jan-2025', 'Tanggal Jan-2025', 'Payment Jan-2025', 'Kategori Program Feb-2025', 'Donasi Feb-2025', 'Tanggal Feb-2025', 'Payment Feb-2025', 'Kategori Program Mar-2025', 'Donasi Mar-2025', 'Tanggal Mar-2025', 'Payment Mar-2025', 'Kategori Program Apr-2025', 'Donasi Apr-2025', 'Tanggal Apr-2025', 'Payment Apr-2025', 'Kategori Program May-2025', 'Donasi May-2025', 'Tanggal May-2025', 'Payment May-2025'] not in index"

In [ ]:
pivoted['Preferensi'].isnull().sum()

np.int64(0)

### Kategori Donatur

In [ ]:
database_daily = pd.read_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/OUTPUT/Kategori Donatur.xlsx")

In [ ]:
pivoted.rename(columns={'WA': 'Whatsapp'}, inplace=True)

In [ ]:
# Pastikan kolom Whatsapp punya tipe sama
pivoted['Whatsapp'] = pivoted['Whatsapp'].astype(str).str.strip()
database_daily['Whatsapp'] = database_daily['Whatsapp'].astype(str).str.strip()

# Merge langsung berdasarkan Whatsapp, menambahkan kategori, Validasi, dan Kategori_Prioritas
pivoted = pivoted.merge(
    database_daily[['Whatsapp', 'No CS', 'kategori', 'Validasi', 'Kategori_Prioritas']],
    on='Whatsapp',
    how='left'
)

In [ ]:
pivoted['kategori_x'].value_counts(dropna=False)

kategori_x
Aktif    45398
Loyal        7
Name: count, dtype: int64

In [ ]:
pivoted['kategori_y'].value_counts(dropna=False)

kategori_y
NaN      28045
Aktif    16726
Pasif      634
Name: count, dtype: int64

In [ ]:
# Buat kolom kategori akhir
pivoted['kategori'] = pivoted['kategori_x']

# Jika kategori_y bernilai 'Pasif' (case-insensitive), ubah kategori menjadi 'Pasif'
mask_pasif = pivoted['kategori_y'].str.lower() == 'pasif'
pivoted.loc[mask_pasif, 'kategori'] = 'Pasif'

# Hapus kolom sementara
pivoted.drop(columns=['kategori_x', 'kategori_y'], inplace=True, errors='ignore')

In [ ]:
pivoted['kategori'].value_counts(dropna=False)

kategori
Aktif    44767
Pasif      634
Loyal        4
Name: count, dtype: int64

In [ ]:
pivoted['No CS'].value_counts(dropna=False)

No CS
NaN           28045
Syifa 5009     5098
Hana 8004      4532
Nia 2029       4089
Anisa 9009     3641
Name: count, dtype: int64

In [ ]:
pivoted.loc[pivoted['No CS'].notna(), 'CRM'] = pivoted['No CS']

In [ ]:
pivoted['CRM'].value_counts(dropna=False)

CRM
None            12879
Syifa 5009       6251
Nia 2029         5640
Hana 8004        5197
Anisa 9009       4995
Lia 2028         4905
Rani 2032        3420
Anisa 2035       1068
Anisa 2036        991
Dina 2033          38
Zisco Rohadi        6
WA 8131             3
Zisco Ziyad         3
Zisco Jamal         2
Zisco Anang         1
Zisco Agus          1
Zisco Indra         1
Zisco Idham         1
Wapin 0808          1
Zisco Dedi          1
Zisco Taufi         1
Name: count, dtype: int64

In [ ]:
pivoted['Kategori_Prioritas'].value_counts(dropna=False)

Kategori_Prioritas
NaN            28045
prioritas 1    13158
prioritas 2     3568
eliminasi        634
Name: count, dtype: int64

In [ ]:
pivoted['Validasi'].value_counts(dropna=False)

Validasi
NaN        28045
valid      17105
invalid      255
Name: count, dtype: int64

In [ ]:
# pivoted.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/OUTPUT/Tracking Taman Zakat 2025.xlsx", index=False)

In [ ]:
pivoted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45405 entries, 0 to 45404
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Nama                       45328 non-null  object
 1   Whatsapp                   45405 non-null  object
 2   Email                      15729 non-null  object
 3   Bulan                      45405 non-null  int32
 4   Tahun                      45405 non-null  int32
 5   CRM                        32526 non-null  object
 6   Kategori Program Jan-2025  57 non-null     object
 7   Donasi Jan-2025            57 non-null     float64
 8   Tanggal Jan-2025           57 non-null     datetime64[ns]
 9   Payment Jan-2025           57 non-null     object
 10  Kategori Program Feb-2025  517 non-null    object
 11  Donasi Feb-2025            517 non-null    float64
 12  Tanggal Feb-2025           517 non-null    datetime64[ns]
 13  Payment Feb-2025           517 non-null    object
 14  Kategori Program Mar-2025  19065 non-null  object
 15  Donasi Mar-2025            19065 non-null  float64
 16  Tanggal Mar-2025           19065 non-null  datetime64[ns]
 17  Payment Mar-2025           19065 non-null  object
 18  Kategori Program Apr-2025  13548 non-null  object
 19  Donasi Apr-2025            13548 non-null  float64
 20  Tanggal Apr-2025           13548 non-null  datetime64[ns]
 21  Payment Apr-2025           13548 non-null  object
 22  Kategori Program May-2025  14548 non-null  object
 23  Donasi May-2025            14548 non-null  float64
 24  Tanggal May-2025           14548 non-null  datetime64[ns]
 25  Payment May-2025           14548 non-null  object
 26  Total Donasi               45405 non-null  float64
 27  frekuensi                  45405 non-null  int64
 28  Preferensi                 45405 non-null  int64
 29  Program                    45405 non-null  object
 30  Rata-rata                  45405 non-null  float64
 31  badge                      45405 non-null  object
 32  Range Rata-rata Donasi     45405 non-null  object
 33  Modus Hari                 45405 non-null  object
 34  Modus Masa Gajian          45405 non-null  object
 35  No CS                      17360 non-null  object
 36  Validasi                   17360 non-null  object
 37  Kategori_Prioritas         17360 non-null  object
 38  kategori                   45405 non-null  object
dtypes: datetime64[ns](5), float64(7), int32(2), int64(2), object(23)
memory usage: 13.2+ MB

### Database Final

In [ ]:
database_final = pivoted[['Nama', 'Whatsapp', 'Bulan', 'Tahun', 'CRM', 
                          'frekuensi', 'Preferensi', 'Program', 'Rata-rata', 'Total Donasi', 'kategori', 'badge',
                          'Range Rata-rata Donasi', 'Modus Hari', 'Modus Masa Gajian', 'Validasi', 'Kategori_Prioritas']]

In [ ]:
database_final['Whatsapp'] = pd.to_numeric(database_final['Whatsapp'], errors='coerce')

C:\Users\HP\AppData\Local\Temp\ipykernel_10744\2769925172.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  database_final['Whatsapp'] = pd.to_numeric(database_final['Whatsapp'], errors='coerce')

In [ ]:
# database_final.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/OUTPUT/DATABASE.xlsx", index=False)

In [ ]:
database_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45405 entries, 0 to 45404
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Nama                    45328 non-null  object
 1   Whatsapp                45405 non-null  int64
 2   Bulan                   45405 non-null  int32
 3   Tahun                   45405 non-null  int32
 4   CRM                     32526 non-null  object
 5   frekuensi               45405 non-null  int64
 6   Preferensi              45405 non-null  int64
 7   Program                 45405 non-null  object
 8   Rata-rata               45405 non-null  float64
 9   Total Donasi            45405 non-null  float64
 10  kategori                45405 non-null  object
 11  badge                   45405 non-null  object
 12  Range Rata-rata Donasi  45405 non-null  object
 13  Modus Hari              45405 non-null  object
 14  Modus Masa Gajian       45405 non-null  object
 15  Validasi                17360 non-null  object
 16  Kategori_Prioritas      17360 non-null  object
dtypes: float64(2), int32(2), int64(3), object(10)
memory usage: 5.5+ MB

### Pemetaan CS

In [ ]:
# database_final = pd.read_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/DATABASE.xlsx")

In [ ]:
database_meta = database_final[
    (
        (database_final['Validasi'].str.strip().str.lower() == 'valid') |
        (database_final['Validasi'].isna())
    ) &
    (database_final['kategori'].str.strip().str.lower() != 'pasif')
][[
    'CRM', 'Bulan', 'Nama', 'Whatsapp', 'Program', 'Rata-rata', 'kategori',
    'badge', 'Modus Hari', 'Modus Masa Gajian',
    'Validasi', 'Kategori_Prioritas'
]]

In [ ]:
database_meta['Kategori_Prioritas'].value_counts(dropna=False)

Kategori_Prioritas
NaN            28045
prioritas 1    13158
prioritas 2     3568
Name: count, dtype: int64

In [ ]:
## jika modus Hari Jumat"
mask_bukan_jumat = ~database_meta['Modus Hari'].str.fullmatch("Jumat", case=False, na=False)
database_meta.loc[mask_bukan_jumat, 'Modus Hari'] = database_meta.loc[mask_bukan_jumat, 'Modus Masa Gajian']

In [ ]:
# Atur urutan kategori untuk Modus Masa Gajian
database_meta['Modus Hari'] = pd.Categorical(
    database_meta['Modus Hari'],
    categories=["Jumat", "Masa Gajian", "Bukan Gajian"],
    ordered=True
)

# Atur urutan kategori untuk badge
database_meta['badge'] = pd.Categorical(
    database_meta['badge'],
    categories=["Bronze", "Silver", "Gold", "Platinum"],
    ordered=True
)

# Urutkan berdasarkan: Modus Masa Gajian, Program (alfabet), Badge
database_meta_sorted = database_meta.sort_values(
    by=['Modus Hari', 'Program', 'badge']
)

In [ ]:
database_meta_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44771 entries, 581 to 35799
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CRM                 31892 non-null  object
 1   Bulan               44771 non-null  int32
 2   Nama                44694 non-null  object
 3   Whatsapp            44771 non-null  int64
 4   Program             44771 non-null  object
 5   Rata-rata           44771 non-null  float64
 6   kategori            44771 non-null  object
 7   badge               44771 non-null  category
 8   Modus Hari          44771 non-null  category
 9   Modus Masa Gajian   44771 non-null  object
 10  Validasi            16726 non-null  object
 11  Kategori_Prioritas  16726 non-null  object
dtypes: category(2), float64(1), int32(1), int64(1), object(7)
memory usage: 3.7+ MB

In [ ]:
#DROP data yang tidak diperlukan
database_meta_sorted = database_meta_sorted.drop(['Modus Masa Gajian'], axis=1)

# menyesuaikan nama kolom jika ada nama kolom yang belum sesuai standarisasi
kolom = {"Modus Hari": "Periode Blast"}
# rename
database_meta_sorted = database_meta_sorted.rename(columns=kolom)

In [ ]:
database_meta_sorted['CRM'].value_counts(dropna=False)

CRM
None            12879
Syifa 5009       6119
Nia 2029         5604
Lia 2028         4905
Hana 8004        4874
Anisa 9009       4852
Rani 2032        3420
Anisa 2035       1068
Anisa 2036        991
Dina 2033          38
Zisco Rohadi        6
Zisco Ziyad         3
WA 8131             3
Zisco Jamal         2
Zisco Anang         1
Zisco Agus          1
Zisco Dedi          1
Zisco Idham         1
Wapin 0808          1
Zisco Indra         1
Zisco Taufi         1
Name: count, dtype: int64

In [ ]:
WA_5009 = database_meta_sorted[database_meta_sorted['CRM'] == 'Syifa 5009']
WA_8004 = database_meta_sorted[database_meta_sorted['CRM'] == 'Hana 8004']
WA_9009 = database_meta_sorted[database_meta_sorted['CRM'] == 'Anisa 9009']
WA_0808 = database_meta_sorted[database_meta_sorted['CRM'] == 'Wapin 0808']
WA_2028 = database_meta_sorted[database_meta_sorted['CRM'] == 'Lia 2028']
WA_2029 = database_meta_sorted[database_meta_sorted['CRM'] == 'Nia 2029']
WA_8131 = database_meta_sorted[database_meta_sorted['CRM'] == 'WA 8131']
WA_2031 = database_meta_sorted[database_meta_sorted['CRM'] == 'Mira 2031']
WA_2032 = database_meta_sorted[database_meta_sorted['CRM'] == 'Rani 2032']
WA_2033 = database_meta_sorted[database_meta_sorted['CRM'] == 'Dina 2033']
WA_2034 = database_meta_sorted[database_meta_sorted['CRM'] == 'Tia 2034']
WA_2035 = database_meta_sorted[database_meta_sorted['CRM'] == 'Anisa 2035']
WA_2036 = database_meta_sorted[database_meta_sorted['CRM'] == 'Anisa 2036']
WA_None = database_meta_sorted[database_meta_sorted['CRM'].isna()]


# # Simpan masing-masing DataFrame ke file Excel terpisah
# WA_5009.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/Data CRM/Syifa_5009.xlsx", index=False)
# WA_8004.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/Data CRM/Hana_8004.xlsx", index=False)
# WA_9009.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/Data CRM/Anisa_9009.xlsx", index=False)
# WA_0808.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/Data CRM/Wapin_0808.xlsx", index=False)
# WA_2028.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/Data CRM/Lia_2028.xlsx", index=False)
# WA_2029.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/Data CRM/Nia_2029.xlsx", index=False)
# WA_8131.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/Data CRM/WA_8131.xlsx", index=False)
# WA_2031.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/Data CRM/Mira_2031.xlsx", index=False)
# WA_2032.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/Data CRM/Rani_2032.xlsx", index=False)
# WA_2033.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/Data CRM/Dina_2033.xlsx", index=False)
# WA_2034.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/Data CRM/Tia_2034.xlsx", index=False)
# WA_2035.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/Data CRM/Anisa 2035.xlsx", index=False)
# WA_2036.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/Data CRM/Anisa 2036.xlsx", index=False)
# WA_None.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/Data CRM/WA_None.xlsx", index=False)

In [ ]:
# data = pd.read_excel(
#     'C:/Users/HP/OneDrive/Documents/KERJAAA/QURBAN.xlsx', 
#     sheet_name = 'Keken')             # Jumlah baris data
# data.head()

In [ ]:
# qurban = data.merge(database_final, left_on='Whatsapp', right_on='WA', how='left').drop(columns='Whatsapp')

In [ ]:
# qurban.info()

In [ ]:
# qurban.to_excel("C:/Users/HP/OneDrive/Documents/KERJAAA/qurban keken.xlsx", index=False)

### Cek TOP 10

In [ ]:
# top_10_nominal = database.nlargest(10, 'Total')
# print(top_10_nominal)