In [1]:
import pandas as pd

In [65]:
daily_7778 = pd.read_excel('../data_blast/daily_activity/Daily_Activity_7778.xlsx')
rekap_himpunan_7778_1 = pd.read_excel('../data_blast/rekap_himpunan/Rekap_Himpunan_7778.xlsx')
rekap_himpunan_7778_2 = pd.read_excel('../data_blast/rekap_himpunan/Rekap_Himpunan_Juli.xlsx')

c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [66]:
rekap_himpunan = pd.concat([rekap_himpunan_7778_1, rekap_himpunan_7778_2])

In [67]:
rekap_himpunan

,No,Donatur,Whatsapp,Payment Account,Date,Program,Total
0,1,Ferynia,62811725922,Mandiri,2025-06-06,Infaq Palestina,250530
1,2,Gafar Ahmad,6282293001020,BSI,2025-06-10,Infaq Palestina,100000
2,3,Edianto,6285264613128,Mandiri,2025-06-11,Infaq Palestina,200000
3,4,Suryadih,6281383719672,BSI,2025-06-12,Infaq Palestina,100500
4,5,Gafar Ahmad,6282293001020,BSI,2025-06-13,Infaq Palestina,100000
5,6,Puji Widyastanti,6281253694272,BSI,2025-06-13,Infaq Palestina,100000
6,7,Hasan Ashari,6282332999495,Mandiri,2025-06-14,Infaq Palestina,50000
7,8,Syahrul Nasution,6282241631636,BSI,2025-06-17,Infaq Palestina,50000
8,9,Masfiyatin,6285102293810,BSI,2025-06-18,Infaq Palestina,100000
9,10,Munir,6287838846543,Mandiri,2025-06-19,Infaq Palestina,750000
10,11,Dedi Windra,6282285682639,BSI,2025-06-20,Infaq Palestina,100000
11,12,Hasan Ashari,6282332999495,Mandiri,2025-06-20,Infaq Palestina,100000
12,13,Avan Fauri,6283831449525,QRIS,2025-06-20,Sedekah Jumat Palestina,5292
13,14,Muhammad Nurdin,6285216239144,BSI,2025-06-24,Sedekah Subuh Palestina,50000
14,15,Usman,6285276294437,BSI,2025-06-24,Sedekah Subuh Palestina,100000
0,1,Dwi Hartanto,6282118217659,Mandiri,2025-06-26,Infaq Palestina,250000
1,2,Jendra Syamsudin,6282218782377,BSI,2025-06-27,Sedekah Jum'at Palestina,100000
2,3,Muh Kadri,6282187646234,BSI,2025-06-27,Sedekah Jum'at Palestina,100000
3,4,Hasan Ashari,6282332999495,Mandiri,2025-06-27,Sedekah Jum'at Palestina,50000
4,5,Titin Kurniatin,6282143606191,BSI,2025-06-27,Sedekah Jum'at Palestina,100000
5,6,Nurul Istiqomah,6285328442590,BSI,2025-06-27,Sedekah Jum'at Palestina,15000
6,7,Hamba Allah,Donasi Web,BSI,2025-06-28,Infaq Palestina,50257
7,8,Chandra Idayani,6289692032720,BSI,2025-06-29,Infaq Palestina,100452
8,9,Ahmad Rofik,6282129968287,BSI,2025-06-30,Infaq Palestina,50000
9,10,Nuria Apriliani,6282220685828,Mandiri,2025-06-30,Infaq Palestina,200000
10,11,Mimin Sari,6282214688293,BSI,2025-07-02,Sedekah Untuk Palestina,100000
11,12,Zulkifli,6285266296264,BSI,2025-07-02,Sedekah Untuk Palestina,50000
12,13,Tessy,6287827677776,BSI,2025-07-03,Sedekah Subuh Palestina,20000
13,14,Nunung Suyanto,6287808108433,Mandiri,2025-07-03,Sedekah Subuh Palestina,150000
14,15,Mohammad Iqbal Firdaus,6287758712611,BRI,2025-07-03,Sedekah Untuk Palestina,30747
15,16,Maratul Hasanah,6282338401859,BRI,2025-07-03,Sedekah Untuk Palestina,50000
16,17,Titi Mursiti,6287729712484,Mandiri,2025-07-03,Sedekah Subuh Untuk Palestina,50000
17,18,Al Kosimi,6282381079119,BSI,2025-07-03,Sedekah Untuk Palestina,250000
18,19,Ahmad Rofik,6282129968287,BSI,2025-07-03,Sedekah Untuk Palestina,50000
19,20,Salim Tohari,6287789043613,BSI,2025-07-03,Sedekah Untuk Palestina,50000
20,21,Irham,62895359574980,Mandiri,2025-07-03,Sedekah Untuk Palestina,100000
21,22,Sulami,6285244311348,Mandiri,2025-07-04,Sedekah Subuh Untuk Palestina,100000
22,23,Hadijah,6285347001508,BRI,2025-07-04,Sedekah Subuh Untuk Palestina,250000
23,24,Hj Leha,6282155532096,BSI,2025-07-04,Sedekah Jum'at Palestina,100000
24,25,Hasan Ashari,6282332999495,Mandiri,2025-07-04,Sedekah Jum'at Palestina,100000
25,26,Nina Herliana,6282136655240,Mandiri,2025-07-04,Sedekah Jum'at Palestina,100000
26,27,Nur Halimah,6281289125897,Mandiri,2025-07-04,Sedekah Jum'at Palestina,100000
27,28,Laode Salibahu Ambo,6281341761654,BRI,2025-07-04,Sedekah Jum'at Palestina,250000
28,29,Antini Kurniawati,6285726947335,BNI,2025-07-04,Sedekah Jum'at Palestina,200000
29,30,Puji Widyastanti,6281253694272,BRI,2025-07-04,Sedekah Jum'at Palestina,100000
30,31,Nurkhalisyah,6281339558484,BSI,2025-07-04,Sedekah Jum'at Palestina,100000
31,32,Shihhana Ulya,6285712250550,BRI,2025-07-04,Sedekah Jum'at Palestina,100000
32,33,Furi Adi Suyanto,6285790500021,BRI,2025-07-04,Sedekah Jum'at Palestina,1000000
33,34,Yusmayani,6285763575795,BNI,2025-07-04,Sedekah Jum'at Palestina,50000
34,35,Efendi Santosa Harto,6285718816322,Mandiri,2025-07-04,Sedekah Jum'at Palestina,100000
35,36,Sirat,6287882783698,Mandiri,2025-07-04,Sedekah Jum'at Palestina,50000
36,37,Jatnika Yusep,6287719784196,BSI,2025-07-04,Sedekah Jum'at Palestina,50000
37,38,Yelmi,6285271138439,BSI,2025-07-04,Sedekah Jum'at Palestina,100000
38,39,Okie Rusanti,6282247474242,BSI,2005-07-05,Sedekah Untuk Palestina,50000
39,40,Elviera Meilia,628551000847,Mandiri,2025-07-07,Infaq Untuk Palestina,100000

In [68]:
daily

,No,Tanggal,No CS,Donatur,Whatsapp,Donasi Sebelumnya,Periode Prospek,Program,Entri Donatur,Tanggal 1,...,Tanggal 2,Action 2,Respon 2,Donasi 2,Tanggal 3,Action 3,Respon 3,Donasi 3,Catatan,Next Action
0,1,2025-06-03,6.287852e+12,Mustakim,6.281349e+12,NaN,NaN,BERBAGI BUKA PUASA DENGAN YATIM PALESTINA,March,2025-06-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
1,2,2025-06-03,6.287852e+12,Nurhikmah,6.285256e+12,NaN,NaN,SEDEKAH PALESTINA,March,2025-06-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
2,3,2025-06-03,6.287852e+12,Khasndra,6.285274e+12,NaN,NaN,BERBAGI BUKA PUASA DENGAN YATIM PALESTINA,March,2025-06-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 2
3,4,2025-06-03,6.287852e+12,Dewi Sartika,6.285274e+12,NaN,NaN,INFAK PALESTINA,March,2025-06-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
4,5,2025-06-03,6.287852e+12,Rusdi,6.281331e+12,NaN,NaN,SEDEKAH PALESTINA,March,2025-06-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4101,4102,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4102,4103,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4103,4104,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4104,4105,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4105,4106,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
merge = rekap_himpunan.merge(daily, on='Whatsapp', how='left')

In [70]:
merge = merge[~merge['Tanggal'].isna()]

In [71]:
merge

,No_x,Donatur_x,Whatsapp,Payment Account,Date,Program_x,Total,No_y,Tanggal,No CS,...,Tanggal 2,Action 2,Respon 2,Donasi 2,Tanggal 3,Action 3,Respon 3,Donasi 3,Catatan,Next Action
8,9,Masfiyatin,6285102293810,BSI,2025-06-18,Infaq Palestina,100000,913.0,2025-06-18,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
9,10,Munir,6287838846543,Mandiri,2025-06-19,Infaq Palestina,750000,192.0,2025-06-09,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 1
10,11,Dedi Windra,6282285682639,BSI,2025-06-20,Infaq Palestina,100000,978.0,2025-06-18,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
13,14,Muhammad Nurdin,6285216239144,BSI,2025-06-24,Sedekah Subuh Palestina,50000,60.0,2025-06-03,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
14,15,Usman,6285276294437,BSI,2025-06-24,Sedekah Subuh Palestina,100000,7.0,2025-06-03,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
24,10,Nuria Apriliani,6282220685828,Mandiri,2025-06-30,Infaq Palestina,200000,361.0,2025-06-11,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 2
27,13,Tessy,6287827677776,BSI,2025-07-03,Sedekah Subuh Palestina,20000,1070.0,2025-06-19,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
28,14,Nunung Suyanto,6287808108433,Mandiri,2025-07-03,Sedekah Subuh Palestina,150000,1079.0,2025-06-19,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
29,15,Mohammad Iqbal Firdaus,6287758712611,BRI,2025-07-03,Sedekah Untuk Palestina,30747,1023.0,2025-06-18,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 2
30,16,Maratul Hasanah,6282338401859,BRI,2025-07-03,Sedekah Untuk Palestina,50000,798.0,2025-06-16,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
31,17,Titi Mursiti,6287729712484,Mandiri,2025-07-03,Sedekah Subuh Untuk Palestina,50000,1098.0,2025-06-19,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 2
32,18,Al Kosimi,6282381079119,BSI,2025-07-03,Sedekah Untuk Palestina,250000,774.0,2025-06-16,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
34,20,Salim Tohari,6287789043613,BSI,2025-07-03,Sedekah Untuk Palestina,50000,1071.0,2025-06-19,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
35,21,Irham,62895359574980,Mandiri,2025-07-03,Sedekah Untuk Palestina,100000,1280.0,2025-06-20,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
36,22,Sulami,6285244311348,Mandiri,2025-07-04,Sedekah Subuh Untuk Palestina,100000,623.0,2025-06-14,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 2
37,23,Hadijah,6285347001508,BRI,2025-07-04,Sedekah Subuh Untuk Palestina,250000,1443.0,2025-06-21,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 2
43,29,Antini Kurniawati,6285726947335,BNI,2025-07-04,Sedekah Jum'at Palestina,200000,1513.0,2025-06-22,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
46,32,Shihhana Ulya,6285712250550,BRI,2025-07-04,Sedekah Jum'at Palestina,100000,1533.0,2025-06-22,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
47,33,Furi Adi Suyanto,6285790500021,BRI,2025-07-04,Sedekah Jum'at Palestina,1000000,1583.0,2025-06-22,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
48,34,Yusmayani,6285763575795,BNI,2025-07-04,Sedekah Jum'at Palestina,50000,1608.0,2025-06-22,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 2
49,35,Efendi Santosa Harto,6285718816322,Mandiri,2025-07-04,Sedekah Jum'at Palestina,100000,1555.0,2025-06-22,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
50,36,Sirat,6287882783698,Mandiri,2025-07-04,Sedekah Jum'at Palestina,50000,295.0,2025-06-10,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 2
51,37,Jatnika Yusep,6287719784196,BSI,2025-07-04,Sedekah Jum'at Palestina,50000,1177.0,2025-06-19,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 3
53,39,Okie Rusanti,6282247474242,BSI,2005-07-05,Sedekah Untuk Palestina,50000,227.0,2025-06-10,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prioritas 2
54,40,Elviera Meilia,628551000847,Mandiri,2025-07-07,Infaq Untuk Palestina,100000,1960.0,2025-06-25,6.287852e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
agg = merge.groupby([merge['Whatsapp'], merge['Date'].dt.month]).agg(
    Nama=('Donatur_x','first'),
    Total=('Total','sum')
).reset_index()
agg = agg.sort_values(by='Date')

In [73]:
agg

          Whatsapp  Date                    Nama    Total
1    6282220685828     6        Nuria Apriliani    200000
22   6287838846543     6                   Munir   750000
3    6282285682639     6             Dedi Windra   100000
6    6285102293810     6              Masfiyatin   100000
7    6285216239144     6         Muhammad Nurdin    50000
9    6285276294437     6                   Usman   100000
0     628551000847     7          Elviera Meilia   100000
21   6287827677776     7                   Tessy    20000
20   6287808108433     7          Nunung Suyanto   150000
19   6287789043613     7           Salim Tohari     50000
18   6287758712611     7  Mohammad Iqbal Firdaus    30747
17   6287729712484     7            Titi Mursiti    50000
16   6287719784196     7           Jatnika Yusep    50000
15   6285790500021     7        Furi Adi Suyanto  1000000
12   6285718816322     7    Efendi Santosa Harto   100000
13   6285726947335     7       Antini Kurniawati   200000
23   6287882783698     7                   Sirat    50000
11   6285712250550     7           Shihhana Ulya   100000
10   6285347001508     7                 Hadijah   250000
8    6285244311348     7                  Sulami   100000
5    6282381079119     7               Al Kosimi   250000
4    6282338401859     7        Maratul Hasanah     50000
2    6282247474242     7            Okie Rusanti    50000
14   6285763575795     7               Yusmayani    50000
24  62895359574980     7                   Irham   100000

In [74]:
daily_2061 = pd.read_excel('../data_blast/daily_activity/Daily_Activity_2061.xlsx')
rekap_himpunan_2061 = pd.read_excel('../data_blast/rekap_himpunan/Rekap_Himpunan_2061.xlsx')

c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [75]:
rekap_himpunan_2 = pd.concat([rekap_himpunan_2061,rekap_himpunan_7778_2])
rekap_himpunan_2

,No,Donatur,Whatsapp,Payment Account,Date,Program,Total
0,1,Jamroni,6285295784842,Mandiri,2025-06-22,Infaq Palestina,100722
1,2,Radhiyatul Husna (E-Book),6289669070902,Mandiri,2025-06-13,Infaq Palestina,10000
0,1,Dwi Hartanto,6282118217659,Mandiri,2025-06-26,Infaq Palestina,250000
1,2,Jendra Syamsudin,6282218782377,BSI,2025-06-27,Sedekah Jum'at Palestina,100000
2,3,Muh Kadri,6282187646234,BSI,2025-06-27,Sedekah Jum'at Palestina,100000
3,4,Hasan Ashari,6282332999495,Mandiri,2025-06-27,Sedekah Jum'at Palestina,50000
4,5,Titin Kurniatin,6282143606191,BSI,2025-06-27,Sedekah Jum'at Palestina,100000
5,6,Nurul Istiqomah,6285328442590,BSI,2025-06-27,Sedekah Jum'at Palestina,15000
6,7,Hamba Allah,Donasi Web,BSI,2025-06-28,Infaq Palestina,50257
7,8,Chandra Idayani,6289692032720,BSI,2025-06-29,Infaq Palestina,100452
8,9,Ahmad Rofik,6282129968287,BSI,2025-06-30,Infaq Palestina,50000
9,10,Nuria Apriliani,6282220685828,Mandiri,2025-06-30,Infaq Palestina,200000
10,11,Mimin Sari,6282214688293,BSI,2025-07-02,Sedekah Untuk Palestina,100000
11,12,Zulkifli,6285266296264,BSI,2025-07-02,Sedekah Untuk Palestina,50000
12,13,Tessy,6287827677776,BSI,2025-07-03,Sedekah Subuh Palestina,20000
13,14,Nunung Suyanto,6287808108433,Mandiri,2025-07-03,Sedekah Subuh Palestina,150000
14,15,Mohammad Iqbal Firdaus,6287758712611,BRI,2025-07-03,Sedekah Untuk Palestina,30747
15,16,Maratul Hasanah,6282338401859,BRI,2025-07-03,Sedekah Untuk Palestina,50000
16,17,Titi Mursiti,6287729712484,Mandiri,2025-07-03,Sedekah Subuh Untuk Palestina,50000
17,18,Al Kosimi,6282381079119,BSI,2025-07-03,Sedekah Untuk Palestina,250000
18,19,Ahmad Rofik,6282129968287,BSI,2025-07-03,Sedekah Untuk Palestina,50000
19,20,Salim Tohari,6287789043613,BSI,2025-07-03,Sedekah Untuk Palestina,50000
20,21,Irham,62895359574980,Mandiri,2025-07-03,Sedekah Untuk Palestina,100000
21,22,Sulami,6285244311348,Mandiri,2025-07-04,Sedekah Subuh Untuk Palestina,100000
22,23,Hadijah,6285347001508,BRI,2025-07-04,Sedekah Subuh Untuk Palestina,250000
23,24,Hj Leha,6282155532096,BSI,2025-07-04,Sedekah Jum'at Palestina,100000
24,25,Hasan Ashari,6282332999495,Mandiri,2025-07-04,Sedekah Jum'at Palestina,100000
25,26,Nina Herliana,6282136655240,Mandiri,2025-07-04,Sedekah Jum'at Palestina,100000
26,27,Nur Halimah,6281289125897,Mandiri,2025-07-04,Sedekah Jum'at Palestina,100000
27,28,Laode Salibahu Ambo,6281341761654,BRI,2025-07-04,Sedekah Jum'at Palestina,250000
28,29,Antini Kurniawati,6285726947335,BNI,2025-07-04,Sedekah Jum'at Palestina,200000
29,30,Puji Widyastanti,6281253694272,BRI,2025-07-04,Sedekah Jum'at Palestina,100000
30,31,Nurkhalisyah,6281339558484,BSI,2025-07-04,Sedekah Jum'at Palestina,100000
31,32,Shihhana Ulya,6285712250550,BRI,2025-07-04,Sedekah Jum'at Palestina,100000
32,33,Furi Adi Suyanto,6285790500021,BRI,2025-07-04,Sedekah Jum'at Palestina,1000000
33,34,Yusmayani,6285763575795,BNI,2025-07-04,Sedekah Jum'at Palestina,50000
34,35,Efendi Santosa Harto,6285718816322,Mandiri,2025-07-04,Sedekah Jum'at Palestina,100000
35,36,Sirat,6287882783698,Mandiri,2025-07-04,Sedekah Jum'at Palestina,50000
36,37,Jatnika Yusep,6287719784196,BSI,2025-07-04,Sedekah Jum'at Palestina,50000
37,38,Yelmi,6285271138439,BSI,2025-07-04,Sedekah Jum'at Palestina,100000
38,39,Okie Rusanti,6282247474242,BSI,2005-07-05,Sedekah Untuk Palestina,50000
39,40,Elviera Meilia,628551000847,Mandiri,2025-07-07,Infaq Untuk Palestina,100000

In [76]:
merge_1 = rekap_himpunan_2.merge(daily_2061, on='Whatsapp', how='left')

In [85]:
merge_1 = merge_1[~merge_1['Tanggal'].isna()]

In [86]:
agg_1 = merge_1.groupby([merge_1['Whatsapp'], merge_1['Date'].dt.month]).agg(
    Nama=('Donatur_x','first'),
    Total=('Total','sum')
).reset_index()
agg_1 = agg_1.sort_values(by='Date')

In [87]:
agg_1

        Whatsapp  Date         Nama   Total
2  6285295784842     6      Jamroni  100722
0  6281289125897     7  Nur Halimah  100000
1  6285266296264     7     Zulkifli   50000

In [79]:
daily_2062 = pd.read_excel('../data_blast/daily_activity/Daily_Activity_2062.xlsx')
rekap_himpunan_2062 = pd.read_excel('../data_blast/rekap_himpunan/Rekap_Himpunan_2062.xlsx')

c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [80]:
rekap_himpunan_3 = pd.concat([rekap_himpunan_2062,rekap_himpunan_7778_2])

In [81]:
merge_2 = rekap_himpunan_3.merge(daily_2062, on='Whatsapp', how='left')

In [88]:
merge_2 = merge_2[~merge_2['Tanggal'].isna()]

In [89]:
agg_2 = merge_2.groupby([merge_2['Whatsapp'], merge_2['Date'].dt.month]).agg(
    Nama=('Donatur_x','first'),
    Total=('Total','sum')
).reset_index()
agg_2 = agg_2.sort_values(by='Date')

In [90]:
agg_2

        Whatsapp  Date               Nama   Total
1  6285369630774     6   Heri Yanto Pendi  100000
0  6285271138439     7              Yelmi  100000