In [1]:
import pandas as pd
from datetime import datetime, timezone, timedelta
import numpy as np
import time
import os
from dotenv import load_dotenv

# get data within specific date

In [95]:
data_5_11_des = donasi_download[(donasi_download['Date'] >= "2026-01-01") & (donasi_download['Date'] <= "2026-01-23")]

In [96]:
data_5_11_des['Date'].max()

Timestamp('2026-01-22 23:55:37')

In [97]:
data_5_11_des['Payment Status'].value_counts()

Payment Status
Success    10323
Waiting     1790
Name: count, dtype: int64

In [98]:
data_5_11_des.to_excel("data_01-22_desember_teman_baik.xlsx")

# test

In [2]:
import pandas as pd

def pandas_upsert_with_stats(
    df_main: pd.DataFrame,
    df_update: pd.DataFrame,
    key,
    allow_schema_evolution: bool = True,
    verbose: bool = True
) -> pd.DataFrame:
    """
    Perform a selective UPSERT from df_update into df_main with statistics.

    Prints:
    - Rows updated
    - Rows inserted
    - Columns added
    - Per-column change counts
    """

    main = df_main.copy()
    update = df_update.copy()

    # -------------------------------
    # Schema evolution
    # -------------------------------
    added_columns = []
    if allow_schema_evolution:
        added_columns = list(set(update.columns) - set(main.columns))
        for col in added_columns:
            main[col] = pd.NA

    # -------------------------------
    # Validation
    # -------------------------------
    if key not in main.columns or key not in update.columns:
        raise ValueError(f"Key '{key}' must exist in both dataframes")

    # -------------------------------
    # Index alignment
    # -------------------------------
    main = main.set_index(key)
    update = update.set_index(key)

    common_cols = list(set(main.columns) & set(update.columns))

    # -------------------------------
    # Detect updates BEFORE applying
    # -------------------------------
    intersect_idx = main.index.intersection(update.index)

    change_counts = {}
    rows_with_any_change = set()

    for col in common_cols:
        old = main.loc[intersect_idx, col]
        new = update.loc[intersect_idx, col]

        mask = new.notna() & (old != new)
        change_counts[col] = int(mask.sum())

        rows_with_any_change.update(intersect_idx[mask])

    rows_updated = len(rows_with_any_change)

    # -------------------------------
    # Apply update (NULL-safe)
    # -------------------------------
    main.update(update[common_cols])

    # -------------------------------
    # Insert new rows
    # -------------------------------
    new_rows = update.loc[~update.index.isin(main.index)]
    rows_inserted = len(new_rows)

    main = pd.concat([main, new_rows], axis=0)

    result = main.reset_index()

    # -------------------------------
    # Logging
    # -------------------------------
    if verbose:
        print("UPSERT SUMMARY")
        print("-" * 40)
        print(f"Rows updated        : {rows_updated}")
        print(f"Rows inserted       : {rows_inserted}")
        print(f"Columns added       : {len(added_columns)}")

        if added_columns:
            print(f"  Added columns     : {added_columns}")

        changed_cols = {k: v for k, v in change_counts.items() if v > 0}
        if changed_cols:
            print("Column changes:")
            for col, cnt in changed_cols.items():
                print(f"  {col:<15} : {cnt}")
        else:
            print("Column changes      : none")

        print("-" * 40)

    return result

# Load Data

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
data_local = pd.read_excel("../../analisa/2025/Summary_2025.xlsx")

In [5]:
data_local['Source'] = "Web Ads"
# data_local.to_excel("../../analisa/2025/Summary_2025.xlsx")

Load data from sql

In [6]:
not_the_time = timezone(timedelta(hours=7))
now = datetime.now(not_the_time).hour

if now < 13:
    print("âŒ 13:00 yet, which means you cant do a query to database\n",)
    raise SystemExit("Stopping cell due to not the right time.")

In [7]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

load_dotenv()

username_db = os.getenv("DB_USERNAME")
password_db = os.getenv("DB_PASSWORD")
host_db = os.getenv("DB_HOST")
port_db = os.getenv("DB_PORT")
database_db = os.getenv("DB_DATABASE")

# Database credentials

# URL-encode username & password in case they have special characters
username_enc = quote_plus(username_db)
password_enc = quote_plus(password_db)

# Create SQLAlchemy engine
engine = create_engine(
    f"mysql+pymysql://{username_enc}:{password_enc}@{host_db}:{port_db}/{database_db}"
)

# Run a query and load results into Pandas
query_donasi = f"""SELECT a.*,b.title
FROM {database_db}.tEZ3UbOt_dja_donate a
LEFT JOIN {database_db}.tEZ3UbOt_dja_campaign b ON b.campaign_id = a.campaign_id """
query_aff_submit = f"""SELECT *
FROM {database_db}.tEZ3UbOt_dja_aff_submit"""
query_aff_code = f"""SELECT *
FROM {database_db}.tEZ3UbOt_dja_aff_code"""
query_users = f"""SELECT *
FROM {database_db}.tEZ3UbOt_users"""

donasi_table = pd.read_sql(query_donasi, engine)
aff_submit_table = pd.read_sql(query_aff_submit, engine)
aff_code_table = pd.read_sql(query_aff_code, engine)
user_table = pd.read_sql(query_users, engine)

In [8]:
# Join Table
donasi_submit = donasi_table.merge(aff_submit_table, left_on='id', right_on='donate_id', how='left')
donasi_submit_code = donasi_submit.merge(aff_code_table, left_on='affcode_id', right_on='id', how='left')
donasi_users = donasi_submit_code.merge(user_table, left_on='user_id_y', right_on='ID', how='left')

 
# Choose only necessary columns
donasi_download = donasi_users[['campaign_id','invoice_id', 'name', 'whatsapp', 'email', 'ip', 'comment', 'title','nominal', 'payment_method', 'payment_number', 'payment_account', 'status', 'nominal_commission', 'display_name', 'aff_code', 'created_at_x', 'info_qurban', 'info_package2', 'info_zfitrah', 'info_donate', 'utm_source', 'utm_medium', 'utm_content', 'utm_campaign', 'utm_term', 'utm_id']]

In [9]:
# Mapping campaign and campaigner
campaign_map = {
    "dja3d0s0b0k":"pungky",
    "djah4o94i2w":"cekat",
    "djazb6xk1xx": "fahry",
    "djayr4jyoxw": "fahry",
    "djax0gtszee": "alif",
    "djauvpug3dk": "fahry",
    "djar8al0qg2": "ali",
    "djam1ptsz9a": "dedi",
    "djait62m3qv": "fatih",
    "djah4o94i2w": "cekat",
    "djabkim8p3t": "fredo",
    "dja9o7ftxxf": "cekat"
}

donasi_download["zisco"] = donasi_download["campaign_id"].map(campaign_map)  # returns "alif" or None if not found
donasi_download['zisco'].value_counts(dropna=False)

C:\Users\faruq\AppData\Local\Temp\ipykernel_10744\1842361687.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  donasi_download["zisco"] = donasi_download["campaign_id"].map(campaign_map)  # returns "alif" or None if not found

zisco
NaN       51138
fahry     19988
fredo     17601
fatih     12037
alif      12003
ali         955
dedi        153
cekat        15
pungky        2
Name: count, dtype: int64

# Feature engineering data from SQL

In [10]:
donasi_download['Day'] = donasi_download['created_at_x'].dt.strftime("%a")
donasi_download['Time'] = donasi_download['created_at_x'].dt.strftime("%H:%M:%S")
donasi_download = donasi_download.rename(columns={
    "invoice_id": "Invoice ID",
    "name": "Donatur",
    "whatsapp": "Whatsapp",
    "email": "Email",
    "comment": "Comment",
    "title": "Program",
    "nominal":"Total",
    "payment_method": "Payment Method",
    "payment_number": "Payment Number",
    "payment_account": "Payment Account",
    "status": "Payment Status",
    "nominal_commission":"Fundraiser Commision",
    "display_name":"Fundraiser Name",
    "created_at_x":"Date",
    "info_qurban":"Data Qurban",
    "info_package2":"Data Package-2",
    "info_zfitrah":"Data Zakat Fitrah",
    "info_donate":"Additional Data",
    "utm_source":"UTM Source",
    "utm_medium":"UTM Medium",
    "utm_content":"UTM Content",
    "utm_campaign":"UTM Campaign",
    "utm_term":"UTM Term",
    "utm_id":"UTM ID"    
})

donasi_download["Payment Status"] = np.where(donasi_download['Payment Status'] == 1, "Success", "Waiting")

donasi_download['Source'] = "Web Ads"

C:\Users\faruq\AppData\Local\Temp\ipykernel_10744\228523208.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  donasi_download['Day'] = donasi_download['created_at_x'].dt.strftime("%a")
C:\Users\faruq\AppData\Local\Temp\ipykernel_10744\228523208.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  donasi_download['Time'] = donasi_download['created_at_x'].dt.strftime("%H:%M:%S")

In [11]:
# save data donation from database to local
donasi_download.to_excel("data_payment.xlsx")

In [12]:
# donasi_download = pd.read_excel("data_payment.xlsx")

data_from_web = pd.read_excel("checkpoint_files/data_from_web_updated.xlsx")

Load data sql that frequently updated by donasi download

In [13]:
data_from_web.drop_duplicates(subset=['Invoice ID'], inplace=True)
donasi_download.drop_duplicates(subset=['Invoice ID'], inplace=True)

In [14]:
# data_from_web_updated = update_data_web(
#     main_df=data_from_web,
#     updated_df=donasi_download,
#     key_col="Invoice ID",
#     cols_to_check=["Payment Status"]
# )

data_from_web_updated = pandas_upsert_with_stats(
    df_main=data_from_web,
    df_update=donasi_download,
    key="Invoice ID"
)

C:\Users\faruq\AppData\Local\Temp\ipykernel_10744\3212065580.py:68: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[81357157196.0 82157720711.0 8561889392.0 ... '081363373357'
 '081364176848' '08123719817']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  main.update(update[common_cols])
C:\Users\faruq\AppData\Local\Temp\ipykernel_10744\3212065580.py:68: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[nan nan nan ... '120243324899860230' '120243324899860230' '']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  main.update(update[common_cols])

UPSERT SUMMARY
----------------------------------------
Rows updated        : 113327
Rows inserted       : 557
Columns added       : 1
  Added columns     : ['campaign_id']
Column changes:
  campaign_id     : 111741
  Payment Status  : 69
  Email           : 69777
  Payment Number  : 2
  Total           : 16
  UTM ID          : 112918
  Donatur         : 20
  Comment         : 56209
  UTM Medium      : 3617
  UTM Source      : 3616
  Whatsapp        : 113327
  UTM Term        : 4018
  UTM Campaign    : 3617
  UTM Content     : 3625
----------------------------------------

In [15]:
# df_final.reset_index(drop=True, inplace=True)

# ðŸ”¥ Also remove any "Unnamed" columns just in case
# df_final = df_final.loc[:, ~df_final.columns.str.contains("^Unnamed")]
data_from_web_updated = data_from_web_updated[['Invoice ID', 'Donatur', 'Whatsapp',
       'Email', 'ip', 'Comment', 'Program', 'Total', 'Payment Method',
       'Payment Number', 'Payment Account', 'Payment Status',
       'Fundraiser Commision','aff_code', 'Fundraiser Name','zisco', 'Date', 'Day', 'Time', 'Data Qurban',
       'Data Package-2', 'Data Zakat Fitrah', 'Additional Data', 'UTM Source',
       'UTM Medium', 'UTM Content', 'UTM Campaign', 'UTM Term', 'UTM ID','Source']]

data_from_web_updated.to_excel("checkpoint_files/data_from_web_updated.xlsx")

# Next Step (main)

In [16]:
data_local['Invoice ID'].duplicated().sum()

np.int64(0)

In [17]:
data_local_clean = data_local[~data_local["Invoice ID"].isin(data_from_web["Invoice ID"])]

In [18]:
data_all = pd.concat([data_local_clean, data_from_web_updated])
data_all

,Unnamed: 0.85,Unnamed: 0.84,Unnamed: 0.83,Unnamed: 0.82,Unnamed: 0.81,Unnamed: 0.80,Unnamed: 0.79,Unnamed: 0.78,Unnamed: 0.77,Unnamed: 0.76,Unnamed: 0.75,Unnamed: 0.74,Unnamed: 0.73,Unnamed: 0.72,Unnamed: 0.71,Unnamed: 0.70,Unnamed: 0.69,Unnamed: 0.68,Unnamed: 0.67,Unnamed: 0.66,Unnamed: 0.65,Unnamed: 0.64,Unnamed: 0.63,Unnamed: 0.62,Unnamed: 0.61,Unnamed: 0.60,Unnamed: 0.59,Unnamed: 0.58,Unnamed: 0.57,Unnamed: 0.56,Unnamed: 0.55,Unnamed: 0.54,Unnamed: 0.53,Unnamed: 0.52,Unnamed: 0.51,Unnamed: 0.50,Unnamed: 0.49,Unnamed: 0.48,Unnamed: 0.47,Unnamed: 0.46,Unnamed: 0.45,Unnamed: 0.44,Unnamed: 0.43,Unnamed: 0.42,Unnamed: 0.41,Unnamed: 0.40,Unnamed: 0.39,Unnamed: 0.38,Unnamed: 0.37,Unnamed: 0.36,Unnamed: 0.35,Unnamed: 0.34,Unnamed: 0.33,Unnamed: 0.32,Unnamed: 0.31,Unnamed: 0.30,Unnamed: 0.29,Unnamed: 0.28,Unnamed: 0.27,Unnamed: 0.26,Unnamed: 0.25,Unnamed: 0.24,Unnamed: 0.23,Unnamed: 0.22,Unnamed: 0.21,Unnamed: 0.20,Unnamed: 0.19,Unnamed: 0.18,Unnamed: 0.17,Unnamed: 0.16,Unnamed: 0.15,Unnamed: 0.14,Unnamed: 0.13,Unnamed: 0.12,Unnamed: 0.11,Unnamed: 0.10,Unnamed: 0.9,Unnamed: 0.8,Unnamed: 0.7,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,No,Invoice ID,Donatur,Sapaan,Nominal,Kode Unik,Total,Whatsapp,Email,Comment,Program,Payment Method,Payment Number,Payment Account,Payment Status,Fundraiser Commission,Fundraiser Name,Date,Day,Time,UTM Source,UTM Medium,Source,ip,Fundraiser Commision,aff_code,zisco,Data Qurban,Data Package-2,Data Zakat Fitrah,Additional Data,UTM Content,UTM Campaign,UTM Term,UTM ID
5,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,6.0,INV-2508040IVSI,Mayang,Bapak,100000.0,446.0,100446.0,82162426297.0,NaN,NaN,INFAK PALESTINA: BENTUK PEDULI KITA KEPADA SAU...,instant,https://m.dana.id/s/m7v7pwbn,DANA,Waiting,1004.0,Teman Baik 1,2025-08-04 00:00:00,Mon,13:36:00,fb,paid,Web Ads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,7.0,INV-250804R2C2K,Isep Kamiludin,Bapak,100000.0,528.0,100528.0,87772391069.0,NaN,Semoga Allah mengabulkqn doa kita semua..aamiin,BANTU PALESTINA SEKARANG,instant,https://m.dana.id/s/49unkdhk,DANA,Waiting,1005.0,Teman Baik 1,2025-08-04 00:00:00,Mon,13:36:00,fb,paid,Web Ads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0,55.0,INV-2508049SZY8,A.nabila,Ibu,100000.0,589.0,100589.0,812812335.0,NaN,NaN,SEDEKAH PALESTINA,instant,https://flip.id/pwf/transaction/consolidated?r...,QRIS,Waiting,1006.0,Teman Baik 1,2025-08-04 00:00:00,Mon,10:52:00,fb,paid,Web Ads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,57.0,INV-250804LQMVG,A.nabila,Ibu,100000.0,209.0,100209.0,812812335.0,NaN,NaN,SEDEKAH PALESTINA,transfer,BSI 7772526274,BSI,Waiting,1002.0,Teman Baik 1,2025-08-04 00:00:00,Mon,10:49:00,fb,paid,Web Ads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,72.0,73.0,INV-250804DZ01S,Didi sutardi.didi1968@gmail.com,Bapak,50000.0,640.0,50640.0,81324233883.0,didisutardi0568@gmail.com,Semoga Allah cepat akhiri penderitaan Rakyat d...,BANTU PALESTINA SEKARANG,instant,https://api.midtrans.com/v2/gopay/d1730895-e65...,GOPAY,Waiting,506.0,Teman Baik 1,2025-08-04 00:00:00,Mon,10:12:00,fb,paid,Web Ads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INV-260204745VK,Roest,NaN,NaN,NaN,100676.0,081310967906,,Semoga berkah,BANGKITKAN SUMATERA,transfer,BNI 3003003257,Yayasan Teman Jalan Kebaikan,Success,NaN,Teman Baik 1,2026-02-04 05:25:07,Wed,05:25:07,ig,Instagram_Reels,Web Ads,182.2.46.47,1007.0,alofv,NaN,[],[],[],"{""Kode Unik"":""676""}","MNL (2,3) Terseret Banjir","MNL (2,3) Terseret Banjir",120241761488520706,120241761488510706
119871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INV-260204IZ5ZT,Rivaldi Ridwan Hanafi,NaN,NaN,NaN,103892.0,087883777308,noname@gmail.con,,BANGKITKAN SUMATERA,va,1900800027428278,BCA VA,Success,NaN,Teman Baik 1,2026-02-04 06:24:20,Wed,06:24:20,ig,Instagram_Stories,Web Ads,140.213.14.136,1039.0,alofv,NaN,[],[],[],"{""Kode Unik"":""562""}","MNL (2,3) Terseret Banjir","MNL (2,3) Terseret Banjir",120241761488520706,120241761488510706
119872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INV-260204HML74,Asnam,NaN,NaN,NaN,50822.0,0811673232,,,BANGKITKAN SUMATERA,instant,https://flip.id/pwf/transaction/consolidated?r...,LINKAJA,Waiting,NaN,Teman Baik 1,2026-02-04 06:50:13,Wed,06:50:13,fb,Facebook_Mobile_Reels,Web Ads,182.9.33.196,508.0,alofv,NaN,[],[],[],"{""Kode Unik"":""822""}","MNL (2,3) Terseret Banjir","MNL (2,3) Terseret Banjir",120241761488520706,120241761488510706
119873,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INV-2602046OBPY,Cahaya,NaN,NaN,NaN,100738.0,081334367075,cahayalantari@gmail.com,,TEBAR QUR&#39;AN UNTUK SANTRI NUSANTARA,instant,https://flip.id/pwf/transaction/consolidated?r...,OVO,Success,NaN,Teman Baik 2,2026-02-04 06:13:44,Wed,06:13:44,,,Web Ads,182.8.122.124,1007.0,lbtif,NaN,[],[],[],"{""Kode Unik"":""738""}",,,,
119874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INV-260204DJWHG,julio,NaN,NaN,NaN,50540.0,082150903997,julioodwitama@gmail.com,semoga membantu,BANTU WUJUDKAN BANGUN SUMUR BOR UNTUK SAUDARA ...,instant,https://m.dana.id/s/dy5n7sba,DANA,Success,NaN,NaN,2026-02-04 11:08:19,Wed,11:08:19,,,Web Ads,182.4.37.81,NaN,NaN,NaN,[],[],[],"{""Kode Unik"":""540""}",,,,

In [19]:
data_local = data_local.loc[:, ~data_local.columns.str.contains("unnamed", case=False)]
data_local['Whatsapp'] = data_local['Whatsapp'].astype(str)

In [20]:
data_all = data_all.dropna(subset=["Invoice ID"])

In [21]:
data_all.to_excel("Data_transaksi.xlsx")

In [22]:
data_all['Whatsapp'] = pd.to_numeric(data_all['Whatsapp'], errors='coerce')
data_all = data_all.dropna(subset=['Whatsapp'])
data_all.info()

C:\Users\faruq\AppData\Local\Temp\ipykernel_10744\1463130004.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_all['Whatsapp'] = pd.to_numeric(data_all['Whatsapp'], errors='coerce')

<class 'pandas.core.frame.DataFrame'>
Index: 126506 entries, 5 to 119874
Columns: 121 entries, Unnamed: 0.85 to UTM ID
dtypes: datetime64[ns](1), float64(93), object(27)
memory usage: 117.8+ MB

In [23]:
# change data type and make a new necessary columns 
data_all['Whatsapp'] = data_all['Whatsapp'].astype(int)
data_all['Time'] = pd.to_datetime(data_all['Time'], format='%H:%M:%S')  # â† keep full datetime
data_all['hour'] = data_all['Time'].dt.hour
data_all['label_jam'] = data_all['hour'].fillna(0).apply(
    lambda h: f"{int(h):02d}-{(int(h) + 1) % 24:02d}"
)

In [24]:
# Standarize whatsapp number
def is_random_number(num):
    num = str(num)

    # Nomor harus hanya angka
    if not num.isdigit():
        return False

    # Harus valid dari segi panjang dan awalan
    starts_valid = num.startswith("08") or num.startswith("8") or num.startswith("62")
    length_valid = 8 < len(num) <= 14

    if not (starts_valid and length_valid):
        return False

    # Cek jika terlalu banyak angka sama (seperti 08888888888)
    if len(set(num)) <= 3:
        return False

    # Cek pola berulang (seperti 081234567812345678)
    if len(num) > 6 and num[:int(len(num)/2)] == num[int(len(num)/2):]:
        return False

    # Cek pola urutan (seperti 08123456789)
    if num[2:].isdigit() and num[2:] in '1234567890'*2:
        return False

    return True

data_all['is_random'] = data_all['Whatsapp'].apply(is_random_number)
data_all['kategori_nomor'] = data_all['is_random'].map({True: 'Nomor Acak', False: 'Nomor Pola/Tidak Valid'})
data_all[data_all['is_random'] == False].head()

,Unnamed: 0.85,Unnamed: 0.84,Unnamed: 0.83,Unnamed: 0.82,Unnamed: 0.81,Unnamed: 0.80,Unnamed: 0.79,Unnamed: 0.78,Unnamed: 0.77,Unnamed: 0.76,Unnamed: 0.75,Unnamed: 0.74,Unnamed: 0.73,Unnamed: 0.72,Unnamed: 0.71,Unnamed: 0.70,Unnamed: 0.69,Unnamed: 0.68,Unnamed: 0.67,Unnamed: 0.66,Unnamed: 0.65,Unnamed: 0.64,Unnamed: 0.63,Unnamed: 0.62,Unnamed: 0.61,Unnamed: 0.60,Unnamed: 0.59,Unnamed: 0.58,Unnamed: 0.57,Unnamed: 0.56,Unnamed: 0.55,Unnamed: 0.54,Unnamed: 0.53,Unnamed: 0.52,Unnamed: 0.51,Unnamed: 0.50,Unnamed: 0.49,Unnamed: 0.48,Unnamed: 0.47,Unnamed: 0.46,Unnamed: 0.45,Unnamed: 0.44,Unnamed: 0.43,Unnamed: 0.42,Unnamed: 0.41,Unnamed: 0.40,Unnamed: 0.39,Unnamed: 0.38,Unnamed: 0.37,Unnamed: 0.36,Unnamed: 0.35,Unnamed: 0.34,Unnamed: 0.33,Unnamed: 0.32,Unnamed: 0.31,Unnamed: 0.30,Unnamed: 0.29,Unnamed: 0.28,Unnamed: 0.27,Unnamed: 0.26,Unnamed: 0.25,Unnamed: 0.24,Unnamed: 0.23,Unnamed: 0.22,Unnamed: 0.21,Unnamed: 0.20,Unnamed: 0.19,Unnamed: 0.18,Unnamed: 0.17,Unnamed: 0.16,Unnamed: 0.15,Unnamed: 0.14,Unnamed: 0.13,Unnamed: 0.12,Unnamed: 0.11,Unnamed: 0.10,Unnamed: 0.9,Unnamed: 0.8,Unnamed: 0.7,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,No,Invoice ID,Donatur,Sapaan,Nominal,Kode Unik,Total,Whatsapp,Email,Comment,Program,Payment Method,Payment Number,Payment Account,Payment Status,Fundraiser Commission,Fundraiser Name,Date,Day,Time,UTM Source,UTM Medium,Source,ip,Fundraiser Commision,aff_code,zisco,Data Qurban,Data Package-2,Data Zakat Fitrah,Additional Data,UTM Content,UTM Campaign,UTM Term,UTM ID,hour,label_jam,is_random,kategori_nomor
7218,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,7218.0,508.0,INV-250720QFDBQ,Hamba Alloh,Bapak,50000.0,782.0,50782.0,81000000,NaN,Aamiin,INFAK PALESTINA: BENTUK PEDULI KITA KEPADA SAU...,transfer,Mandiri 1410000665448,Mandiri,Waiting,508.0,Teman Baik 1,2025-07-20,Sun,1900-01-01 04:37:00,ig,paid,Web Ads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,04-05,False,Nomor Pola/Tidak Valid
27138,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,27138.0,494.0,INV-2505242MJ04,Rafli Firyal,Bapak,100000.0,547.0,103877.0,87777777777,NaN,NaN,INFAK PALESTINA,va,1900800023227110,BCA VA,Success,1039.0,Teman Baik 1,2025-05-24,Sat,1900-01-01 02:11:00,ig,paid,Web Ads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,02-03,False,Nomor Pola/Tidak Valid
27226,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,27226.0,582.0,INV-2505234S3PA,Hamba Allah,Ibu,100000.0,169.0,100169.0,123506328,NaN,Bismillah hamba donasi karena Allah Barokallah...,INFAK PALESTINA,transfer,BSI 7772526274,BSI,Waiting,1002.0,Teman Baik 1,2025-05-23,Fri,1900-01-01 13:12:00,fb,paid,Web Ads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,13-14,False,Nomor Pola/Tidak Valid
27287,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,27287.0,643.0,INV-250523EQSG2,Hambaallah,Bapak,100000.0,628.0,100628.0,999086705,NaN,NaN,INFAK PALESTINA,transfer,BSI 7772526274,BSI,Waiting,1006.0,Teman Baik 1,2025-05-23,Fri,1900-01-01 05:54:00,fb,paid,Web Ads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,05-06,False,Nomor Pola/Tidak Valid
27439,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,27439.0,795.0,INV-250522IEGUE,Alwi nopriansyah,Bapak,100000.0,76.0,100076.0,8131191,NaN,NaN,INFAK PALESTINA,transfer,Mandiri 1410000665448,Mandiri,Waiting,1001.0,Teman Baik 1,2025-05-22,Thu,1900-01-01 02:05:00,fb,paid,Web Ads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,02-03,False,Nomor Pola/Tidak Valid

In [25]:
# Standarisasi nomor agar diawali dengan 62
def format_nomor(nomor):
    nomor = str(nomor)
    if nomor.startswith('6'):
        return nomor
    elif nomor.startswith('8'):
        return '62' + nomor
    else:
        return nomor  # Bisa disesuaikan jika ada kondisi lain
    
data_all['Whatsapp'] = data_all['Whatsapp'].apply(format_nomor)

# Rekap himpunan

In [26]:
sheet_ids = ["17mDDgZm5jrbOUZU2rhFMiC999FvhJuTtvooqs5gZAaY","1e1uyBU_1MtbdktSrnqHj-f83t7DM17S8_LFGMqYcccQ","1CUC2hdiJ2CkKDv3d5vmLdtEI4aawz7ERV7E0ChwWjxM","12ARtZE3RVK87uKPvzNbPxqouzZnEB3cAtI6WVv3emiA", "1LmfIz2ZARiROFnSOpiG1oRxYI_hV0ZdWPxeW1LJT1c8","10BLcY2mY904pTu5uAeKyFs4UhI6WAyz68zcW70Odw28", "1hGYcODnzpNyzYfLiGE4UU8SNx7yV12NqmOOpEVthtC8", "1vvRzfvm64b5yNLzt_4FKO2XpJp25vV66s8tbr3F3InE","1lSffBtyrLEa5qkoqzVdHxYCSqprpzM6EV4sGmIp0aC0", "1mfsclvlZsC4Vy3UFkNQQBGXOcFAdwsrFu5xwsIio2Vg","1X9Sv4LbRHLFv5LLzKhPxlRHWUB_vA6byxdoWUNFE1Gw", "1Fr8RWWtD210Mtb6Z3yykV8qvLTwPazZbd0BBKxzCkbc", "1BGLbwBVfthAIpW8p5qe4YOeOxlzI3eQx5wYDLEnxhFg", "1cvNtUmpMYosHN_8v5YgcVaALwfj2mbcaiTPoJ-sl5Vg", "16gTATflTcMEemIwNkpxQkehAzsQy-Xe-rfl3xRjU07A", "1YM8yyKBEDZgljEqivdO-6X2C1S-Sj4TjUJgZIThmL_Y", "1LcUK12KjmhtdyJUGAI-H042a5j9E72ygq0y62mOBB20", "1D964ISq3fYuBNXHpy_kah-ZI8IK-5xS9zuk3P4qFsqs"]

import gspread
from google.oauth2.service_account import Credentials

SCOPES = ["https://www.googleapis.com/auth/spreadsheets.readonly"]

creds = Credentials.from_service_account_file(
    "teman-baik-123-7e2148d71767.json",
    scopes=SCOPES
)

client = gspread.authorize(creds)

def read_sheet_by_id(sheet_id, worksheet="Rekap_Himpunan"):
    sh = client.open_by_key(sheet_id)
    ws = sh.worksheet(worksheet)

    records = ws.get_all_records()
    df = pd.DataFrame(records)

    df["source_sheet_id"] = sheet_id
    return df

dfs = []

for sid in sheet_ids:
    try:
        dfs.append(read_sheet_by_id(sid))
        time.sleep(0.5)
    except Exception as e:
        print(f"Failed to read {sid}: {e}")
        time.sleep(0.5)

rekap_himpunan = pd.concat(dfs, ignore_index=True)


rekap_himpunan['Total'] = rekap_himpunan['Total'].fillna(rekap_himpunan[' Total'])
rekap_himpunan['Program'] = rekap_himpunan['Program'].fillna(rekap_himpunan[' Program'])

Failed to read 1X9Sv4LbRHLFv5LLzKhPxlRHWUB_vA6byxdoWUNFE1Gw: the header row in the worksheet contains duplicates: ['']To manually set the header row, use the `expected_headers` parameter of `get_all_records()`
Failed to read 1D964ISq3fYuBNXHpy_kah-ZI8IK-5xS9zuk3P4qFsqs: APIError: [429]: Quota exceeded for quota metric 'Read requests' and limit 'Read requests per minute per user' of service 'sheets.googleapis.com' for consumer 'project_number:132147997327'.

In [27]:
# load processed data from web
# data_with_rekapan = pd.read_excel("checkpoint_files/data_with_updated_himpunan.xlsx")

# gsheet id each CRM rekap himpunan

# cs_zein = "17mDDgZm5jrbOUZU2rhFMiC999FvhJuTtvooqs5gZAaY"
# cs_vicky = "1e1uyBU_1MtbdktSrnqHj-f83t7DM17S8_LFGMqYcccQ"
# cs_intan = "1CUC2hdiJ2CkKDv3d5vmLdtEI4aawz7ERV7E0ChwWjxM"
# cs_diah = "12ARtZE3RVK87uKPvzNbPxqouzZnEB3cAtI6WVv3emiA"
# cs_shania = "1LmfIz2ZARiROFnSOpiG1oRxYI_hV0ZdWPxeW1LJT1c8"
# cs_firda = "10BLcY2mY904pTu5uAeKyFs4UhI6WAyz68zcW70Odw28"
# cs_endah = "1hGYcODnzpNyzYfLiGE4UU8SNx7yV12NqmOOpEVthtC8"
# cs_erni = "1vvRzfvm64b5yNLzt_4FKO2XpJp25vV66s8tbr3F3InE"
# cs_agil = "1lSffBtyrLEa5qkoqzVdHxYCSqprpzM6EV4sGmIp0aC0"
# cs_oliv = "1X9Sv4LbRHLFv5LLzKhPxlRHWUB_vA6byxdoWUNFE1Gw"
# cs_rosy = "1LcUK12KjmhtdyJUGAI-H042a5j9E72ygq0y62mOBB20"
# cs_afiqa = "1cvNtUmpMYosHN_8v5YgcVaALwfj2mbcaiTPoJ-sl5Vg"
# cs_afrida = "1YM8yyKBEDZgljEqivdO-6X2C1S-Sj4TjUJgZIThmL_Y"
# cs_annisa = "16gTATflTcMEemIwNkpxQkehAzsQy-Xe-rfl3xRjU07A"
# cs_ika = "1mfsclvlZsC4Vy3UFkNQQBGXOcFAdwsrFu5xwsIio2Vg"
# cs_naufal = "1Fr8RWWtD210Mtb6Z3yykV8qvLTwPazZbd0BBKxzCkbc" 
# cs_zhiva = "1BGLbwBVfthAIpW8p5qe4YOeOxlzI3eQx5wYDLEnxhFg"
# cs_ari = "1D964ISq3fYuBNXHpy_kah-ZI8IK-5xS9zuk3P4qFsqs"


# rekap himpunan
# rekap_himpunan_wa_Juni = pd.read_excel("../data_blast/rekap_himpunan/old/Rekap_Himpunan_Juni.xlsx")
# rekap_himpunan_wa_7778 = pd.read_excel("../data_blast/rekap_himpunan/old/Rekap_Himpunan_7778.xlsx")
# rekap_himpunan_wa_7778_Juli = pd.read_excel("../data_blast/rekap_himpunan/old/Rekap_Himpunan_Juli.xlsx")
# rekap_himpunan_wa_2061 = pd.read_excel("../data_blast/rekap_himpunan/old/Rekap_Himpunan_2061.xlsx")
# rekap_himpunan_wa_2062 = pd.read_excel("../data_blast/rekap_himpunan/old/Rekap_Himpunan_2062.xlsx")
# rekap_himpunan_wa_2060_juli = pd.read_excel("../data_blast/rekap_himpunan/old/Rekap_Himpunan_2060_Juli.xlsx")

# # agus
# rekap_himpunan_wa_2060_agustus = pd.read_excel("../data_blast/rekap_himpunan/old/Rekap_Himpunan_2060_Agustus.xlsx")
# rekap_himpunan_0056_0036_agustus = pd.read_excel("../data_blast/rekap_himpunan/old/Rekap_Himpunan_Agustus zein.xlsx")

# # sept
# rekap_himpunan_wa_2060_september = pd.read_excel("../data_blast/rekap_himpunan/old/Rekap_Himpunan_2060_September.xlsx")
# rekap_himpunan_2056_2057_sept = pd.read_excel("../data_blast/rekap_himpunan/new/Rekap_Himpunan_2056-2057_Sept.xlsx")
# rekap_himpunan_0056_0036_sept = pd.read_excel("../data_blast/rekap_himpunan/old/Rekap_Himpunan_September zein.xlsx")
# rekap_himpunan_7778_sept = pd.read_excel("../data_blast/rekap_himpunan/new/REKAP HIMPUNAN 7778_Sept.xlsx")
# rekap_himpunan_1097_sept = pd.read_excel("../data_blast/rekap_himpunan/new/REKAP HIMPUNAN 0038_Sept.xlsx")

# # okt
# rekap_himpunan_0046_0047_okt = pd.read_excel("../data_blast/rekap_himpunan/new/Rekap Himpunan Shania Oktober.xlsx")
# rekap_himpunan_0041_0051_okt = pd.read_excel("../data_blast/rekap_himpunan/new/Rekap Himpunan Diah Oktober.xlsx")
# rekap_himpunan_2056_2057_okt = pd.read_excel("../data_blast/rekap_himpunan/new/Himpunan 2056-2057 (okt).xlsx")
# rekap_himpunan_wa_2060_oktober = pd.read_excel("../data_blast/rekap_himpunan/old/Rekap_Himpunan_2060_Oktober.xlsx")
# rekap_himpunan_1097_okt = pd.read_excel("../data_blast/rekap_himpunan/new/Rekap Himpunan Oktiber 1097.xlsx")
# rekap_himpunan_7778_okt = pd.read_excel("../data_blast/rekap_himpunan/new/Rekap_Himpunan_Oktober_7778.xlsx")
# rekap_himpunan_31_32_okt = pd.read_excel("../data_blast/rekap_himpunan/new/Rekap Himpunan Erni Oktober.xlsx")
# rekap_himpunan_1095_1096_okt = pd.read_excel("../data_blast/rekap_himpunan/new/Himpunan Firda Oktober.xlsx")
# rekap_himpunan_2058_2059_okt = pd.read_excel("../data_blast/rekap_himpunan/new/Rekap Himpunan Endah Oktober.xlsx")
# rekap_himpunan_0034_8196_okt = pd.read_excel("../data_blast/rekap_himpunan/new/Rekap Himpunan Agil Oktober.xlsx")
# rekap_himpunan_0056_0036_okt = pd.read_excel("../data_blast/rekap_himpunan/new/Rekap_Himpunan_Oktober zein.xlsx")

# # nov
# rekap_himpunan_0046_0047_nov = pd.read_excel("../data_blast/rekap_himpunan/new/Rekap Himpunan Shania November.xlsx")
# rekap_himpunan_0041_0051_nov = pd.read_excel("../data_blast/rekap_himpunan/new/Rekap Himpunan Diah November.xlsx")
# rekap_himpunan_2056_2057_nov = pd.read_excel("../data_blast/rekap_himpunan/new/Himpunan 2056-2057 (nov).xlsx")
# rekap_himpunan_31_32_nov = pd.read_excel("../data_blast/rekap_himpunan/new/Rekap Himpunan Erni November.xlsx")
# rekap_himpunan_1095_1096_nov = pd.read_excel("../data_blast/rekap_himpunan/new/Himpunan Firda November.xlsx")
# rekap_himpunan_2058_2059_nov = pd.read_excel("../data_blast/rekap_himpunan/new/Rekap Himpunan Endah November.xlsx")
# rekap_himpunan_0034_8196_nov = pd.read_excel("../data_blast/rekap_himpunan/new/Rekap Himpunan Agil November.xlsx")
# rekap_himpunan_0056_0036_nov = pd.read_excel("../data_blast/rekap_himpunan/new/Rekap_Himpunan_Cut_Off_Nopember.xlsx")
# rekap_himpunan_8194_8195_nov = pd.read_excel("../data_blast/rekap_himpunan/new/Himpunan Oliv November.xlsx")
# rekap_himpunan_1097_nov = pd.read_excel("../data_blast/rekap_himpunan/new/REKAP HIMPUNAN NOVEMBER 1097.xlsx")
# rekap_himpunan_7778_nov = pd.read_excel("../data_blast/rekap_himpunan/new/REKAP HIMPUNAN NOVEMBER 7778.xlsx")



# # collected himpunan each CRM
# rekap_himpunan_wa_2060 = pd.concat([rekap_himpunan_wa_2060_juli,rekap_himpunan_wa_2060_agustus,rekap_himpunan_wa_2060_september,rekap_himpunan_wa_2060_oktober])
# rekap_himpunan_wa_0056_0036 = pd.concat([rekap_himpunan_0056_0036_agustus, rekap_himpunan_0056_0036_sept, rekap_himpunan_0056_0036_okt, rekap_himpunan_8194_8195_nov])
# rekap_himpunan_wa_2056_2057 = pd.concat([rekap_himpunan_2056_2057_sept,rekap_himpunan_2056_2057_okt, rekap_himpunan_2056_2057_nov])
# rekap_himpunan_wa_7778_1097 = pd.concat([rekap_himpunan_wa_7778, rekap_himpunan_wa_7778_Juli,rekap_himpunan_7778_sept,rekap_himpunan_1097_sept, rekap_himpunan_7778_okt,rekap_himpunan_1097_okt, rekap_himpunan_7778_nov,rekap_himpunan_1097_nov])
# rekap_himpunan_wa_41_51 = pd.concat([rekap_himpunan_0041_0051_okt, rekap_himpunan_0041_0051_nov])
# rekap_himpunan_wa_46_47 = pd.concat([rekap_himpunan_0046_0047_okt,rekap_himpunan_0046_0047_nov])
# rekap_himpunan_wa_1095_1096 = pd.concat([rekap_himpunan_1095_1096_okt, rekap_himpunan_1095_1096_nov])
# rekap_himpunan_wa_2058_2059 = pd.concat([rekap_himpunan_2058_2059_okt, rekap_himpunan_2058_2059_nov])
# rekap_himpunan_wa_31_32 = pd.concat([rekap_himpunan_31_32_okt, rekap_himpunan_31_32_nov])
# rekap_himpunan_wa_0034_8196 = pd.concat([rekap_himpunan_0034_8196_okt, rekap_himpunan_0034_8196_nov])
# rekap_himpunan_8194_8195 = pd.concat([rekap_himpunan_8194_8195_nov])




# # all rekap himpunan
# rekap_himpunan = pd.concat([rekap_himpunan_wa_2061,rekap_himpunan_wa_2062, rekap_himpunan_wa_Juni,
#                             rekap_himpunan_wa_2060, 
#                             rekap_himpunan_wa_0056_0036,
#                             rekap_himpunan_wa_2056_2057,
#                             rekap_himpunan_wa_7778_1097,
#                             rekap_himpunan_wa_41_51,
#                             rekap_himpunan_wa_46_47,
#                             rekap_himpunan_wa_1095_1096,
#                             rekap_himpunan_wa_2058_2059,
#                             rekap_himpunan_wa_31_32,
#                             rekap_himpunan_wa_0034_8196,
#                             rekap_himpunan_8194_8195])


rekap_himpunan['Source'] = "Web Ads"


rekap_himpunan = rekap_himpunan.dropna(subset=['Total'])
rekap_himpunan['Date'] = rekap_himpunan['Date'].fillna(rekap_himpunan['Date Blast']).fillna(rekap_himpunan['Date Donation'])
rekap_himpunan['Date'] = rekap_himpunan["Date"] = pd.to_datetime(rekap_himpunan["Date"], format="%m/%d/%Y")
rekap_himpunan = rekap_himpunan[rekap_himpunan['Whatsapp'] != ""]

rekap_himpunan = rekap_himpunan[['Donatur','Whatsapp','Payment Account','Date','Total', "Program","Source"]]

In [28]:
# CTWA
folder_path = '../data_blast/rekap_himpunan/old/Oktober'

all_files = [f for f in os.listdir(folder_path) if f.endswith('.xlsx')]

# Read and combine
ctwa_raw = pd.concat(
    [pd.read_excel(os.path.join(folder_path, f)) for f in all_files],
    ignore_index=True
)
ctwa_raw['Source'] = "CTWA"

c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [29]:
# rekap_himpunan_all['Whatsapp'] = rekap_himpunan_all['Whatsapp'].replace(['', 'NaN', 'None'], pd.NA)
# Drop rows where Whatsapp is null
ctwa_all = ctwa_raw[['CRM','Tanggal','Nama Donatur','Whatsapps','Payment Status','Bank','Donasi','Akad','Source']].dropna(subset=['Donasi'])
# rekap_himpunan_all
ctwa = ctwa_all.rename(columns={'Whatsapps':'Whatsapp', 'Nama Donatur':'Donatur','Donasi':'Total','Akad':'Program','Tanggal':'Date'})

In [30]:
# make sure whatsapp dtype is the same (int)
ctwa['Whatsapp'] = ctwa['Whatsapp'].astype(int)
rekap_himpunan['Whatsapp'] = rekap_himpunan['Whatsapp'].fillna(0).astype(int)

# concat ctwa and rekap himpunan
rekap_himpunan_all = pd.concat([ctwa,rekap_himpunan])

C:\Users\faruq\AppData\Local\Temp\ipykernel_10744\3653407071.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  rekap_himpunan['Whatsapp'] = rekap_himpunan['Whatsapp'].fillna(0).astype(int)

In [31]:
rekap_himpunan_all['Date'] = rekap_himpunan_all['Date'].apply(
    lambda x: pd.to_datetime(x, errors='coerce') if not isinstance(x, pd.Timestamp) else x
)

# choose only necessary columns
rekap_himpunan_all = rekap_himpunan_all[['Donatur', 'Whatsapp', 'Payment Account', 'Date', 'Program',
       'Total', 'Source']]

# get a day column
rekap_himpunan_all['Day'] = rekap_himpunan_all['Date'].dt.strftime('%a')

In [32]:
rekap_himpunan_all['Whatsapp'] = rekap_himpunan_all['Whatsapp'].apply(format_nomor)

In [33]:
s = rekap_himpunan_all["Total"]

rekap_himpunan_all["Total"] = pd.to_numeric(
    s.where(s.apply(lambda x: not isinstance(x, (int, float))))
     .astype(str)
     .str.replace(r"[^\d]", "", regex=True)
     .where(s.apply(lambda x: not isinstance(x, (int, float))), s),
    errors="coerce"
)

Standarisasi Payment Account

In [34]:
def payment(akun,number):
    number = str(number)
    if akun == "Yayasan Teman Jalan Kebaikan":
        if ' ' not in number:
            return "BSI"
        else: 
            return number.split()[0]
    else:
        return akun
    
data_all['Payment'] = data_all.apply(lambda row: payment(row['Payment Account'], row['Payment Number']), axis=1)

data_all.drop('Payment Account', axis=1, inplace=True)

In [35]:
def move_column(df, col_name, new_pos):
    cols = list(df.columns)
    cols.insert(new_pos, cols.pop(cols.index(col_name)))
    return df[cols]

data_all = move_column(data_all,"Payment", 13)


data_all.rename(columns={'Payment': 'Payment Account'}, inplace=True)

In [36]:
df = data_all[(data_all['is_random'] == True)]
# df = df[df['Payment Status'] == "Success"]
# df = data_all[data_all['Payment Status'] == "Success"]

Menggabungkan data dari web dengan rekap himpunan

In [37]:
rekap_himpunan_all['Program'] = rekap_himpunan_all['Program'].str.upper()

rekap_himpunan_all['Whatsapp'] = rekap_himpunan_all['Whatsapp'].astype(str)

rekap_himpunan_all = rekap_himpunan_all.drop_duplicates()

In [38]:
df = df.loc[:, ~df.columns.str.contains("Unnamed")]
df

,Payment Account,No,Invoice ID,Donatur,Sapaan,Nominal,Kode Unik,Total,Whatsapp,Email,Comment,Program,Payment Method,Payment Number,Payment Status,Fundraiser Commission,Fundraiser Name,Date,Day,Time,UTM Source,UTM Medium,Source,ip,Fundraiser Commision,aff_code,zisco,Data Qurban,Data Package-2,Data Zakat Fitrah,Additional Data,UTM Content,UTM Campaign,UTM Term,UTM ID,hour,label_jam,is_random,kategori_nomor
5,DANA,6.0,INV-2508040IVSI,Mayang,Bapak,100000.0,446.0,100446.0,6282162426297,NaN,NaN,INFAK PALESTINA: BENTUK PEDULI KITA KEPADA SAU...,instant,https://m.dana.id/s/m7v7pwbn,Waiting,1004.0,Teman Baik 1,2025-08-04 00:00:00,Mon,1900-01-01 13:36:00,fb,paid,Web Ads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,13-14,True,Nomor Acak
6,DANA,7.0,INV-250804R2C2K,Isep Kamiludin,Bapak,100000.0,528.0,100528.0,6287772391069,NaN,Semoga Allah mengabulkqn doa kita semua..aamiin,BANTU PALESTINA SEKARANG,instant,https://m.dana.id/s/49unkdhk,Waiting,1005.0,Teman Baik 1,2025-08-04 00:00:00,Mon,1900-01-01 13:36:00,fb,paid,Web Ads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,13-14,True,Nomor Acak
54,QRIS,55.0,INV-2508049SZY8,A.nabila,Ibu,100000.0,589.0,100589.0,62812812335,NaN,NaN,SEDEKAH PALESTINA,instant,https://flip.id/pwf/transaction/consolidated?r...,Waiting,1006.0,Teman Baik 1,2025-08-04 00:00:00,Mon,1900-01-01 10:52:00,fb,paid,Web Ads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,10-11,True,Nomor Acak
56,BSI,57.0,INV-250804LQMVG,A.nabila,Ibu,100000.0,209.0,100209.0,62812812335,NaN,NaN,SEDEKAH PALESTINA,transfer,BSI 7772526274,Waiting,1002.0,Teman Baik 1,2025-08-04 00:00:00,Mon,1900-01-01 10:49:00,fb,paid,Web Ads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,10-11,True,Nomor Acak
72,GOPAY,73.0,INV-250804DZ01S,Didi sutardi.didi1968@gmail.com,Bapak,50000.0,640.0,50640.0,6281324233883,didisutardi0568@gmail.com,Semoga Allah cepat akhiri penderitaan Rakyat d...,BANTU PALESTINA SEKARANG,instant,https://api.midtrans.com/v2/gopay/d1730895-e65...,Waiting,506.0,Teman Baik 1,2025-08-04 00:00:00,Mon,1900-01-01 10:12:00,fb,paid,Web Ads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,10-11,True,Nomor Acak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119870,BNI,NaN,INV-260204745VK,Roest,NaN,NaN,NaN,100676.0,6281310967906,,Semoga berkah,BANGKITKAN SUMATERA,transfer,BNI 3003003257,Success,NaN,Teman Baik 1,2026-02-04 05:25:07,Wed,1900-01-01 05:25:07,ig,Instagram_Reels,Web Ads,182.2.46.47,1007.0,alofv,NaN,[],[],[],"{""Kode Unik"":""676""}","MNL (2,3) Terseret Banjir","MNL (2,3) Terseret Banjir",120241761488520706,120241761488510706,5,05-06,True,Nomor Acak
119871,BCA VA,NaN,INV-260204IZ5ZT,Rivaldi Ridwan Hanafi,NaN,NaN,NaN,103892.0,6287883777308,noname@gmail.con,,BANGKITKAN SUMATERA,va,1900800027428278,Success,NaN,Teman Baik 1,2026-02-04 06:24:20,Wed,1900-01-01 06:24:20,ig,Instagram_Stories,Web Ads,140.213.14.136,1039.0,alofv,NaN,[],[],[],"{""Kode Unik"":""562""}","MNL (2,3) Terseret Banjir","MNL (2,3) Terseret Banjir",120241761488520706,120241761488510706,6,06-07,True,Nomor Acak
119872,LINKAJA,NaN,INV-260204HML74,Asnam,NaN,NaN,NaN,50822.0,62811673232,,,BANGKITKAN SUMATERA,instant,https://flip.id/pwf/transaction/consolidated?r...,Waiting,NaN,Teman Baik 1,2026-02-04 06:50:13,Wed,1900-01-01 06:50:13,fb,Facebook_Mobile_Reels,Web Ads,182.9.33.196,508.0,alofv,NaN,[],[],[],"{""Kode Unik"":""822""}","MNL (2,3) Terseret Banjir","MNL (2,3) Terseret Banjir",120241761488520706,120241761488510706,6,06-07,True,Nomor Acak
119873,OVO,NaN,INV-2602046OBPY,Cahaya,NaN,NaN,NaN,100738.0,6281334367075,cahayalantari@gmail.com,,TEBAR QUR&#39;AN UNTUK SANTRI NUSANTARA,instant,https://flip.id/pwf/transaction/consolidated?r...,Success,NaN,Teman Baik 2,2026-02-04 06:13:44,Wed,1900-01-01 06:13:44,,,Web Ads,182.8.122.124,1007.0,lbtif,NaN,[],[],[],"{""Kode Unik"":""738""}",,,,,6,06-07,True,Nomor Acak
119874,DANA,NaN,INV-260204DJWHG,julio,NaN,NaN,NaN,50540.0,6282150903997,julioodwitama@gmail.com,semoga membantu,BANTU WUJUDKAN BANGUN SUMUR BOR UNTUK SAUDARA ...,instant,https://m.dana.id/s/dy5n7sba,Success,NaN,NaN,2026-02-04 11:08:19,Wed,1900-01-01 11:08:19,,,Web Ads,182.4.37.81,NaN,NaN,NaN,[],[],[],"{""Kode Unik"":""540""}",,,,,11,11-12,True,Nomor Acak

In [39]:
import re

data_web_himpunan = pd.concat([df,rekap_himpunan_all])

# data_web_himpunan['Total'] = data_web_himpunan['Total'].apply(
#     lambda x: int(re.sub(r'[^0-9]', '', x)) if isinstance(x, str) else x
# )

In [40]:
data_web_himpunan['Payment Status'] = data_web_himpunan['Payment Status'].fillna("Success")

# Format tanggal dan ambil bulan
data_web_himpunan["Tanggal"] = pd.to_datetime(data_web_himpunan["Date"], dayfirst=True)
data_web_himpunan["Bulan"] = data_web_himpunan["Date"].dt.month
data_web_himpunan["Tahun"] = data_web_himpunan["Date"].dt.year
data_web_himpunan["Bulan_Nama"] = data_web_himpunan["Date"].dt.strftime('%B')

In [41]:
# Choose only success donation
first_donation_success = data_web_himpunan[data_web_himpunan['Payment Status'] == "Success"]

# Bulan pertama donasi
first_donation = first_donation_success.groupby("Whatsapp").agg(
    Date=("Date", "min"),
    Tanggal_terakhir_donasi=("Date", "max"),
).reset_index()

In [42]:
first_donation["Bulan_Pertama"] = first_donation["Date"].dt.month
first_donation["Tahun_Pertama"] = first_donation["Date"].dt.year

# Gabung ke df utama
data_web_himpunan = data_web_himpunan.merge(first_donation[["Whatsapp", "Bulan_Pertama"]], on="Whatsapp")
# data_web_himpunan = data_web_himpunan[data_web_himpunan["Bulan"] >= data_web_himpunan["Bulan_Pertama"]]

In [43]:
data_web_himpunan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111848 entries, 0 to 111847
Data columns (total 44 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Payment Account        111831 non-null  object
 1   No                     5644 non-null    float64
 2   Invoice ID             108937 non-null  object
 3   Donatur                111848 non-null  object
 4   Sapaan                 5599 non-null    object
 5   Nominal                5644 non-null    float64
 6   Kode Unik              5644 non-null    float64
 7   Total                  111848 non-null  float64
 8   Whatsapp               111848 non-null  object
 9   Email                  101990 non-null  object
 10  Comment                104311 non-null  object
 11  Program                111692 non-null  object
 12  Payment Method         108937 non-null  object
 13  Payment Number         108937 non-null  object
 14  Payment Status         111848 non-null  object
 15  Fundraiser Commission  5616 non-null    float64
 16  Fundraiser Name        107540 non-null  object
 17  Date                   111847 non-null  datetime64[ns]
 18  Day                    111847 non-null  object
 19  Time                   108937 non-null  datetime64[ns]
 20  UTM Source             104741 non-null  object
 21  UTM Medium             104741 non-null  object
 22  Source                 111848 non-null  object
 23  ip                     103293 non-null  object
 24  Fundraiser Commision   101924 non-null  float64
 25  aff_code               101924 non-null  object
 26  zisco                  56913 non-null   object
 27  Data Qurban            103293 non-null  object
 28  Data Package-2         103293 non-null  object
 29  Data Zakat Fitrah      103293 non-null  object
 30  Additional Data        103291 non-null  object
 31  UTM Content            101368 non-null  object
 32  UTM Campaign           101369 non-null  object
 33  UTM Term               101361 non-null  object
 34  UTM ID                 101361 non-null  object
 35  hour                   108937 non-null  float64
 36  label_jam              108937 non-null  object
 37  is_random              108937 non-null  object
 38  kategori_nomor         108937 non-null  object
 39  Tanggal                111847 non-null  datetime64[ns]
 40  Bulan                  111847 non-null  float64
 41  Tahun                  111847 non-null  float64
 42  Bulan_Nama             111847 non-null  object
 43  Bulan_Pertama          111848 non-null  int32
dtypes: datetime64[ns](3), float64(9), int32(1), object(31)
memory usage: 37.1+ MB

In [44]:
data_web_himpunan[data_web_himpunan['Whatsapp']== "6282155681555"]

,Payment Account,No,Invoice ID,Donatur,Sapaan,Nominal,Kode Unik,Total,Whatsapp,Email,Comment,Program,Payment Method,Payment Number,Payment Status,Fundraiser Commission,Fundraiser Name,Date,Day,Time,UTM Source,UTM Medium,Source,ip,Fundraiser Commision,aff_code,zisco,Data Qurban,Data Package-2,Data Zakat Fitrah,Additional Data,UTM Content,UTM Campaign,UTM Term,UTM ID,hour,label_jam,is_random,kategori_nomor,Tanggal,Bulan,Tahun,Bulan_Nama,Bulan_Pertama
63971,Mandiri,NaN,INV-251125CAKCN,Hamba Allah,NaN,NaN,NaN,500748.0,6282155681555,,Semoga Allah Azja Wajjalla memuliakan mereka d...,INFAQ SUDAN: BANTUAN KEMANUSIAAN UNTUK SUDAN,transfer,Mandiri 1410000665448,Success,NaN,Teman Baik 1,2025-11-25 02:43:23,Tue,1900-01-01 02:43:23,fb,Facebook_Mobile_Reels,Web Ads,182.253.164.254,5007.0,8bmgx,NaN,[],[],[],"{""Kode Unik"":""748""}",pake musik,influencer sudan tz,120236572158940412,120236571758070412,2.0,02-03,True,Nomor Acak,2025-11-25 02:43:23,11.0,2025.0,November,11
111669,Mandiri (CS) 1410029052222,NaN,NaN,Yusriansyah,NaN,NaN,NaN,1000000.0,6282155681555,NaN,NaN,DONASI SUDAN,NaN,NaN,Success,NaN,NaN,2026-01-23 00:00:00,Fri,NaT,NaN,NaN,Web Ads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2026-01-23 00:00:00,1.0,2026.0,January,11

# Tracking

In [45]:
tracking_rekapan = pd.read_excel("checkpoint_files/data_with_updated_himpunan.xlsx")

In [46]:
data_success_only = data_web_himpunan[data_web_himpunan['Payment Status'] == "Success"]
data_success_only = data_success_only.sort_values('Date')

In [47]:
agg_success = data_success_only.groupby(["Whatsapp", "Bulan"]).agg(
    Donatur=("Donatur", "last"),
    Total=("Total", "sum"),
    Date=("Date", "min"),
    Payment=("Payment Account", "first"),
    Program=("Program", lambda x: list(x)),
    Time=('label_jam', lambda x: list(x)),
    Day=("Day", lambda x: x.mode().iloc[0] if not x.mode().empty else None)
).reset_index()

all_donor = data_web_himpunan[["Whatsapp", "Bulan"]].drop_duplicates()

all_agg = all_donor.merge(agg_success, on=["Whatsapp", "Bulan"], how="left")

In [48]:
final_programs = []
previous_programs = {}

for _, row in all_agg.iterrows():
    key = row["Whatsapp"]
    val = row["Program"]

    # --- Normalisasi Program agar selalu list (no NaN mix) --- #
    if isinstance(val, float) and pd.isna(val):
        current_programs = []
    elif isinstance(val, list):
        current_programs = [x for x in val if not (isinstance(x, float) and pd.isna(x))]
        current_programs = list(dict.fromkeys(current_programs))
    else:
        current_programs = [val]

    prev = previous_programs.get(key, [])

    different_programs = [p for p in current_programs if p not in prev]

    if not prev:
        final_programs.append(current_programs[0] if current_programs else None)
    elif different_programs:
        final_programs.append(different_programs[0])
    else:
        final_programs.append(current_programs[0] if current_programs else None)

    previous_programs[key] = current_programs

In [49]:
from collections import Counter
import ast
import math

def custom_mode_from_list(time_list):
    # if the value is nan then return none
    if isinstance(time_list, float) and math.isnan(time_list):
        return None

    # change the value to list
    if not isinstance(time_list, list):
        time_list = [time_list]

    # remove nan from the list
    cleaned = [x for x in time_list if not (isinstance(x, float) and math.isnan(x))]

    if len(cleaned) == 0:
        return None
    if len(cleaned) == 1:
        return cleaned[0]

    counter = Counter(cleaned)
    mc = counter.most_common()

    # if there is more than one and the top freq is tie then return the last value
    if len(mc) > 1 and mc[0][1] == mc[1][1]:
        return cleaned[-1]

    return mc[0][0]  # mode tunggal

# if column value contains string list change to list
all_agg['Time'] = all_agg['Time'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else x
)

all_agg['Label_Jam'] = all_agg['Time'].apply(custom_mode_from_list)

In [50]:
# input the final program from the previous processing
all_agg["Final_Program"] = final_programs

# Persiapan output format lebar (wide)
bulan_dict = {
    1: "Januari", 2: "Februari", 3: "Maret", 4: "April", 5: "Mei", 6: "Juni",
    7: "Juli", 8: "Agustus", 9: "September", 10: "Oktober", 11: "November", 12: "Desember"
}

# Output awal
output_test = pd.DataFrame(all_agg["Whatsapp"].drop_duplicates())

for bulan_num in range(1, 13):
    bulan_nama = bulan_dict[bulan_num]
    sub = all_agg[all_agg["Bulan"] == bulan_num][["Whatsapp", "Final_Program", "Total", "Date", "Day", "Label_Jam", "Payment"]]
    sub.columns = ["Whatsapp", f"{bulan_nama}_Program", f"{bulan_nama}_Donasi", f"{bulan_nama}_Tanggal", f"{bulan_nama}_Day", f"{bulan_nama}_Time", f"{bulan_nama}_Payment"]
    output_test = output_test.merge(sub, on="Whatsapp", how="left")

# Tambah Nama
output_test = output_test.merge(data_web_himpunan[["Whatsapp", "Donatur"]].drop_duplicates("Whatsapp"), on="Whatsapp", how="left")

# Tambah bulan pertama donasi untuk pengurutan
output_test = output_test.merge(first_donation[["Whatsapp", "Bulan_Pertama"]], on="Whatsapp")
output_test = output_test.sort_values("Bulan_Pertama").drop(columns=["Bulan_Pertama"])

In [51]:
# Urutkan kolom
cols = output_test.columns.tolist()
cols = ["Whatsapp", "Donatur"] + [col for col in cols if col not in ["Whatsapp", "Donatur"]]
output_test = output_test[cols]

# Hapus nilai 0
output_test.replace(0, "", inplace=True)
# Ambil semua kolom yang mengandung '_Program'
program_cols = [col for col in output_test.columns if '_Program' in col]

time_cols = [col for col in output_test.columns if '_Time' in col]

# Total donasi
output_test['Total'] = output_test[[col for col in output_test.columns if '_Donasi' in col]].sum(axis=1)

# Frekuensi donasi (jumlah kolom donasi yang tidak kosong)
output_test['Frekuensi'] = output_test[[col for col in output_test.columns if '_Donasi' in col]].notna().sum(axis=1)

# output['Total_Preferensi'] = (output[[col for col in output.columns if '_Preferensi' in col]].sum(axis=1) / output[[col for col in output.columns if '_Preferensi' in col]].notna().sum(axis=1)).astype(int)

# Hitung preferensi: jumlah program unik per baris
output_test['Preferensi'] = output_test[program_cols].apply(lambda row: row.dropna().nunique(), axis=1)

# Hitung program yang paling sering muncul per baris
output_test[program_cols] = (
    output_test[program_cols]
    .replace(r'^\s*$', pd.NA, regex=True)
)
output_test['Program'] = output_test[program_cols].apply(lambda row: row.dropna().mode().iloc[0] if not row.dropna().empty else None, axis=1)

# Hitung range time paling sering muncul per baris
output_test['Label_Jam'] = output_test[time_cols].apply(lambda row: row.dropna().mode().iloc[0] if not row.dropna().empty else None, axis=1)

In [52]:
# choose donation column
donasi_cols = [col for col in output_test.columns if '_Donasi' in col]

# 1) cleanse and convert every donation column to numeric(non-numeric -> NaN)
for c in donasi_cols:
    # change to string first, delete character beside digit, minus, and dot (ex: "50.000" -> "50.000", "50,000" -> "50000")
    # and also handle thousand sign and whitespace
    cleaned = output_test[c].astype(str).str.replace(r'[^\d\.\-]', '', regex=True)

    # if empty string "" after cleansing, treat it as a NaN
    cleaned = cleaned.replace('', np.nan)

    # konversi ke numeric
    output_test[c] = pd.to_numeric(cleaned, errors='coerce')

# 2) Hitung mean per baris (abaikan NaN)
mean_series = output_test[donasi_cols].mean(axis=1, skipna=True)

# 3) Bulatkan dan ubah NaN -> None, non-NaN -> int
output_test['Rata - rata'] = mean_series.round(0).apply(lambda x: None if pd.isna(x) else int(x))
# Change total dtype to int
output_test['Total'] = output_test['Total'].astype(int)

In [53]:
rekap_himpunan_all[rekap_himpunan_all['Whatsapp']=="6285721277774"]

,Donatur,Whatsapp,Payment Account,Date,Program,Total,Source,Day
2813,Iha (Komunitas ODGJ Sahabat Surga Cinta Al-Qur...,6285721277774,BSI (CS) 7316126698,2025-12-31,NaN,2000000.0,Web Ads,Wed

In [54]:
problem_groups = (
    data_web_himpunan
    .groupby("Whatsapp")["Day"]
    .apply(lambda x: x.mode().empty)
    .reset_index(name="mode_empty")
)

problem_groups = problem_groups[problem_groups["mode_empty"]]

problem_groups

Empty DataFrame
Columns: [Whatsapp, mode_empty]
Index: []

In [55]:
data_web_himpunan.sort_values('Date', inplace=True)

date_and_day = data_web_himpunan.groupby('Whatsapp', as_index=False).agg(
    Donasi_terakhir=("Total","last"),
    Status_payment=("Payment Status", lambda x: list(x)),
    Day_Mode=("Day", lambda x: x.mode().iloc[0] if not x.mode().empty else None),
    Date=("Tanggal", list),
    Source=("Source","first")
).reset_index()

In [56]:
def classify_cutoff(dates):
    # Konversi ke pandas Series dan ambil hari (tanggal) saja
    days = pd.Series(dates).dt.day
    
    # Hitung modus
    modus = days.mode().iloc[0]
    
    # Klasifikasi berdasarkan rentang tanggal cut-off
    return 'Masa Gajian' if (modus >= 26 or modus <= 5) else 'Bukan Gajian'

date_and_day['Date_Category'] = date_and_day['Date'].apply(classify_cutoff)
date_and_day['Date_Category'] = np.where(date_and_day['Day_Mode'] == 'Fri', 'Jumat', date_and_day['Date_Category'])
date_and_day = date_and_day.drop(columns=['Date'])

date_and_day['Status'] = date_and_day['Status_payment'].apply(
    lambda lst: 'Pernah Sukses' if any(x == 'Success' for x in lst if pd.notna(x)) 
                else 'Tetap Waiting'
)

In [57]:
# merge date and day and also first donation
output_test = pd.merge(output_test,date_and_day, how='left', on='Whatsapp')
output_test = output_test.merge(first_donation, how='left', on='Whatsapp')

# change the year and month from date column
output_test['Bulan'] = output_test['Date'].dt.strftime('%B')
output_test['Tahun'] = output_test['Date'].dt.year
# 
output_test['klasifikasi_program'] = np.where(
    output_test['Program'].str.lower().str.contains("palestina|gaza"),
    "PALESTINA",
    np.where(
        output_test['Program'].str.lower().str.contains("sudan"),
        "SUDAN",
        np.where(output_test['Program'].str.lower().str.contains("sumatera|sumatra"),
        "SUMATERA",
            output_test['Program']
        )
    )
)

In [58]:
# Tambahkan kolom 'Kategori' berdasarkan nilai 'Frekuensi'
output_test['Kategori'] = output_test['Frekuensi'].apply(
    lambda x: 'Pasif' if x < 1 else ('Aktif' if x < 4.5 else 'Loyal')
)

# Tambahkan kolom 'Badge' berdasarkan nilai 'Total'
output_test['Badge'] = output_test['Total'].apply(
    lambda x: 'BRONZE' if x < 100000 else ('SILVER' if x <= 1000000 else ('GOLD' if x < 5000000 else 'PLATINUM'))
)

# Tambahkan kolom 'Avg Kategori' berdasarkan nilai 'Rata - rata'
output_test['Avg Kategori'] = output_test['Rata - rata'].apply(
    lambda x: "< 100.000" if x < 100000 else ("100.000 - 1000.000" if x <= 1000000 else ("1000.000 - 5000.000" if x < 5000000 else "> 5000.000"))
)

In [59]:
output_test['Whatsapp'] = output_test['Whatsapp'].astype(int)

In [60]:
data_with_rekapan_updated = pandas_upsert_with_stats(
    df_main=tracking_rekapan,
    df_update=output_test,
    key="Whatsapp"
)

UPSERT SUMMARY
----------------------------------------
Rows updated        : 76957
Rows inserted       : 300
Columns added       : 2
  Added columns     : ['Status_payment', 'index']
Column changes:
  Februari_Payment : 136
  Januari_Tanggal : 3
  Total           : 160
  Bulan_Pertama   : 9
  Date_Category   : 78
  klasifikasi_program : 41
  Februari_Donasi : 151
  Day_Mode        : 34
  Tahun           : 9
  Label_Jam       : 57
  Desember_Payment : 2
  Januari_Time    : 5
  November_Payment : 4
  Status_payment  : 76957
  Donasi_terakhir : 205
  Donatur         : 5
  Januari_Donasi  : 8
  November_Program : 2
  Status          : 9
  Februari_Day    : 136
  September_Payment : 3
  Program         : 57
  Kategori        : 14
  Februari_Tanggal : 136
  Frekuensi       : 138
  Avg Kategori    : 18
  Tahun_Pertama   : 9
  Februari_Time   : 145
  Januari_Program : 3
  Date            : 10
  Bulan           : 9
  Preferensi      : 123
  Januari_Payment : 4
  Rata - rata     : 155
  Januari_Day     : 3
  index           : 76957
  Februari_Program : 140
  Source          : 9
  Tanggal_terakhir_donasi : 158
  Badge           : 35
----------------------------------------

In [61]:
duplicates = data_with_rekapan_updated[data_with_rekapan_updated['Whatsapp'].duplicated(keep=False)]

if not duplicates.empty:
    print("âŒ Duplicate rows found:\n", duplicates)
    raise SystemExit("Stopping cell due to duplicates.")

In [62]:
data_with_rekapan_updated = data_with_rekapan_updated[['Whatsapp', 'Donatur',
       'Januari_Program', 'Januari_Donasi', 'Januari_Tanggal', 'Januari_Day',
       'Januari_Time', 'Januari_Payment', 'Februari_Program',
       'Februari_Donasi', 'Februari_Tanggal', 'Februari_Day', 'Februari_Time',
       'Februari_Payment', 'Maret_Program', 'Maret_Donasi', 'Maret_Tanggal',
       'Maret_Day', 'Maret_Time', 'Maret_Payment', 'April_Program',
       'April_Donasi', 'April_Tanggal', 'April_Day', 'April_Time',
       'April_Payment', 'Mei_Program', 'Mei_Donasi', 'Mei_Tanggal', 'Mei_Day',
       'Mei_Time', 'Mei_Payment', 'Juni_Program', 'Juni_Donasi',
       'Juni_Tanggal', 'Juni_Day', 'Juni_Time', 'Juni_Payment', 'Juli_Program',
       'Juli_Donasi', 'Juli_Tanggal', 'Juli_Day', 'Juli_Time', 'Juli_Payment',
       'Agustus_Program', 'Agustus_Donasi', 'Agustus_Tanggal', 'Agustus_Day',
       'Agustus_Time', 'Agustus_Payment', 'September_Program',
       'September_Donasi', 'September_Tanggal', 'September_Day',
       'September_Time', 'September_Payment', 'Oktober_Program',
       'Oktober_Donasi', 'Oktober_Tanggal', 'Oktober_Day', 'Oktober_Time',
       'Oktober_Payment', 'November_Program', 'November_Donasi',
       'November_Tanggal', 'November_Day', 'November_Time', 'November_Payment',
       'Desember_Program', 'Desember_Donasi', 'Desember_Tanggal',
       'Desember_Day', 'Desember_Time', 'Desember_Payment', 'Total',
       'Frekuensi', 'Preferensi', 'Program','klasifikasi_program','Label_Jam', 'Rata - rata',
       'Day_Mode', 'Date_Category', 'Date', 'Bulan_Pertama', 'Tahun_Pertama',
       'Bulan', 'Tahun', 'Kategori','Status', 'Badge', 'Avg Kategori',"Tanggal_terakhir_donasi","Donasi_terakhir", "Source"]]

In [63]:
data_with_rekapan_updated.to_excel("checkpoint_files/data_with_updated_himpunan.xlsx", index=False)

# Check number validity

In [64]:
# ---------------------------------------------- #
        # IF THERE ISNT UPDATE USE THIS
# ---------------------------------------------- #

# data_with_rekapan_updated = pd.read_excel("checkpoint_files/data_with_updated_himpunan.xlsx")

In [65]:
# data with number validity (registered and not)
data_with_validity = pd.read_excel("checkpoint_files/data_with_number_validity_updated.xlsx")
data_with_validity = data_with_validity[["Whatsapp", "validity"]]

# crm data
df_crm = pd.read_excel("checkpoint_files/data_each_crm_updated.xlsx")
df_crm = df_crm[['Whatsapp','CRM']]

# category each crm
category_update = pd.read_excel("checkpoint_files/category_each_donor.xlsx")
category_update = category_update[['Whatsapp', 'kategori_update', 'kategori_prioritas',
       'terakhir_interaksi', 'start_date','kategori_karantina','cleansing_ke-',"terakhir_donasi", "terakhir_action", "terakhir_respon"]]

# make sure whatsapp dtype is int on both dataframes
df_crm['Whatsapp'] = df_crm['Whatsapp'].astype("Int64")
data_with_rekapan_updated['Whatsapp'] = data_with_rekapan_updated['Whatsapp'].astype(int)
data_with_validity['Whatsapp'] = data_with_validity['Whatsapp'].astype(int)

# merge to get a number validity
df_tracking_valid = data_with_rekapan_updated.merge(data_with_validity, how="left", on="Whatsapp")

In [66]:
category_update

,Whatsapp,kategori_update,kategori_prioritas,terakhir_interaksi,start_date,kategori_karantina,cleansing_ke-,terakhir_donasi,terakhir_action,terakhir_respon
0,62881082355438,Aktif,NaN,NaT,2025-02-25 01:23:58,Aktif,0,NaN,NaN,NaN
1,6285753301575,Aktif,NaN,NaT,2025-02-28 06:47:06,Aktif,0,NaN,NaN,NaN
2,6282236899125,Aktif,NaN,NaT,2025-02-27 21:37:03,Aktif,0,NaN,NaN,NaN
3,628226357000,Invalid,NaN,NaT,2025-02-24 17:24:59,Aktif,0,NaN,NaN,NaN
4,628561889392,Loyal,NaN,NaT,2025-12-07 14:55:55,Aktif,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
89947,6282113694216,NaN,NaN,NaT,2026-02-02 07:24:08,Aktif,0,NaN,NaN,NaN
89948,6283152096068,NaN,NaN,NaT,2026-02-02 10:14:34,Aktif,0,NaN,NaN,NaN
89949,6289678357363,NaN,NaN,NaT,2026-03-02 00:00:00,Aktif,0,NaN,NaN,NaN
89950,6285244211348,NaN,NaN,NaT,2026-03-03 00:00:00,Aktif,0,NaN,NaN,NaN
89951,6285721277774,NaN,NaN,NaT,2025-12-31 00:00:00,Aktif,0,NaN,NaN,NaN

In [67]:
df_tracking_valid = df_tracking_valid[['Whatsapp', 'Donatur', 'Bulan', 'Tahun', 'Januari_Program', 'Januari_Donasi',
       'Januari_Tanggal', 'Januari_Day', 'Januari_Time', 'Januari_Payment',
       'Februari_Program', 'Februari_Donasi', 'Februari_Tanggal',
       'Februari_Day', 'Februari_Time', 'Februari_Payment', 'Maret_Program',
       'Maret_Donasi', 'Maret_Tanggal', 'Maret_Day', 'Maret_Time',
       'Maret_Payment', 'April_Program', 'April_Donasi', 'April_Tanggal',
       'April_Day', 'April_Time', 'April_Payment', 'Mei_Program', 'Mei_Donasi',
       'Mei_Tanggal', 'Mei_Day', 'Mei_Time', 'Mei_Payment', 'Juni_Program',
       'Juni_Donasi', 'Juni_Tanggal', 'Juni_Day', 'Juni_Time', 'Juni_Payment',
       'Juli_Program', 'Juli_Donasi', 'Juli_Tanggal', 'Juli_Day', 'Juli_Time',
       'Juli_Payment', 'Agustus_Program', 'Agustus_Donasi', 'Agustus_Tanggal',
       'Agustus_Day', 'Agustus_Time', 'Agustus_Payment', 'September_Program',
       'September_Donasi', 'September_Tanggal', 'September_Day',
       'September_Time', 'September_Payment', 'Oktober_Program',
       'Oktober_Donasi', 'Oktober_Tanggal', 'Oktober_Day', 'Oktober_Time',
       'Oktober_Payment', 'November_Program', 'November_Donasi',
       'November_Tanggal', 'November_Day', 'November_Time', 'November_Payment',
       'Desember_Program', 'Desember_Donasi', 'Desember_Tanggal',
       'Desember_Day', 'Desember_Time', 'Desember_Payment', 'Total',
       'Frekuensi', 'Preferensi', 'Program','klasifikasi_program' ,'Label_Jam', 'Rata - rata',
       'Day_Mode', 'Date_Category', 'Date', 'Bulan_Pertama', 'Tahun_Pertama',
       'Kategori', 'Badge','Status', 'Avg Kategori','Tanggal_terakhir_donasi',"Donasi_terakhir", 'validity', 'Source']]

In [68]:
duplicates = df_tracking_valid[df_tracking_valid['Whatsapp'].duplicated(keep=False)]

if not duplicates.empty:
    print("âŒ Duplicate rows found:\n", duplicates)
    raise SystemExit("Stopping cell due to duplicates.")

In [69]:
df_with_crm = df_tracking_valid.merge(df_crm,how='left',on='Whatsapp')

321789732189

In [70]:
df_with_crm = df_with_crm[['Whatsapp', 'Donatur',  'CRM', 'Bulan', 'Tahun', 'Januari_Program',
       'Januari_Donasi', 'Januari_Tanggal', 'Januari_Day', 'Januari_Time',
       'Januari_Payment', 'Februari_Program', 'Februari_Donasi',
       'Februari_Tanggal', 'Februari_Day', 'Februari_Time', 'Februari_Payment',
       'Maret_Program', 'Maret_Donasi', 'Maret_Tanggal', 'Maret_Day',
       'Maret_Time', 'Maret_Payment', 'April_Program', 'April_Donasi',
       'April_Tanggal', 'April_Day', 'April_Time', 'April_Payment',
       'Mei_Program', 'Mei_Donasi', 'Mei_Tanggal', 'Mei_Day', 'Mei_Time',
       'Mei_Payment', 'Juni_Program', 'Juni_Donasi', 'Juni_Tanggal',
       'Juni_Day', 'Juni_Time', 'Juni_Payment', 'Juli_Program', 'Juli_Donasi',
       'Juli_Tanggal', 'Juli_Day', 'Juli_Time', 'Juli_Payment',
       'Agustus_Program', 'Agustus_Donasi', 'Agustus_Tanggal', 'Agustus_Day',
       'Agustus_Time', 'Agustus_Payment', 'September_Program',
       'September_Donasi', 'September_Tanggal', 'September_Day',
       'September_Time', 'September_Payment', 'Oktober_Program',
       'Oktober_Donasi', 'Oktober_Tanggal', 'Oktober_Day', 'Oktober_Time',
       'Oktober_Payment', 'November_Program', 'November_Donasi',
       'November_Tanggal', 'November_Day', 'November_Time', 'November_Payment',
       'Desember_Program', 'Desember_Donasi', 'Desember_Tanggal',
       'Desember_Day', 'Desember_Time', 'Desember_Payment', 'Total',
       'Frekuensi', 'Preferensi', 'Program', 'klasifikasi_program',
       'Label_Jam', 'Rata - rata', 'Day_Mode', 'Date_Category', 'Date',
       'Bulan_Pertama', 'Tahun_Pertama', 'Kategori', 'Badge', 'Avg Kategori',
       'Tanggal_terakhir_donasi',"Donasi_terakhir", 'Status', 'validity', 'Source']]

In [71]:
df_output_final = df_with_crm.merge(category_update, how='left', on='Whatsapp')

In [72]:
month_order = ['January', 'February', 'March', 'April', 'May', 'June',
               'July', 'August', 'September', 'October', 'November', 'December']
df_output_final['Bulan'] = pd.Categorical(df_output_final['Bulan'], categories=month_order, ordered=True)
df_output_final = df_output_final.sort_values('Bulan')

In [73]:
duplicates = df_output_final[df_output_final['Whatsapp'].duplicated(keep=False)]

if not duplicates.empty:
    print("âŒ Duplicate rows found:\n", duplicates)
    raise SystemExit("Stopping cell due to duplicates.")

In [74]:
df_output_final['validity'].value_counts(dropna=False)

validity
Number registered                                                                                                                                  52098
NaN                                                                                                                                                30274
Number not registered                                                                                                                               7963
Error: 504 Server Error: Gateway Time-out for url: https://api.starsender.online/api/check-number                                                     12
Error: 502 Server Error: Bad Gateway for url: https://api.starsender.online/api/check-number                                                           3
Error: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))        2
Timeout                                                                                                                                                1
Name: count, dtype: int64

In [75]:
df_output_final

,Whatsapp,Donatur,CRM,Bulan,Tahun,Januari_Program,Januari_Donasi,Januari_Tanggal,Januari_Day,Januari_Time,Januari_Payment,Februari_Program,Februari_Donasi,Februari_Tanggal,Februari_Day,Februari_Time,Februari_Payment,Maret_Program,Maret_Donasi,Maret_Tanggal,Maret_Day,Maret_Time,Maret_Payment,April_Program,April_Donasi,April_Tanggal,April_Day,April_Time,April_Payment,Mei_Program,Mei_Donasi,Mei_Tanggal,Mei_Day,Mei_Time,Mei_Payment,Juni_Program,Juni_Donasi,Juni_Tanggal,Juni_Day,Juni_Time,Juni_Payment,Juli_Program,Juli_Donasi,Juli_Tanggal,Juli_Day,Juli_Time,Juli_Payment,Agustus_Program,Agustus_Donasi,Agustus_Tanggal,Agustus_Day,Agustus_Time,Agustus_Payment,September_Program,September_Donasi,September_Tanggal,September_Day,September_Time,September_Payment,Oktober_Program,Oktober_Donasi,Oktober_Tanggal,Oktober_Day,Oktober_Time,Oktober_Payment,November_Program,November_Donasi,November_Tanggal,November_Day,November_Time,November_Payment,Desember_Program,Desember_Donasi,Desember_Tanggal,Desember_Day,Desember_Time,Desember_Payment,Total,Frekuensi,Preferensi,Program,klasifikasi_program,Label_Jam,Rata - rata,Day_Mode,Date_Category,Date,Bulan_Pertama,Tahun_Pertama,Kategori,Badge,Avg Kategori,Tanggal_terakhir_donasi,Donasi_terakhir,Status,validity,Source,kategori_update,kategori_prioritas,terakhir_interaksi,start_date,kategori_karantina,cleansing_ke-,terakhir_donasi,terakhir_action,terakhir_respon
85071,6281228717606,RizFira,Refill_WA_1095_2,January,2026.0,HIDUPKAN SUDAN,100748.0,2026-01-18 16:47:39,Sun,16-17,Mandiri,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,100748.0,1.0,1.0,HIDUPKAN SUDAN,SUDAN,16-17,100748.0,Sun,Bukan Gajian,2026-01-18 16:47:39,1.0,2026.0,Aktif,SILVER,100.000 - 1000.000,2026-01-18 16:47:39,100748.0,Pernah Sukses,Number registered,Web Ads,NaN,NaN,NaT,2026-01-18 16:47:39,Aktif,0.0,NaN,NaN,NaN
83334,62813742393251,Decky,NaN,January,2026.0,AKSI NYATA UNTUK SUDAN,100000.0,2026-01-14 22:40:38,Wed,22-23,BNI,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,100000.0,1.0,1.0,AKSI NYATA UNTUK SUDAN,SUDAN,22-23,100000.0,Wed,Bukan Gajian,2026-01-14 22:40:38,1.0,2026.0,Aktif,SILVER,100.000 - 1000.000,2026-01-14 22:40:38,100000.0,Pernah Sukses,Number not registered,Web Ads,NaN,NaN,NaT,2026-01-14 22:40:38,Aktif,0.0,NaN,NaN,NaN
83333,6282297100775,Manusia biasa,NaN,January,2026.0,AKSI NYATA UNTUK SUDAN,50949.0,2026-01-14 22:29:40,Wed,22-23,BRI,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,50949.0,1.0,1.0,AKSI NYATA UNTUK SUDAN,SUDAN,22-23,50949.0,Wed,Bukan Gajian,2026-01-14 22:29:40,1.0,2026.0,Aktif,BRONZE,< 100.000,2026-01-14 22:29:40,50949.0,Pernah Sukses,Number not registered,Web Ads,NaN,NaN,NaT,2026-01-14 22:29:40,Aktif,0.0,NaN,NaN,NaN
83332,6281331666015,Samsul,NaN,January,2026.0,AKSI NYATA UNTUK SUDAN,50476.0,2026-01-14 22:25:24,Wed,22-23,BRI,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,50476.0,1.0,1.0,AKSI NYATA UNTUK SUDAN,SUDAN,22-23,50476.0,Wed,Bukan Gajian,2026-01-14 22:25:24,1.0,2026.0,Aktif,BRONZE,< 100.000,2026-01-14 22:25:24,50476.0,Pernah Sukses,Number registered,Web Ads,NaN,NaN,NaT,2026-01-14 22:25:24,Aktif,0.0,NaN,NaN,NaN
83331,6285225629997,Iskandar Zulqarnain,NaN,January,2026.0,AKSI NYATA UNTUK SUDAN,200641.0,2026-01-15 20:33:20,Thu,21-22,Mandiri,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,200641.0,1.0,1.0,AKSI NYATA UNTUK SUDAN,SUDAN,21-22,200641.0,Thu,Bukan Gajian,2026-01-15 20:33:20,1.0,2026.0,Aktif,SILVER,100.000 - 1000.000,2026-01-27 21:39:46,100257.0,Pernah Sukses,Number registered,Web Ads,NaN,NaN,NaT,2026-01-27 21:39:46,Aktif,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78065,6281317620668,Endar Tri Prastiwi,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,Number registered,NaN,NaN,NaN,NaT,2025-12-25 06:50:07,Aktif,0.0,NaN,NaN,NaN
78072,6285886120854,Hamba allah,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,Number registered,NaN,NaN,NaN,NaT,2025-12-25 07:09:09,Aktif,0.0,NaN,NaN,NaN
78074,6282293696345,Laigi,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,Number registered,NaN,NaN,NaN,NaT,2025-12-25 07:04:24,Aktif,0.0,NaN,NaN,NaN
78077,6282180654950,Sudarwati,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,Number registered,NaN,NaN,NaN,NaT,2025-12-25 07:00:40,Aktif,0.0,NaN,NaN,NaN
81779,82123718471,Bumiz,NaN,NaN,NaN,DONASI SUMATERA,50000.0,2026-01-02 00:00:00,Fri,NaN,BSI (CS) 7316126698,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,Aktif,0.0,NaN,NaN,NaN

In [76]:
# tracking data
df_output_final.to_excel("Tracking_temanbaik.xlsx")

In [77]:
df_summary_database = df_output_final[['Whatsapp',
 'Donatur',
 'Bulan',
 'Tahun',
 'CRM',
 'Source',
 'Total',
 'Frekuensi',
 'klasifikasi_program',
 'Preferensi',
 'Label_Jam',
 'Rata - rata',
 'Day_Mode',
 'Date_Category',
 'Tahun_Pertama',
 'Kategori',
 'Badge',
 'Avg Kategori','Tanggal_terakhir_donasi',"Donasi_terakhir","terakhir_interaksi","terakhir_action","terakhir_respon",'Status', 'validity','cleansing_ke-','kategori_karantina']]

df_summary_database.to_excel("Database.xlsx")

In [78]:
df_summary_database[df_summary_database['Whatsapp']=="6282311899895"]

Empty DataFrame
Columns: [Whatsapp, Donatur, Bulan, Tahun, CRM, Source, Total, Frekuensi, klasifikasi_program, Preferensi, Label_Jam, Rata - rata, Day_Mode, Date_Category, Tahun_Pertama, Kategori, Badge, Avg Kategori, Tanggal_terakhir_donasi, Donasi_terakhir, terakhir_interaksi, terakhir_action, terakhir_respon, Status, validity, cleansing_ke-, kategori_karantina]
Index: []

In [79]:
df_summary_database[df_summary_database['CRM'].isna()]['validity'].value_counts(dropna=False)

validity
NaN                      9414
Number registered        8288
Number not registered    7386
Name: count, dtype: int64

In [80]:
# tracking data sukses
data_sukses = df_output_final[df_output_final['Status'] == "Pernah Sukses"]

# tracking data waiting
data_waiting = df_output_final[df_output_final['Status'] == 'Tetap Waiting']

In [81]:
df_summary_database_sukses = data_sukses[['Whatsapp',
 'Donatur',
 'Bulan',
 'Tahun',
 'CRM',
 'Source',
 'Total',
 'Frekuensi',
 'klasifikasi_program',
 'Preferensi',
 'Label_Jam',
 'Rata - rata',
 'Day_Mode',
 'Date_Category',
 'Tahun_Pertama',
 'Kategori',
 'Badge',
 'Avg Kategori','Tanggal_terakhir_donasi',"Donasi_terakhir","terakhir_interaksi","terakhir_action","terakhir_respon",'Status', 'validity','cleansing_ke-','kategori_karantina']]

df_summary_database_waiting = data_waiting[['Whatsapp',
 'Donatur',
 'Bulan',
 'Tahun',
 'CRM',
 'Source',
 'Total',
 'Frekuensi',
 'klasifikasi_program',
 'Preferensi',
 'Label_Jam',
 'Rata - rata',
 'Day_Mode',
 'Date_Category',
 'Tahun_Pertama',
 'Kategori',
 'Badge',
 'Avg Kategori','Tanggal_terakhir_donasi',"Donasi_terakhir","terakhir_interaksi","terakhir_action","terakhir_respon",'Status', 'validity','cleansing_ke-','kategori_karantina']]

df_summary_karantina = df_summary_database[df_summary_database['kategori_karantina'] == "Pasif"]

In [82]:
pd.set_option('display.max_rows', None)
df_summary_database["CRM"].value_counts()

CRM
WA_2060               10673
WA_7778                2961
WA_0036                2504
WA_0056                2003
WA_2060_1              2000
Refill_WA_7778_2       1894
Eliminated             1477
WA_2057                1469
WA_2056                1431
WA_2056_1              1196
WA_2060_2               920
WA_1095                 891
WA_0047                 873
WA_0051                 871
WA_0046                 870
WA_0041                 869
WA_1094                 868
WA_8194                 868
WA_8195                 867
WA_0032                 866
WA_0034                 864
WA_1096                 864
WA_0031                 863
WA_2058                 863
WA_8173                 863
WA_8271                 863
WA_1092                 863
WA_8272                 863
WA_8204                 863
WA_8197                 863
WA_2059                 863
WA_8172                 863
WA_8203                 863
Refill_WA_1097          780
Refill_WA_1095          724
WA_1097                 720
Refill_WA_1096          713
WA_2057_1               705
refill_WA_0031          641
refill_WA_0032          640
Refill_WA_0046          637
refill_WA_0041          637
Refill_WA_8196          637
refill_WA_0051          636
Refill_WA_0047          636
Refill_WA_2058_2        614
Refill_WA_2056          570
Refill_WA_2057          535
Refill_WA_1097_2nd      503
refill_WA_8194          501
refill_WA_8195          501
Refill_WA_2056_2nd      500
refill_WA_0041_2        500
Refill_WA_0056_2nd      500
Refill_WA_0047_2nd      500
Refill_WA_2057_2nd      500
Refill_WA_1095_2        500
refill_WA_0051_2        500
Refill_WA_0046_2nd      500
Refill_WA_0034_3rd      500
Refill_WA_2058          491
Refill_WA_2059          490
Refill_WA_0034_2nd      392
Refill_WA_0034          250
Refill_WA_2059_2nd      200
WA_baru_1_1               7
WA_2062                   2
WA_0053                   2
WA_Baru_2_1               2
WA_baru_1                 2
WA 0038                   1
nothing                   1
WA_Baru_2                 1
WA_0054                   1
WA_2061                   1
Name: count, dtype: int64

In [83]:
# database sukses
df_summary_database_sukses.to_excel('Database_sukses.xlsx')

# database waiting
df_summary_database_waiting.to_excel('Database_waiting.xlsx')

# database karantina
df_summary_karantina.to_excel('Database_karantina.xlsx')

In [84]:
data_with_rekapan_updated['Katasdfkljalskdjfri'].value_sadcounts(dropna=False)

KeyError: 'Katasdfkljalskdjfri'

# backup data

In [ ]:
# get data from current backup

username_backup = os.getenv("USERNAME_BU")
password_backup = os.getenv("PASSWORD_BU")
host_backup = os.getenv("HOST_BU")
port_backup = os.getenv("PORT_BU")
database_backup = os.getenv("DATABASE_BU")

# URL-encode username & password in case they have special characters
username_enc = quote_plus(username_backup)
password_enc = quote_plus(password_backup)

# Create SQLAlchemy engine
engine = create_engine(
    f"mysql+pymysql://{username_enc}:{password_enc}@{host_backup}:{port_backup}/{database_backup}"
)

In [ ]:
query_backup = f"""SELECT *
FROM {database_backup}.tb_backup_26_mei_25_july"""

data_backup = pd.read_sql(query_backup, engine)

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'u808869621_tbbackup'@'182.253.50.12' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
# get data from the updated database prod on app
data_updater = donasi_users[['campaign_id','invoice_id', 'name', 'whatsapp', 'email', 'ip', 'comment', 'title','nominal', 'payment_method', 'payment_number', 'payment_account', 'status', 'nominal_commission', 'display_name', 'aff_code', 'created_at_x', 'info_qurban', 'info_package2', 'info_zfitrah', 'info_donate', 'utm_source', 'utm_medium', 'utm_content', 'utm_campaign', 'utm_term', 'utm_id']]

In [ ]:
data_updater = data_updater.dropna(subset=["invoice_id"])
data_backup = data_backup.drop_duplicates(subset=["invoice_id"])

In [ ]:
backup_result = pandas_upsert_with_stats(
    df_main=data_backup,
    df_update=data_updater,
    key="invoice_id"
)

UPSERT SUMMARY
----------------------------------------
Rows updated        : 4836
Rows inserted       : 1444
Columns added       : 0
Column changes:
  status          : 65
  nominal         : 11
  comment         : 4760
  name            : 21
  email           : 2
----------------------------------------

In [ ]:
backup_result[(backup_result['created_at_x']>= "2026-01-01") & (backup_result['created_at_x']<= "2026-02-01")]['status'].value_counts()

status
1.0    23005
0.0     3808
Name: count, dtype: int64

In [ ]:
# start_date = data_backup['created_at_x'].min().strftime('%Y-%m-%d')
# end_date = (pd.Timestamp.today() - pd.DateOffset(months=1)).strftime('%Y-%m-%d')

# data_backup_teman_baik = pd.concat([data_backup_tb, data_backup_tb], ignore_index=True)
backup_result.to_sql("tb_backup_26_mei_25_july", con=engine, if_exists="replace", index=False)

105258