In [1]:
import requests
import pandas as pd
import time
import math

API_KEYS = [
    "468fd187-9460-42b3-adcb-934315fb3c60", 
    "f68ae405-a48a-432d-a4f8-1847ee3afd3c",
    "69969001-6dea-4fa0-8490-533cff7aabcf",
    "66715fc5-9def-486c-8cb7-c6c943833fd1",
    "4614076f-20c1-4632-941c-8a47dec5d386",
    "ba1e9466-0f1e-482a-a711-1c2ef8f455fd",
    "ba1e9466-0f1e-482a-a711-1c2ef8f455fd",
    "06b3535f-186f-4cb7-be6d-14ae08e4b48b"
]

SAVE_INTERVAL = 150  # save every 150 processed rows


def check_number_status(phone_number, api_key, timeout=60):
    url = "https://api.starsender.online/api/check-number"
    headers = {
        "Content-Type": "application/json",
        "Authorization": api_key
    }
    payload = {"number": str(phone_number)}

    try:
        response = requests.post(url, headers=headers, json=payload, timeout=timeout)
        response.raise_for_status()
        r = response.json()
        return r.get("data", {}).get("message", "No message")
    except requests.exceptions.Timeout:
        return "Timeout"
    except requests.exceptions.RequestException as e:
        return f"Error: {str(e)}"


def process_dataframe(df):
    total_rows = len(df)
    total_keys = len(API_KEYS)

    # Auto batching for API key rotation
    batch_size = math.ceil(total_rows / total_keys)

    print(f"Total rows: {total_rows}")
    print(f"Total API keys: {total_keys}")
    print(f"Auto batch size = {batch_size}\n")

    save_counter = 0  # count rows for autosave

    for i in range(total_rows):
        # Pick API key by row index
        key_index = min(i // batch_size, total_keys - 1)
        current_api_key = API_KEYS[key_index]

        phone_number = df.loc[i, "Whatsapp"]
        result = check_number_status(phone_number, current_api_key)

        df.loc[i, "validity"] = result

        print(f"Row {i+1}/{total_rows} | API {key_index+1}/{total_keys} | {phone_number} â†’ {result}")

        time.sleep(5)
        save_counter += 1

        # Save file every 150 processed rows
        if save_counter >= SAVE_INTERVAL:
            df.to_excel("autosave_result.xlsx", index=False)
            print("ðŸ’¾ Autosaved last 150 rows â†’ autosave_result.xlsx")
            save_counter = 0

    # Final save after finishing all rows
    df.to_excel("final_result.xlsx", index=False)
    print("\nðŸŽ‰ Done! Saved final_result.xlsx")


# Example
# df = pd.read_excel("input.xlsx")
# process_dataframe(df)

In [2]:
# load data
database = pd.read_excel("Database.xlsx")

# load data validity (consist whatsapp number and the status registered or not)
data_with_validity = pd.read_excel("checkpoint_files/data_with_number_validity_updated.xlsx")

In [3]:
no_crm = database[database['CRM'].isna()]
uncheck = no_crm[(no_crm['validity'].isna()) & (no_crm['Source'] == 'Web Ads')].reset_index(drop=True)

In [4]:
uncheck

,Unnamed: 0,Whatsapp,Donatur,Bulan,Tahun,CRM,Source,Total,Frekuensi,klasifikasi_program,Preferensi,Label_Jam,Rata - rata,Day_Mode,Date_Category,Tahun_Pertama,Kategori,Badge,Avg Kategori,validity
0,45438,6281326223953,Ali Susilo,November,2025,NaN,Web Ads,100661,1,PALESTINA,1,11-12,100661,Sun,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,NaN
1,45403,6281265501719,Ridi ikatra,November,2025,NaN,Web Ads,100000,1,SUDAN,1,23-00,100000,Fri,Jumat,2025,Aktif,SILVER,100.000 - 1000.000,NaN
2,45293,6281915608908,Isti,November,2025,NaN,Web Ads,100331,1,SUDAN,1,06-07,100331,Sun,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,NaN
3,45292,6287731008588,Hamba Allah,November,2025,NaN,Web Ads,100223,1,SUDAN,1,13-14,100223,Sun,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,NaN
4,45291,6287729914149,Bungah,November,2025,NaN,Web Ads,253787,1,SUDAN,1,13-14,253787,Sat,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,45358,6282336513001,Darmiah Dameng,November,2025,NaN,Web Ads,100125,1,SUDAN,1,19-20,100125,Sat,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,NaN
190,45357,628211172426,Reisya adistia,November,2025,NaN,Web Ads,100303,1,SUDAN,1,10-11,100303,Sun,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,NaN
191,45356,6282111747462,Maryetti,November,2025,NaN,Web Ads,100859,1,PALESTINA,1,06-07,100859,Sun,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,NaN
192,45354,6282112855456,Luluk,November,2025,NaN,Web Ads,50965,1,PALESTINA,1,14-15,50965,Sun,Bukan Gajian,2025,Aktif,BRONZE,< 100.000,NaN
193,45439,6281325800325,Imam,November,2025,NaN,Web Ads,100852,1,SUDAN,1,07-08,100852,Sun,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,NaN

In [5]:
process_dataframe(uncheck)

Total rows: 194
Total API keys: 8
Auto batch size = 25

Row 1/194 | API 1/8 | 6281326223953 â†’ Number registered
Row 2/194 | API 1/8 | 6281265501719 â†’ Number registered
Row 3/194 | API 1/8 | 6281915608908 â†’ Number registered
Row 4/194 | API 1/8 | 6287731008588 â†’ Number registered
Row 5/194 | API 1/8 | 6287729914149 â†’ Number registered
Row 6/194 | API 1/8 | 6282383280463 â†’ Number registered
Row 7/194 | API 1/8 | 6287775598539 â†’ Number registered
Row 8/194 | API 1/8 | 6287776476929 â†’ Number not registered
Row 9/194 | API 1/8 | 628161320130 â†’ Number registered
Row 10/194 | API 1/8 | 628161843774 â†’ Number registered
Row 11/194 | API 1/8 | 628179009004 â†’ Number registered
Row 12/194 | API 1/8 | 6281802743528 â†’ Number registered
Row 13/194 | API 1/8 | 6285281114976 â†’ Number registered
Row 14/194 | API 1/8 | 6282349500097 â†’ Number not registered
Row 15/194 | API 1/8 | 628975359100 â†’ Number registered
Row 16/194 | API 1/8 | 62895636841312 â†’ Number not registered
Row 17/194 | API 1/8 | 628115055177 â†’ Number not registered
Row 18/194 | API 1/8 | 6281232063606 â†’ Number registered
Row 19/194 | API 1/8 | 6289602866607 â†’ Number registered
Row 20/194 | API 1/8 | 6285608560808 â†’ Number registered
Row 21/194 | API 1/8 | 628117101620 â†’ Number registered
Row 22/194 | API 1/8 | 6285643777662 â†’ Number registered
Row 23/194 | API 1/8 | 6285648029061 â†’ Number registered
Row 24/194 | API 1/8 | 62895604992921 â†’ Number registered
Row 25/194 | API 1/8 | 62811361038 â†’ Number registered
Row 26/194 | API 2/8 | 628113634391 â†’ Number registered
Row 27/194 | API 2/8 | 628123032528 â†’ Number registered
Row 28/194 | API 2/8 | 6281990959159 â†’ Number registered
Row 29/194 | API 2/8 | 6282342875575 â†’ Number not registered
Row 30/194 | API 2/8 | 6281911891411 â†’ Number registered
Row 31/194 | API 2/8 | 6285745788533 â†’ Number registered
Row 32/194 | API 2/8 | 6281396407630 â†’ Number registered
Row 33/194 | API 2/8 | 628157005734 â†’ Number registered
Row 34/194 | API 2/8 | 6281572379996 â†’ Number registered
Row 35/194 | API 2/8 | 6281573373123 â†’ Number registered
Row 36/194 | API 2/8 | 6281532286995 â†’ Number registered
Row 37/194 | API 2/8 | 6281513116413 â†’ Number registered
Row 38/194 | API 2/8 | 628778899153 â†’ Number not registered
Row 39/194 | API 2/8 | 6281517841328 â†’ Number registered
Row 40/194 | API 2/8 | 6281519131504 â†’ Number registered
Row 41/194 | API 2/8 | 62831616136161 â†’ Number not registered
Row 42/194 | API 2/8 | 6281380580565 â†’ Number registered
Row 43/194 | API 2/8 | 6287842934873 â†’ Number registered
Row 44/194 | API 2/8 | 6287841226360 â†’ Number registered
Row 45/194 | API 2/8 | 6281389798228 â†’ Number registered
Row 46/194 | API 2/8 | 6287816650147 â†’ Number registered
Row 47/194 | API 2/8 | 6281386636545 â†’ Number registered
Row 48/194 | API 2/8 | 6285740562055 â†’ Number registered
Row 49/194 | API 2/8 | 62818730865 â†’ Number not registered
Row 50/194 | API 2/8 | 6281908244423 â†’ Number not registered
Row 51/194 | API 3/8 | 6281808101966 â†’ Number registered
Row 52/194 | API 3/8 | 6281808280365 â†’ Number registered
Row 53/194 | API 3/8 | 6282363884624 â†’ Number registered
Row 54/194 | API 3/8 | 6282363269046 â†’ Number registered
Row 55/194 | API 3/8 | 62818187898 â†’ Number registered
Row 56/194 | API 3/8 | 628113640337 â†’ Number registered
Row 57/194 | API 3/8 | 6287808229929 â†’ Number registered
Row 58/194 | API 3/8 | 628113668005 â†’ Number registered
Row 59/194 | API 3/8 | 628113873439 â†’ Number registered
Row 60/194 | API 3/8 | 628983017108 â†’ Number registered
Row 61/194 | API 3/8 | 6285298141692 â†’ Number registered
Row 62/194 | API 3/8 | 6289626660216 â†’ Number registered
Row 63/194 | API 3/8 | 628122015434 â†’ Number registered
Row 64/194 | API 3/8 | 6281213857166 â†’ Number registered
Row 65/194 | API 3/8 | 6281213989898 â†’ Number registered
Row 66/194 | API 3/8 | 628122110132 â†’ Number registered
Row 67/194 | API 3/8 | 62811817383 â†’ Number registered
Row 68/194 | API 3/8 | 6285323008545 â†’ Number registered
Row 69/194 | API 3/8 | 6281225691172 â†’ Number registered
Row 70/194 | API 3/8 | 6281210012558 â†’ Number registered
Row 71/194 | API 3/8 | 628121058645 â†’ Number registered
Row 72/194 | API 3/8 | 6285360206990 â†’ Number registered
Row 73/194 | API 3/8 | 6285624100343 â†’ Number registered
Row 74/194 | API 3/8 | 628122245010 â†’ Number registered
Row 75/194 | API 3/8 | 6281217379272 â†’ Number registered
Row 76/194 | API 4/8 | 628101801776 â†’ Number not registered
Row 77/194 | API 4/8 | 62895392295188 â†’ Number registered
Row 78/194 | API 4/8 | 6281241185692 â†’ Number registered
Row 79/194 | API 4/8 | 6285282540374 â†’ Number registered
Row 80/194 | API 4/8 | 628123381232 â†’ Number registered
Row 81/194 | API 4/8 | 6281393018800 â†’ Number registered
Row 82/194 | API 4/8 | 6281392319213 â†’ Number registered
Row 83/194 | API 4/8 | 6281398771996 â†’ Number not registered
Row 84/194 | API 4/8 | 6281346515557 â†’ Number registered
Row 85/194 | API 4/8 | 6281356372360 â†’ Number registered
Row 86/194 | API 4/8 | 6281360538115 â†’ Number registered
Row 87/194 | API 4/8 | 6283879741096 â†’ Number registered
Row 88/194 | API 4/8 | 6287878024745 â†’ Number registered
Row 89/194 | API 4/8 | 6281310905009 â†’ Number registered
Row 90/194 | API 4/8 | 628126550759 â†’ Number registered
Row 91/194 | API 4/8 | 6285263579870 â†’ Number registered
Row 92/194 | API 4/8 | 628918189905 â†’ Number not registered
Row 93/194 | API 4/8 | 6281272045000 â†’ Number registered
Row 94/194 | API 4/8 | 6281271361900 â†’ Number registered
Row 95/194 | API 4/8 | 6281343768001 â†’ Number registered
Row 96/194 | API 4/8 | 6281271203110 â†’ Number registered
Row 97/194 | API 4/8 | 628125181972 â†’ Number registered
Row 98/194 | API 4/8 | 62895354888183 â†’ Number registered
Row 99/194 | API 4/8 | 6285277452770 â†’ Number registered
Row 100/194 | API 4/8 | 6285279898883 â†’ Number registered
Row 101/194 | API 5/8 | 62895368943647 â†’ Number not registered
Row 102/194 | API 5/8 | 6281245919199 â†’ Number registered
Row 103/194 | API 5/8 | 6285278974871 â†’ Number registered
Row 104/194 | API 5/8 | 6281257571177 â†’ Number registered
Row 105/194 | API 5/8 | 6281293990454 â†’ Number registered
Row 106/194 | API 5/8 | 6281289870998 â†’ Number registered
Row 107/194 | API 5/8 | 6281289910255 â†’ Number registered
Row 108/194 | API 5/8 | 6289502659277 â†’ Number registered
Row 109/194 | API 5/8 | 6287882136553 â†’ Number registered
Row 110/194 | API 5/8 | 6287883400100 â†’ Number registered
Row 111/194 | API 5/8 | 6281361132447 â†’ Number registered
Row 112/194 | API 5/8 | 6281329008616 â†’ Number registered
Row 113/194 | API 5/8 | 6287888567559 â†’ Number registered
Row 114/194 | API 5/8 | 6281341393254 â†’ Number registered
Row 115/194 | API 5/8 | 6281342062216 â†’ Number registered
Row 116/194 | API 5/8 | 6281342133706 â†’ Number not registered
Row 117/194 | API 5/8 | 6285719270756 â†’ Number registered
Row 118/194 | API 5/8 | 6281337021434 â†’ Number registered
Row 119/194 | API 5/8 | 62882009010077 â†’ Number registered
Row 120/194 | API 5/8 | 62882006936705 â†’ Number registered
Row 121/194 | API 5/8 | 6281316903091 â†’ Number registered
Row 122/194 | API 5/8 | 6281317161914 â†’ Number registered
Row 123/194 | API 5/8 | 6281315000493 â†’ Number registered
Row 124/194 | API 5/8 | 6281314358766 â†’ Number registered
Row 125/194 | API 5/8 | 62882003147474 â†’ Number registered
Row 126/194 | API 6/8 | 6281322779455 â†’ Number registered
Row 127/194 | API 6/8 | 6285219514346 â†’ Number registered
Row 128/194 | API 6/8 | 6281318924468 â†’ Number registered
Row 129/194 | API 6/8 | 6285176760697 â†’ Number registered
Row 130/194 | API 6/8 | 6285719488403 â†’ Number registered
Row 131/194 | API 6/8 | 628136505838 â†’ Number not registered
Row 132/194 | API 6/8 | 6281363039308 â†’ Number registered
Row 133/194 | API 6/8 | 6287860763969 â†’ Number registered
Row 134/194 | API 6/8 | 6281368154268 â†’ Number registered
Row 135/194 | API 6/8 | 6281368361687 â†’ Number registered
Row 136/194 | API 6/8 | 6285242724166 â†’ Number registered
Row 137/194 | API 6/8 | 6281290589533 â†’ Number registered
Row 138/194 | API 6/8 | 6281291295332 â†’ Number registered
Row 139/194 | API 6/8 | 6281294676355 â†’ Number registered
Row 140/194 | API 6/8 | 6285974833495 â†’ Number registered
Row 141/194 | API 6/8 | 6282123338172 â†’ Number registered
Row 142/194 | API 6/8 | 6285795019882 â†’ Number registered
Row 143/194 | API 6/8 | 6282237668425 â†’ Number registered
Row 144/194 | API 6/8 | 6282276204055 â†’ Number registered
Row 145/194 | API 6/8 | 6282279326654 â†’ Number registered
Row 146/194 | API 6/8 | 6282211570027 â†’ Number registered
Row 147/194 | API 6/8 | 6282214018292 â†’ Number registered
Row 148/194 | API 6/8 | 6282217102886 â†’ Number registered
Row 149/194 | API 6/8 | 6285804706616 â†’ Number registered
Row 150/194 | API 6/8 | 6285810140638 â†’ Number registered
ðŸ’¾ Autosaved last 150 rows â†’ autosave_result.xlsx
Row 151/194 | API 7/8 | 6282261976615 â†’ Number registered
Row 152/194 | API 7/8 | 6282210666869 â†’ Number not registered
Row 153/194 | API 7/8 | 6282178636448 â†’ Number registered
Row 154/194 | API 7/8 | 6282286375299 â†’ Number not registered
Row 155/194 | API 7/8 | 6282181675341 â†’ Number registered
Row 156/194 | API 7/8 | 6285869580070 â†’ Number registered
Row 157/194 | API 7/8 | 6282178275959 â†’ Number registered
Row 158/194 | API 7/8 | 6282199937525 â†’ Number registered
Row 159/194 | API 7/8 | 6282289931597 â†’ Number registered
Row 160/194 | API 7/8 | 6285877660385 â†’ Number registered
Row 161/194 | API 7/8 | 6282196867379 â†’ Number registered
Row 162/194 | API 7/8 | 6285789261528 â†’ Number registered
Row 163/194 | API 7/8 | 6281398885456 â†’ Number not registered
Row 164/194 | API 7/8 | 628265821388 â†’ Number not registered
Row 165/194 | API 7/8 | 6282329114191 â†’ Number registered
Row 166/194 | API 7/8 | 6282131064643 â†’ Number registered
Row 167/194 | API 7/8 | 6282335553085 â†’ Number registered
Row 168/194 | API 7/8 | 62852354977 â†’ Number not registered
Row 169/194 | API 7/8 | 6281297143924 â†’ Number registered
Row 170/194 | API 7/8 | 6285255986722 â†’ Number registered
Row 171/194 | API 7/8 | 62887871245215 â†’ Number not registered
Row 172/194 | API 7/8 | 628127830140 â†’ Number registered
Row 173/194 | API 7/8 | 6281275167372 â†’ Number registered
Row 174/194 | API 7/8 | 6285693524517 â†’ Number registered
Row 175/194 | API 7/8 | 6285246189049 â†’ Number registered
Row 176/194 | API 8/8 | 62885221271996 â†’ Number not registered
Row 177/194 | API 8/8 | 6281284379230 â†’ Number registered
Row 178/194 | API 8/8 | 6282141678741 â†’ Number registered
Row 179/194 | API 8/8 | 6282145596465 â†’ Number registered
Row 180/194 | API 8/8 | 6285930225623 â†’ Number registered
Row 181/194 | API 8/8 | 6282158196634 â†’ Number registered
Row 182/194 | API 8/8 | 6282293561273 â†’ Number registered
Row 183/194 | API 8/8 | 6282157537227 â†’ Number registered
Row 184/194 | API 8/8 | 6285891730755 â†’ Number registered
Row 185/194 | API 8/8 | 6282299155635 â†’ Number registered
Row 186/194 | API 8/8 | 6282331212188 â†’ Number registered
Row 187/194 | API 8/8 | 628722290226 â†’ Number not registered
Row 188/194 | API 8/8 | 6282116452424 â†’ Number registered
Row 189/194 | API 8/8 | 6282116507410 â†’ Number registered
Row 190/194 | API 8/8 | 6282336513001 â†’ Number registered
Row 191/194 | API 8/8 | 628211172426 â†’ Number not registered
Row 192/194 | API 8/8 | 6282111747462 â†’ Number registered
Row 193/194 | API 8/8 | 6282112855456 â†’ Number not registered
Row 194/194 | API 8/8 | 6281325800325 â†’ Number registered

ðŸŽ‰ Done! Saved final_result.xlsx

In [6]:
# process_dataframe(uncheck)
val = pd.read_excel("final_result.xlsx")
val_1 = pd.read_excel("autosave_result.xlsx")
# val_2 = pd.read_excel("batch_2.xlsx")
# val_3 = pd.read_excel("batch_3.xlsx")

In [11]:
validity = pd.concat([val])  # , val_2, val_3])
validity

,Unnamed: 0,Whatsapp,Donatur,Bulan,Tahun,CRM,Source,Total,Frekuensi,klasifikasi_program,Preferensi,Label_Jam,Rata - rata,Day_Mode,Date_Category,Tahun_Pertama,Kategori,Badge,Avg Kategori,validity
0,45438,6281326223953,Ali Susilo,November,2025,NaN,Web Ads,100661,1,PALESTINA,1,11-12,100661,Sun,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Number registered
1,45403,6281265501719,Ridi ikatra,November,2025,NaN,Web Ads,100000,1,SUDAN,1,23-00,100000,Fri,Jumat,2025,Aktif,SILVER,100.000 - 1000.000,Number registered
2,45293,6281915608908,Isti,November,2025,NaN,Web Ads,100331,1,SUDAN,1,06-07,100331,Sun,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Number registered
3,45292,6287731008588,Hamba Allah,November,2025,NaN,Web Ads,100223,1,SUDAN,1,13-14,100223,Sun,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Number registered
4,45291,6287729914149,Bungah,November,2025,NaN,Web Ads,253787,1,SUDAN,1,13-14,253787,Sat,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Number registered
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,45358,6282336513001,Darmiah Dameng,November,2025,NaN,Web Ads,100125,1,SUDAN,1,19-20,100125,Sat,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Number registered
190,45357,628211172426,Reisya adistia,November,2025,NaN,Web Ads,100303,1,SUDAN,1,10-11,100303,Sun,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Number not registered
191,45356,6282111747462,Maryetti,November,2025,NaN,Web Ads,100859,1,PALESTINA,1,06-07,100859,Sun,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Number registered
192,45354,6282112855456,Luluk,November,2025,NaN,Web Ads,50965,1,PALESTINA,1,14-15,50965,Sun,Bukan Gajian,2025,Aktif,BRONZE,< 100.000,Number not registered
193,45439,6281325800325,Imam,November,2025,NaN,Web Ads,100852,1,SUDAN,1,07-08,100852,Sun,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Number registered

In [12]:
validity_update = pd.concat([data_with_validity, validity])
validity_update = validity_update.drop_duplicates(subset=['Whatsapp'], keep='last').reset_index(drop=True)

In [13]:
validity_update['validity'].value_counts(dropna=False)

validity
NaN                                                                                                                                                21533
Number registered                                                                                                                                  19246
Number not registered                                                                                                                               2633
Error: 504 Server Error: Gateway Time-out for url: https://api.starsender.online/api/check-number                                                     14
Error: 502 Server Error: Bad Gateway for url: https://api.starsender.online/api/check-number                                                           4
Error: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))        3
Timeout                                                                                                                                                1
Name: count, dtype: int64

In [14]:
validity_update = validity_update[['Whatsapp', 'Donatur', 'Bulan', 'Tahun', 'CRM', 'Source',
       'Total', 'Frekuensi', 'klasifikasi_program', 'Preferensi', 'Label_Jam',
       'Rata - rata', 'Day_Mode', 'Date_Category', 'Tahun_Pertama', 'Kategori',
       'Badge', 'Avg Kategori', 'validity']]

In [15]:
validity_update.to_excel("checkpoint_files/data_with_number_validity_updated.xlsx")