In [9]:
import requests
import pandas as pd
import time
import math

API_KEYS = [
    "468fd187-9460-42b3-adcb-934315fb3c60", 
    "f68ae405-a48a-432d-a4f8-1847ee3afd3c",
    "69969001-6dea-4fa0-8490-533cff7aabcf",
    "66715fc5-9def-486c-8cb7-c6c943833fd1",
    "4614076f-20c1-4632-941c-8a47dec5d386",
    "ba1e9466-0f1e-482a-a711-1c2ef8f455fd",
    "06b3535f-186f-4cb7-be6d-14ae08e4b48b",
    "1f08fade-c545-41ef-b648-4610002ac2a5",
    "5e233917-0ea1-4f69-93a4-d4b2eb1b997f",
    "c2a0bca2-4dc2-4c37-bad6-7dad1ba17975",
    "0ff9b2cf-abfb-4efe-a148-e30485cfe3cb"
]

BATCH_SIZE = 150   # kamu bisa ubah sesuai kebutuhan


def check_number_status(phone_number, api_key, timeout=60):
    url = "https://api.starsender.online/api/check-number"
    headers = {
        "Content-Type": "application/json",
        "Authorization": api_key
    }
    payload = {"number": str(phone_number)}

    try:
        response = requests.post(url, headers=headers, json=payload, timeout=timeout)
        response.raise_for_status()
        r = response.json()
        return r.get("data", {}).get("message", "No message")
    except requests.exceptions.Timeout:
        return "Timeout"
    except requests.exceptions.RequestException as e:
        return f"Error: {str(e)}"


def process_dataframe(df):
    total_rows = len(df)
    total_keys = len(API_KEYS)

    # hitung berapa batch
    total_batches = math.ceil(total_rows / BATCH_SIZE)
    print(f"Total rows: {total_rows}")
    print(f"Batch size: {BATCH_SIZE}")
    print(f"Total batches: {total_batches}\n")

    for batch_index in range(total_batches):
        start_row = batch_index * BATCH_SIZE
        end_row = min(start_row + BATCH_SIZE, total_rows)

        print(f"\n=== Processing Batch {batch_index+1}/{total_batches} | Rows {start_row}â€“{end_row-1} ===\n")

        # copy batch untuk disimpan nanti
        batch_df = df.iloc[start_row:end_row].copy()

        for i in range(start_row, end_row):
            # putar API key berdasarkan row global index
            key_index = i % total_keys
            current_api_key = API_KEYS[key_index]

            phone_number = df.loc[i, "Whatsapp"]
            result = check_number_status(phone_number, current_api_key)

            batch_df.loc[i, "validity"] = result

            print(f"Row {i+1}/{total_rows} | API {key_index+1}/{total_keys} | {phone_number} â†’ {result}")

            time.sleep(5)

        # simpan batch ke file
        filename = f"batch_{batch_index+1}.xlsx"
        batch_df.to_excel(filename, index=False)
        print(f"\nðŸ’¾ Saved: {filename}")

    print("\nðŸŽ‰ All batches processed successfully!")

In [2]:
# load data
database = pd.read_excel("cek_ricek.xlsx")

# load data validity (consist whatsapp number and the status registered or not)
data_with_validity = pd.read_excel("checkpoint_files/data_with_number_validity_updated.xlsx")

In [3]:
no_crm = database[database['CRM'].isna()]
uncheck = no_crm[(no_crm['validity'].isna()) & (no_crm['Source'] == 'Web Ads')].reset_index(drop=True)

In [6]:
uncheck['Whatsapp'] = uncheck['Whatsapp'].astype(int)

In [10]:
process_dataframe(uncheck)

Total rows: 147
Batch size: 150
Total batches: 1


=== Processing Batch 1/1 | Rows 0â€“146 ===

Row 1/147 | API 1/11 | 6285659253233 â†’ Number not registered
Row 2/147 | API 2/11 | 6289682898392 â†’ Number not registered
Row 3/147 | API 3/11 | 6287731953021 â†’ Number registered
Row 4/147 | API 4/11 | 6282289047521 â†’ Number registered
Row 5/147 | API 5/11 | 6282210739298 â†’ Number not registered
Row 6/147 | API 6/11 | 6285315870662 â†’ Number not registered
Row 7/147 | API 7/11 | 6285296317417 â†’ Number not registered
Row 8/147 | API 8/11 | 6285720280430 â†’ Number not registered
Row 9/147 | API 9/11 | 6285718055438 â†’ Number registered
Row 10/147 | API 10/11 | 628700111759 â†’ Number not registered
Row 11/147 | API 11/11 | 62815527555 â†’ Number not registered
Row 12/147 | API 1/11 | 628771108946 â†’ Number not registered
Row 13/147 | API 2/11 | 6289668171601 â†’ Number registered
Row 14/147 | API 3/11 | 628547268921 â†’ Number not registered
Row 15/147 | API 4/11 | 6281232729000 â†’ Number registered
Row 16/147 | API 5/11 | 62885659253233 â†’ Number not registered
Row 17/147 | API 6/11 | 628154540840 â†’ Number not registered
Row 18/147 | API 7/11 | 6281573139956 â†’ Number registered
Row 19/147 | API 8/11 | 628563663563 â†’ Number not registered
Row 20/147 | API 9/11 | 62858946864655 â†’ Number not registered
Row 21/147 | API 10/11 | 6281312160378 â†’ Number registered
Row 22/147 | API 11/11 | 6282265182241 â†’ Number not registered
Row 23/147 | API 1/11 | 62825131683899 â†’ Number not registered
Row 24/147 | API 2/11 | 628135355153 â†’ Number not registered
Row 25/147 | API 3/11 | 628312580552 â†’ Number not registered
Row 26/147 | API 4/11 | 62812580881 â†’ Number not registered
Row 27/147 | API 5/11 | 628284381577 â†’ Number not registered
Row 28/147 | API 6/11 | 6287456213387 â†’ Number not registered
Row 29/147 | API 7/11 | 6281365239621 â†’ Number not registered
Row 30/147 | API 8/11 | 62853698085236 â†’ Number not registered
Row 31/147 | API 9/11 | 6281383378512 â†’ Number registered
Row 32/147 | API 10/11 | 6282224148816 â†’ Number registered
Row 33/147 | API 11/11 | 628875625691 â†’ Number not registered
Row 34/147 | API 1/11 | 628377176666 â†’ Number not registered
Row 35/147 | API 2/11 | 6289693647500 â†’ Number not registered
Row 36/147 | API 3/11 | 628332983140 â†’ Number not registered
Row 37/147 | API 4/11 | 62858112264 â†’ Number not registered
Row 38/147 | API 5/11 | 6289693969388 â†’ Number registered
Row 39/147 | API 6/11 | 6287864136669 â†’ Number not registered
Row 40/147 | API 7/11 | 628240410617 â†’ Number not registered
Row 41/147 | API 8/11 | 6281806351341 â†’ Number registered
Row 42/147 | API 9/11 | 628229306660 â†’ Number not registered
Row 43/147 | API 10/11 | 6287722673036 â†’ Number registered
Row 44/147 | API 11/11 | 6281365289366 â†’ Number registered
Row 45/147 | API 1/11 | 6281228463141 â†’ Number registered
Row 46/147 | API 2/11 | 6281258080124 â†’ Number not registered
Row 47/147 | API 3/11 | 6285278639952 â†’ Number not registered
Row 48/147 | API 4/11 | 6281137854965 â†’ Number not registered
Row 49/147 | API 5/11 | 6285750670015 â†’ Number not registered
Row 50/147 | API 6/11 | 628190234763 â†’ Number not registered
Row 51/147 | API 7/11 | 628878954272 â†’ Number not registered
Row 52/147 | API 8/11 | 6286655085568 â†’ Number not registered
Row 53/147 | API 9/11 | 6282199421580 â†’ Number registered
Row 54/147 | API 10/11 | 628220231608 â†’ Number not registered
Row 55/147 | API 11/11 | 6281398547247 â†’ Number not registered
Row 56/147 | API 1/11 | 6281573219056 â†’ Number not registered
Row 57/147 | API 2/11 | 6283847852315 â†’ Number not registered
Row 58/147 | API 3/11 | 6281568204137 â†’ Number registered
Row 59/147 | API 4/11 | 628314923553 â†’ Number not registered
Row 60/147 | API 5/11 | 6281292945332 â†’ Number registered
Row 61/147 | API 6/11 | 6285369521437 â†’ Number not registered
Row 62/147 | API 7/11 | 628248181468 â†’ Number not registered
Row 63/147 | API 8/11 | 6285787200422 â†’ Number registered
Row 64/147 | API 9/11 | 6281573214242 â†’ Number not registered
Row 65/147 | API 10/11 | 62838340848277 â†’ Number not registered
Row 66/147 | API 11/11 | 6289699679581 â†’ Number registered
Row 67/147 | API 1/11 | 628217111500 â†’ Number not registered
Row 68/147 | API 2/11 | 6281298771112 â†’ Number registered
Row 69/147 | API 3/11 | 6281375841236 â†’ Number not registered
Row 70/147 | API 4/11 | 6281573214425 â†’ Number not registered
Row 71/147 | API 5/11 | 6289543721319 â†’ Number not registered
Row 72/147 | API 6/11 | 628810708691 â†’ Number not registered
Row 73/147 | API 7/11 | 628113704626 â†’ Number registered
Row 74/147 | API 8/11 | 6285236253612 â†’ Number registered
Row 75/147 | API 9/11 | 62859997349 â†’ Number not registered
Row 76/147 | API 10/11 | 62813546798835 â†’ Number not registered
Row 77/147 | API 11/11 | 6287865125608 â†’ Number not registered
Row 78/147 | API 1/11 | 628286130794 â†’ Number not registered
Row 79/147 | API 2/11 | 6281293750986 â†’ Number registered
Row 80/147 | API 3/11 | 6281573219956 â†’ Number not registered
Row 81/147 | API 4/11 | 6287788020199 â†’ Number registered
Row 82/147 | API 5/11 | 6283895661651 â†’ Number not registered
Row 83/147 | API 6/11 | 6281385910701 â†’ Number registered
Row 84/147 | API 7/11 | 6285559632521 â†’ Number not registered
Row 85/147 | API 8/11 | 628705342659 â†’ Number not registered
Row 86/147 | API 9/11 | 6289631142231 â†’ Number registered
Row 87/147 | API 10/11 | 6281137049263 â†’ Number not registered
Row 88/147 | API 11/11 | 628125804648 â†’ Number not registered
Row 89/147 | API 1/11 | 6281355886352 â†’ Number not registered
Row 90/147 | API 2/11 | 6285223446997 â†’ Number not registered
Row 91/147 | API 3/11 | 6281225449665 â†’ Number not registered
Row 92/147 | API 4/11 | 6285182449140 â†’ Number registered
Row 93/147 | API 5/11 | 6285794646485 â†’ Number not registered
Row 94/147 | API 6/11 | 6281389526322 â†’ Number registered
Row 95/147 | API 7/11 | 628121406626 â†’ Number registered
Row 96/147 | API 8/11 | 6285400006399 â†’ Number not registered
Row 97/147 | API 9/11 | 62853254808464 â†’ Number not registered
Row 98/147 | API 10/11 | 6285722235685 â†’ Number not registered
Row 99/147 | API 11/11 | 6281236985236 â†’ Number not registered
Row 100/147 | API 1/11 | 6285213647982 â†’ Number not registered
Row 101/147 | API 2/11 | 6281219244008 â†’ Number registered
Row 102/147 | API 3/11 | 6285315870332 â†’ Number registered
Row 103/147 | API 4/11 | 6285877452231 â†’ Number not registered
Row 104/147 | API 5/11 | 6285731756825 â†’ Number registered
Row 105/147 | API 6/11 | 628129570989 â†’ Number registered
Row 106/147 | API 7/11 | 6285236253699 â†’ Number not registered
Row 107/147 | API 8/11 | 628534412378 â†’ Number not registered
Row 108/147 | API 9/11 | 628121053549 â†’ Number registered
Row 109/147 | API 10/11 | 6281929410976 â†’ Number registered
Row 110/147 | API 11/11 | 628114906444 â†’ Number registered
Row 111/147 | API 1/11 | 6282258458238 â†’ Number registered
Row 112/147 | API 2/11 | 6281311953746 â†’ Number registered
Row 113/147 | API 3/11 | 6282190766395 â†’ Number registered
Row 114/147 | API 4/11 | 6281331221971 â†’ Number registered
Row 115/147 | API 5/11 | 6282246698325 â†’ Number not registered
Row 116/147 | API 6/11 | 628113006363 â†’ Number registered
Row 117/147 | API 7/11 | 6285712713016 â†’ Number not registered
Row 118/147 | API 8/11 | 6289566058865 â†’ Number not registered
Row 119/147 | API 9/11 | 628121261995 â†’ Number registered
Row 120/147 | API 10/11 | 6282354646455 â†’ Number not registered
Row 121/147 | API 11/11 | 6285645158446 â†’ Number not registered
Row 122/147 | API 1/11 | 6282234091180 â†’ Number registered
Row 123/147 | API 2/11 | 6285755545432 â†’ Number registered
Row 124/147 | API 3/11 | 6281276429300 â†’ Number registered
Row 125/147 | API 4/11 | 6282346758635 â†’ Number not registered
Row 126/147 | API 5/11 | 6285255432092 â†’ Number not registered
Row 127/147 | API 6/11 | 6285339032799 â†’ Number not registered
Row 128/147 | API 7/11 | 6281265659865 â†’ Number registered
Row 129/147 | API 8/11 | 62818203493 â†’ Number registered
Row 130/147 | API 9/11 | 6285858745777 â†’ Number not registered
Row 131/147 | API 10/11 | 6282374498797 â†’ Number registered
Row 132/147 | API 11/11 | 6285241754123 â†’ Number not registered
Row 133/147 | API 1/11 | 6282233669955 â†’ Number not registered
Row 134/147 | API 2/11 | 628129922430 â†’ Number registered
Row 135/147 | API 3/11 | 628523258522 â†’ Number not registered
Row 136/147 | API 4/11 | 6285217839281 â†’ Number not registered
Row 137/147 | API 5/11 | 6289775564266 â†’ Number not registered
Row 138/147 | API 6/11 | 6282278032838 â†’ Number registered
Row 139/147 | API 7/11 | 62882162159223 â†’ Number not registered
Row 140/147 | API 8/11 | 6285384005999 â†’ Number registered
Row 141/147 | API 9/11 | 62864949494666 â†’ Number not registered
Row 142/147 | API 10/11 | 628785368996 â†’ Number not registered
Row 143/147 | API 11/11 | 6281250355325 â†’ Number registered
Row 144/147 | API 1/11 | 6281237063956 â†’ Number registered
Row 145/147 | API 2/11 | 6285384389257 â†’ Number registered
Row 146/147 | API 3/11 | 6281253642173 â†’ Number not registered
Row 147/147 | API 4/11 | 6281240230681 â†’ Number registered

ðŸ’¾ Saved: batch_1.xlsx

ðŸŽ‰ All batches processed successfully!

In [11]:
# process_dataframe(uncheck)
# val = pd.read_excel("final_result.xlsx")
val_1 = pd.read_excel("batch_1.xlsx")
val_2 = pd.read_excel("batch_2.xlsx")
# val_3 = pd.read_excel("batch_3.xlsx")

In [12]:
validity = pd.concat([val_1, val_2])  # , val_2, val_3])
validity

,Unnamed: 0,Whatsapp,Donatur,Bulan,Tahun,CRM,Source,Total,Frekuensi,klasifikasi_program,...,Label_Jam,Rata - rata,Day_Mode,Date_Category,Tahun_Pertama,Kategori,Badge,Avg Kategori,Status,validity
0,46530,6282128802917,Zaenuddin,May,2025,NaN,Web Ads,600712,2,PALESTINA,...,05-06,300356,Thu,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Pernah Sukses,Number registered
1,48027,628126442337,adelinda pulungan,June,2025,NaN,Web Ads,201297,2,PALESTINA,...,06-07,100648,Sun,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Pernah Sukses,Number registered
2,52277,6281347808814,Hamba allah,September,2025,NaN,Web Ads,200296,2,PALESTINA,...,19-20,100148,Sat,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Pernah Sukses,Number registered
3,54955,628121918596,Joe,October,2025,NaN,Web Ads,200789,2,PALESTINA,...,08-09,100394,Fri,Jumat,2025,Aktif,SILVER,100.000 - 1000.000,Pernah Sukses,Number registered
4,55045,628345400400,Andi sudirman,October,2025,NaN,Web Ads,351135,2,PALESTINA,...,14-15,175568,Mon,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Pernah Sukses,Number not registered
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,45543,6281289426669,Firdaus,November,2025,NaN,Web Ads,53000,1,PALESTINA,...,07-08,53000,Mon,Bukan Gajian,2025,Aktif,BRONZE,< 100.000,Pernah Sukses,Number registered
133,45544,6281229252349,Sugito,November,2025,NaN,Web Ads,100000,1,SUDAN,...,22-23,100000,Sun,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Pernah Sukses,Error: 400 Client Error: Bad Request for url: ...
134,45545,6285211979798,Jailani,November,2025,NaN,Web Ads,100714,1,SUDAN,...,07-08,100714,Mon,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Pernah Sukses,Number registered
135,45547,6285795927968,royani ahmad,November,2025,NaN,Web Ads,100780,1,PALESTINA,...,06-07,100780,Mon,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Pernah Sukses,Number registered
136,56353,6285754013332,Sinartri,November,2025,NaN,Web Ads,50463,1,SUDAN,...,06-07,50463,Tue,Bukan Gajian,2025,Aktif,BRONZE,< 100.000,Pernah Sukses,Number registered

In [13]:
validity_update = pd.concat([data_with_validity, validity])
validity_update = validity_update.drop_duplicates(subset=['Whatsapp'], keep='last').reset_index(drop=True)

In [14]:
validity_update['validity'].value_counts(dropna=False)

validity
NaN                                                                                                                                                21533
Number registered                                                                                                                                  19535
Number not registered                                                                                                                               2703
Error: 400 Client Error: Bad Request for url: https://api.starsender.online/api/check-number                                                          24
Error: 504 Server Error: Gateway Time-out for url: https://api.starsender.online/api/check-number                                                     14
Error: 502 Server Error: Bad Gateway for url: https://api.starsender.online/api/check-number                                                           4
Error: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))        3
Timeout                                                                                                                                                1
Name: count, dtype: int64

In [15]:
validity_update = validity_update[['Whatsapp', 'Donatur', 'Bulan', 'Tahun', 'CRM', 'Source',
       'Total', 'Frekuensi', 'klasifikasi_program', 'Preferensi', 'Label_Jam',
       'Rata - rata', 'Day_Mode', 'Date_Category', 'Tahun_Pertama', 'Kategori',
       'Badge', 'Avg Kategori', 'validity']]

In [16]:
validity_update.to_excel("checkpoint_files/data_with_number_validity_updated.xlsx")