In [2]:
import pandas as pd
from datetime import datetime
import numpy as np
import time

In [3]:
# Latest Category
category_main = pd.read_excel("checkpoint_files/tracking_with_updated_category_daily_activity.xlsx")

# get only whatsapp and category
donor_category = category_main[['Whatsapp','Kategori']]

In [4]:
database_all = pd.read_excel("Database.xlsx")
database_all['Kategori'].value_counts()

Kategori
Aktif        52599
Pasif        12434
Invalid       1255
Eliminasi      452
Loyal          200
Name: count, dtype: int64

In [5]:
category_update = database_all[['Whatsapp','Kategori']].merge(donor_category,how='left', on='Whatsapp')
category_update

             Whatsapp Kategori_x Kategori_y
0       6285297062206      Aktif      AKTIF
1      62881082355438      Aktif      AKTIF
2       6281329198579      Pasif        NaN
3       6285725041295      Pasif        NaN
4       6285233090192      Pasif        NaN
...               ...        ...        ...
66978    628240342524        NaN        NaN
66979   6285138033903        NaN        NaN
66980   6289682120531        NaN        NaN
66981   6281917672699        NaN        NaN
66982    628275635095        NaN        NaN

[66983 rows x 3 columns]

In [6]:
# def update_category(df):
#     # if Kategori_y isna take Kategori_x
#     if pd.isna(df['Kategori_y']):
#         return df['Kategori_x']
    
#     # if Kategori_x and Kategori_y are different take Kategori_y
#     elif df['Kategori_x'] != df['Kategori_y']:
#         return df['Kategori_y']
    
#     # if both are the same take Kategori_x
#     else:
#         return df['Kategori_x']

# category_update['Kategori'] = category_update.apply(update_category, axis=1)

# Start Here

In [7]:
category_update = pd.read_excel("checkpoint_files/category_each_donor.xlsx")

In [15]:
# daily_1097 = pd.read_excel("../data_blast/daily_activity/filled/new/Daily_Activity_1097.xlsx")
# daily_2056_bonding = pd.read_excel("../data_blast/daily_activity/filled/new/Daily Activity 2056 (BONDING).xlsx")
# daily_2056_maintain = pd.read_excel("../data_blast/daily_activity/filled/new/Daily Activity 2056 (MAINTAIN).xlsx")
# daily_2057_bonding = pd.read_excel("../data_blast/daily_activity/filled/new/Daily Activity 2057 (BONDING).xlsx")
# daily_2057_maintain = pd.read_excel("../data_blast/daily_activity/filled/new/Daily Activity 2057 (MAINTAIN).xlsx")
# daily_0046 = pd.read_excel("../data_blast/daily_activity/filled/new/0046_DA_Shania.xlsx")
# daily_0047 = pd.read_excel("../data_blast/daily_activity/filled/new/0047_DA_Shania.xlsx")
# daily_0041 = pd.read_excel("../data_blast/daily_activity/filled/new/Daily_Activity_0041.xlsx")
# daily_0051 = pd.read_excel("../data_blast/daily_activity/filled/new/Daily_Activity_0051.xlsx")
# daily_2031 = pd.read_excel("../data_blast/daily_activity/filled/old/Daily_Activity_WA_2031.xlsx")
# daily_2032 = pd.read_excel("../data_blast/daily_activity/filled/new/Daily_Activity_wa_2032.xlsx")
# daily_7778 = pd.read_excel("../data_blast/daily_activity/filled/new/Daily_Activity_7778.xlsx")

# November
# daily_0034 = pd.read_excel("../data_blast/daily_activity/filled/new/Daily_Activity_0034.xlsx")
# daily_1097 = pd.read_excel("../data_blast/daily_activity/filled/new/Daily Activity Hanan 1097 DM DB.xlsx", sheet_name='Data Bonding')

# Desember
daily_0046 = pd.read_excel("../data_blast/daily_activity/filled/new/0046_DA_Shania_update.xlsx", sheet_name="Donatur Bonding ")
daily_0047 = pd.read_excel("../data_blast/daily_activity/filled/new/0047_DA_Shania_update.xlsx", sheet_name="Data Bonding")
daily_2031 = pd.read_excel("../data_blast/daily_activity/filled/new/Daily_Activity_WA_2031.xlsx", sheet_name="Donatur Baru Bonding ")
daily_2032 = pd.read_excel("../data_blast/daily_activity/filled/new/Daily_Activity_wa_2032.xlsx", sheet_name="Donatur Baru Bonding")
daily_8196 = pd.read_excel("../data_blast/daily_activity/filled/new/Daily_Activity_wa_8196.xlsx", sheet_name="Donatur Baru ")

# daily_2056 = pd.concat([daily_2056_bonding, daily_2056_maintain])
# daily_2057 = pd.concat([daily_2057_bonding, daily_2057_maintain])


daily_activity_all = pd.concat([daily_0046, daily_0047, daily_2031, daily_2032, daily_8196])
daily_activity_all = daily_activity_all.dropna(subset=['Whatsapp'])

In [16]:
daily_activity_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2548 entries, 0 to 862
Data columns (total 45 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   No                 2548 non-null   int64
 1   Tanggal            0 non-null      float64
 2   No CS              0 non-null      float64
 3   Donatur            2548 non-null   object
 4   Whatsapp           2548 non-null   float64
 5   Whatsapp.1         637 non-null    object
 6   Whatsapp.2         1273 non-null   object
 7   Whatsapp.3         1273 non-null   object
 8   Tanggal 1          2548 non-null   object
 9   Sesi 1             637 non-null    object
 10  Konten Blasting    1479 non-null   object
 11  Action 1           2548 non-null   object
 12  Respon 1           2548 non-null   object
 13  Donasi 1           11 non-null     float64
 14  Tanggal 2          2365 non-null   object
 15  Sesi 2             572 non-null    object
 16  Konten Blasting.1  1350 non-null   object
 17  Action 2           2362 non-null   object
 18  Respon 2           2285 non-null   object
 19  Donasi 2           16 non-null     float64
 20  Tanggal 3          2332 non-null   datetime64[ns]
 21  Sesi 3             498 non-null    object
 22  Konten Blasting.2  1320 non-null   object
 23  Action 3           2331 non-null   object
 24  Respon 3           2317 non-null   object
 25  Donasi 3           34 non-null     object
 26  Catatan            1912 non-null   object
 27  Next Action        2548 non-null   object
 28  Sesi               636 non-null    object
 29  Sesi.1             574 non-null    object
 30  Sesi.2             559 non-null    object
 31  Donasi Sebelumnya  0 non-null      float64
 32  Periode Prospek    1275 non-null   object
 33  Program            1275 non-null   object
 34  Entri Donatur      1275 non-null   object
 35  Sesi Blast         206 non-null    object
 36  Konten             1069 non-null   object
 37  Sesi Blast.1       206 non-null    object
 38  Konten.1           1012 non-null   object
 39  Sesi Blast.2       206 non-null    object
 40  Konten.2           1012 non-null   object
 41  Sesi Blast 1       663 non-null    object
 42  Sesi Blast 2       1012 non-null   object
 43  Sesi Blast 3       1012 non-null   object
 44  Batch Blasting     0 non-null      float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(36)
memory usage: 915.7+ KB

In [17]:
update_category = category_update.merge(daily_activity_all[['Whatsapp','Next Action', 'Tanggal 3']], how='left', on='Whatsapp')

# standarize the value, for date and prioritas
update_category['Tanggal 3'] = pd.to_datetime(update_category['Tanggal 3'], errors='coerce')
update_category.loc[update_category['Next Action'] == "Prioirtas 3", "Next Action"] = "Prioritas 3"

# rename columns
# update_category = update_category.rename(columns={"Kategori":"kategori_update",
#                                                   "Next Action":"kategori_prioritas",
#                                                   "Tanggal 3":"terakhir_interaksi"})

In [18]:
update_category['Tanggal 3'].value_counts()

Tanggal 3
2025-12-05    584
2025-11-28    541
2025-12-04    113
2025-12-02     95
2025-12-03     95
2025-12-08     85
2025-11-27     70
2025-11-26     70
2025-12-01     65
2025-11-29     65
2025-12-09     62
2025-12-10     58
2025-12-06     38
2025-04-12     31
2025-11-25     30
2025-06-12      9
Name: count, dtype: int64

In [19]:
# def category_update(df):
#     # if Kategori_y isna take Kategori_x
#     if pd.isna(df['Next Action']):
#         return df['kategori_prioritas']
    
#     # if Kategori_x and Kategori_y are different take Kategori_y
#     elif df['kategori_prioritas'] != df['Next Action']:
#         return df['Next Action']
    
#     # if both are the same take Kategori_x
#     else:
#         return df['kategori_prioritas']

update_category['kategori_prioritas'] = update_category['kategori_prioritas'].fillna(update_category['Next Action'])
update_category['terakhir_interaksi'] = update_category['terakhir_interaksi'].fillna(update_category['Tanggal 3'])

In [20]:
# update category when on the daily activity is eliminasi or invalid then return that value
update_category['kategori_update'] = np.where(update_category['kategori_prioritas'].isin(["Eliminasi", "Invalid"]), update_category['kategori_prioritas'], update_category['kategori_update'])

# update_category.loc[update_category['kategori_update'] == "AKTIF", "kategori_update"] = "Aktif"
# update_category.loc[update_category['kategori_update'] == "INVALID", "kategori_update"] = "Invalid"
# update_category.loc[update_category['kategori_update'] == "LOYAL", "kategori_update"] = "Loyal"
# update_category['kategori_update'].apply(lambda x: x if x in ["Eliminasi", "Invalid"] else )

In [21]:
update_category = update_category[['Whatsapp','kategori_update','kategori_prioritas','terakhir_interaksi']]

In [22]:
update_category = update_category.drop_duplicates(subset=['Whatsapp'])

In [23]:
update_category

             Whatsapp kategori_update kategori_prioritas terakhir_interaksi
0      62881082355438           Aktif                NaN                NaT
1       6285753301575           Aktif                NaN                NaT
2       6282236899125           Aktif                NaN                NaT
3        628226357000         Invalid                NaN                NaT
4        628561889392           Loyal                NaN                NaT
...               ...             ...                ...                ...
44437   6281371988248           Aktif                NaN                NaT
44438    628126512796           Aktif                NaN                NaT
44439   6285641084108           Aktif                NaN                NaT
44440   6281395480043           Aktif                NaN                NaT
44441     62811138137           Aktif        Prioritas 3         2025-04-12

[44442 rows x 4 columns]

In [24]:
update_category.to_excel("checkpoint_files/category_each_donor.xlsx", index=False)