In [1]:
import requests
import pandas as pd
import time
import math

API_KEYS = [
    "468fd187-9460-42b3-adcb-934315fb3c60", 
    "f68ae405-a48a-432d-a4f8-1847ee3afd3c",
    "69969001-6dea-4fa0-8490-533cff7aabcf",
    "66715fc5-9def-486c-8cb7-c6c943833fd1",
    "4614076f-20c1-4632-941c-8a47dec5d386",
    "ba1e9466-0f1e-482a-a711-1c2ef8f455fd",
    "ba1e9466-0f1e-482a-a711-1c2ef8f455fd",
    "06b3535f-186f-4cb7-be6d-14ae08e4b48b"
]

SAVE_INTERVAL = 150  # save every 150 processed rows


def check_number_status(phone_number, api_key, timeout=60):
    url = "https://api.starsender.online/api/check-number"
    headers = {
        "Content-Type": "application/json",
        "Authorization": api_key
    }
    payload = {"number": str(phone_number)}

    try:
        response = requests.post(url, headers=headers, json=payload, timeout=timeout)
        response.raise_for_status()
        r = response.json()
        return r.get("data", {}).get("message", "No message")
    except requests.exceptions.Timeout:
        return "Timeout"
    except requests.exceptions.RequestException as e:
        return f"Error: {str(e)}"


def process_dataframe(df):
    total_rows = len(df)
    total_keys = len(API_KEYS)

    # Auto batching for API key rotation
    batch_size = math.ceil(total_rows / total_keys)

    print(f"Total rows: {total_rows}")
    print(f"Total API keys: {total_keys}")
    print(f"Auto batch size = {batch_size}\n")

    save_counter = 0  # count rows for autosave

    for i in range(total_rows):
        # Pick API key by row index
        key_index = min(i // batch_size, total_keys - 1)
        current_api_key = API_KEYS[key_index]

        phone_number = df.loc[i, "Whatsapp"]
        result = check_number_status(phone_number, current_api_key)

        df.loc[i, "validity"] = result

        print(f"Row {i+1}/{total_rows} | API {key_index+1}/{total_keys} | {phone_number} â†’ {result}")

        time.sleep(5)
        save_counter += 1

        # Save file every 150 processed rows
        if save_counter >= SAVE_INTERVAL:
            df.to_excel("autosave_result.xlsx", index=False)
            print("ðŸ’¾ Autosaved last 150 rows â†’ autosave_result.xlsx")
            save_counter = 0

    # Final save after finishing all rows
    df.to_excel("final_result.xlsx", index=False)
    print("\nðŸŽ‰ Done! Saved final_result.xlsx")


# Example
# df = pd.read_excel("input.xlsx")
# process_dataframe(df)

In [2]:
# load data
database = pd.read_excel("Database.xlsx")

# load data validity (consist whatsapp number and the status registered or not)
data_with_validity = pd.read_excel("checkpoint_files/data_with_number_validity_updated.xlsx")

In [3]:
no_crm = database[database['CRM'].isna()]
uncheck = no_crm[(no_crm['validity'].isna()) & (no_crm['Source'] == 'Web Ads')].reset_index(drop=True)

In [4]:
uncheck

,Unnamed: 0,Whatsapp,Donatur,Bulan,Tahun,CRM,Source,Total,Frekuensi,klasifikasi_program,Preferensi,Label_Jam,Rata - rata,Day_Mode,Date_Category,Tahun_Pertama,Kategori,Badge,Avg Kategori,validity
0,45244,6282157218899,Muhammad Bahrun Emni,November,2025,NaN,Web Ads,100552,1,SUDAN,1,05-06,100552,Sat,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,NaN
1,45241,6282143044358,Lilik Saputra,November,2025,NaN,Web Ads,100063,1,PALESTINA,1,21-22,100063,Fri,Jumat,2025,Aktif,SILVER,100.000 - 1000.000,NaN
2,45115,6285145152768,Almi tatar,November,2025,NaN,Web Ads,50853,1,SUDAN,1,13-14,50853,Fri,Jumat,2025,Aktif,BRONZE,< 100.000,NaN
3,45114,628128595476,Frima Derris,November,2025,NaN,Web Ads,304171,1,PALESTINA,1,13-14,304171,Fri,Jumat,2025,Aktif,SILVER,100.000 - 1000.000,NaN
4,45113,6287726687866,nana ginanjar,November,2025,NaN,Web Ads,104158,1,PALESTINA,1,10-11,104158,Fri,Jumat,2025,Aktif,SILVER,100.000 - 1000.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,45173,6281269445910,Ich,November,2025,NaN,Web Ads,103572,1,SUDAN,1,00-01,103572,Sat,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,NaN
132,45172,6287770973744,Jamarullah,November,2025,NaN,Web Ads,103685,1,PALESTINA,1,21-22,103685,Fri,Jumat,2025,Aktif,SILVER,100.000 - 1000.000,NaN
133,45171,628127519259,DEDE FIRMANSYAH,November,2025,NaN,Web Ads,50024,1,SUDAN,1,16-17,50024,Fri,Jumat,2025,Aktif,BRONZE,< 100.000,NaN
134,45181,62817720530,Yuni Anshori,November,2025,NaN,Web Ads,100357,1,SUDAN,1,04-05,100357,Sat,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,NaN
135,45245,6282152048250,Achmad Hassan,November,2025,NaN,Web Ads,100000,1,SUDAN,1,13-14,100000,Fri,Jumat,2025,Aktif,SILVER,100.000 - 1000.000,NaN

In [5]:
process_dataframe(uncheck)

Total rows: 136
Total API keys: 8
Auto batch size = 17

Row 1/136 | API 1/8 | 6282157218899 â†’ Number registered
Row 2/136 | API 1/8 | 6282143044358 â†’ Number registered
Row 3/136 | API 1/8 | 6285145152768 â†’ Number registered
Row 4/136 | API 1/8 | 628128595476 â†’ Number registered
Row 5/136 | API 1/8 | 6287726687866 â†’ Number registered
Row 6/136 | API 1/8 | 6282211332977 â†’ Number registered
Row 7/136 | API 1/8 | 6281278685420 â†’ Number registered
Row 8/136 | API 1/8 | 628118542600 â†’ Number registered
Row 9/136 | API 1/8 | 6283869655110 â†’ Number registered
Row 10/136 | API 1/8 | 6281378246658 â†’ Number registered
Row 11/136 | API 1/8 | 6281317522334 â†’ Number registered
Row 12/136 | API 1/8 | 6281315701979 â†’ Number registered
Row 13/136 | API 1/8 | 6287834021000 â†’ Number registered
Row 14/136 | API 1/8 | 6281256545271 â†’ Number registered
Row 15/136 | API 1/8 | 6285384632337 â†’ Number registered
Row 16/136 | API 1/8 | 628125120052 â†’ Number registered
Row 17/136 | API 1/8 | 62895320425374 â†’ Number registered
Row 18/136 | API 2/8 | 628284475501 â†’ Number not registered
Row 19/136 | API 2/8 | 628174129514 â†’ Number registered
Row 20/136 | API 2/8 | 6281225000721 â†’ Number not registered
Row 21/136 | API 2/8 | 6281227644598 â†’ Number registered
Row 22/136 | API 2/8 | 6285252674433 â†’ Number registered
Row 23/136 | API 2/8 | 628122292060 â†’ Number not registered
Row 24/136 | API 2/8 | 6288802841213 â†’ Number registered
Row 25/136 | API 2/8 | 62887435691641 â†’ Number registered
Row 26/136 | API 2/8 | 6281296700235 â†’ Number registered
Row 27/136 | API 2/8 | 6281298541366 â†’ Number registered
Row 28/136 | API 2/8 | 6285851117366 â†’ Number not registered
Row 29/136 | API 2/8 | 6285876050355 â†’ Number not registered
Row 30/136 | API 2/8 | 6285876260638 â†’ Number not registered
Row 31/136 | API 2/8 | 6282246464659 â†’ Number registered
Row 32/136 | API 2/8 | 6285768773832 â†’ Number registered
Row 33/136 | API 2/8 | 6281329770955 â†’ Number registered
Row 34/136 | API 2/8 | 6285331833682 â†’ Number registered
Row 35/136 | API 3/8 | 628152217098 â†’ Number registered
Row 36/136 | API 3/8 | 62881025149619 â†’ Number registered
Row 37/136 | API 3/8 | 628159059584 â†’ Number registered
Row 38/136 | API 3/8 | 6281229190686 â†’ Number registered
Row 39/136 | API 3/8 | 6281230222720 â†’ Number registered
Row 40/136 | API 3/8 | 6285242060672 â†’ Number registered
Row 41/136 | API 3/8 | 6282196312151 â†’ Number registered
Row 42/136 | API 3/8 | 6288299235640 â†’ Number registered
Row 43/136 | API 3/8 | 6282242493412 â†’ Number registered
Row 44/136 | API 3/8 | 6285226650080 â†’ Number registered
Row 45/136 | API 3/8 | 6285228146537 â†’ Number registered
Row 46/136 | API 3/8 | 628122506563 â†’ Number registered
Row 47/136 | API 3/8 | 6285225433375 â†’ Number registered
Row 48/136 | API 3/8 | 6281372317102 â†’ Number registered
Row 49/136 | API 3/8 | 628577795380 â†’ Number not registered
Row 50/136 | API 3/8 | 6285643894976 â†’ Number registered
Row 51/136 | API 3/8 | 6285647022921 â†’ Number registered
Row 52/136 | API 4/8 | 6281322166500 â†’ Number registered
Row 53/136 | API 4/8 | 6285774473007 â†’ Number registered
Row 54/136 | API 4/8 | 6281321855475 â†’ Number registered
Row 55/136 | API 4/8 | 6285788108244 â†’ Number registered
Row 56/136 | API 4/8 | 628129948897 â†’ Number not registered
Row 57/136 | API 4/8 | 62813806331 â†’ Number not registered
Row 58/136 | API 4/8 | 6281325487979 â†’ Number not registered
Row 59/136 | API 4/8 | 628121509588 â†’ Number registered
Row 60/136 | API 4/8 | 6285141574878 â†’ Number registered
Row 61/136 | API 4/8 | 6281210858882 â†’ Number not registered
Row 62/136 | API 4/8 | 6281221749804 â†’ Number registered
Row 63/136 | API 4/8 | 6285255313133 â†’ Number registered
Row 64/136 | API 4/8 | 628124216367 â†’ Number registered
Row 65/136 | API 4/8 | 6282147022230 â†’ Number registered
Row 66/136 | API 4/8 | 6282177456377 â†’ Number registered
Row 67/136 | API 4/8 | 6285248424946 â†’ Number registered
Row 68/136 | API 4/8 | 628803014610 â†’ Number not registered
Row 69/136 | API 5/8 | 6285243067766 â†’ Number registered
Row 70/136 | API 5/8 | 6287882080448 â†’ Number registered
Row 71/136 | API 5/8 | 6281239191452 â†’ Number registered
Row 72/136 | API 5/8 | 6281332521099 â†’ Number registered
Row 73/136 | API 5/8 | 6282169847414 â†’ Number registered
Row 74/136 | API 5/8 | 6281261334498 â†’ Number registered
Row 75/136 | API 5/8 | 6285269887441 â†’ Number not registered
Row 76/136 | API 5/8 | 6281266575633 â†’ Number registered
Row 77/136 | API 5/8 | 6281251504626 â†’ Number registered
Row 78/136 | API 5/8 | 6282125644756 â†’ Number registered
Row 79/136 | API 5/8 | 6282125175367 â†’ Number registered
Row 80/136 | API 5/8 | 6287822203336 â†’ Number registered
Row 81/136 | API 5/8 | 6287828911555 â†’ Number not registered
Row 82/136 | API 5/8 | 628122011558 â†’ Number registered
Row 83/136 | API 5/8 | 6281219452330 â†’ Number registered
Row 84/136 | API 5/8 | 628216709775 â†’ Number not registered
Row 85/136 | API 5/8 | 6281230115178 â†’ Number registered
Row 86/136 | API 6/8 | 6281355803020 â†’ Number registered
Row 87/136 | API 6/8 | 6285695712425 â†’ Number registered
Row 88/136 | API 6/8 | 6281297850456 â†’ Number registered
Row 89/136 | API 6/8 | 6281585464085 â†’ Number registered
Row 90/136 | API 6/8 | 6285883566510 â†’ Number registered
Row 91/136 | API 6/8 | 6281288392365 â†’ Number registered
Row 92/136 | API 6/8 | 628957007272 â†’ Number not registered
Row 93/136 | API 6/8 | 628298350725 â†’ Number not registered
Row 94/136 | API 6/8 | 62897895747 â†’ Number not registered
Row 95/136 | API 6/8 | 62823654789558 â†’ Number not registered
Row 96/136 | API 6/8 | 6282310668426 â†’ Number registered
Row 97/136 | API 6/8 | 628112223366 â†’ Number not registered
Row 98/136 | API 6/8 | 628118307725 â†’ Number registered
Row 99/136 | API 6/8 | 62811225856865 â†’ Number not registered
Row 100/136 | API 6/8 | 628120699922 â†’ Number not registered
Row 101/136 | API 6/8 | 628117453700 â†’ Number registered
Row 102/136 | API 6/8 | 6282316160273 â†’ Number registered
Row 103/136 | API 7/8 | 628979577192 â†’ Number registered
Row 104/136 | API 7/8 | 6289604116511 â†’ Number not registered
Row 105/136 | API 7/8 | 62833021666 â†’ Number not registered
Row 106/136 | API 7/8 | 628284220115 â†’ Number not registered
Row 107/136 | API 7/8 | 6282183841460 â†’ Number registered
Row 108/136 | API 7/8 | 62882003137696 â†’ Number registered
Row 109/136 | API 7/8 | 6281293883566 â†’ Number registered
Row 110/136 | API 7/8 | 628129120264 â†’ Number registered
Row 111/136 | API 7/8 | 6281273119100 â†’ Number not registered
Row 112/136 | API 7/8 | 6281272760634 â†’ Number registered
Row 113/136 | API 7/8 | 6281343181924 â†’ Number registered
Row 114/136 | API 7/8 | 6281350904646 â†’ Number registered
Row 115/136 | API 7/8 | 6281350529623 â†’ Number registered
Row 116/136 | API 7/8 | 6281332700269 â†’ Number registered
Row 117/136 | API 7/8 | 6281328402272 â†’ Number registered
Row 118/136 | API 7/8 | 6285764220991 â†’ Number registered
Row 119/136 | API 7/8 | 6281361318768 â†’ Number registered
Row 120/136 | API 8/8 | 6285313630050 â†’ Number registered
Row 121/136 | API 8/8 | 6285322534127 â†’ Number registered
Row 122/136 | API 8/8 | 6281278048477 â†’ Number registered
Row 123/136 | API 8/8 | 6281334953330 â†’ Number registered
Row 124/136 | API 8/8 | 6287702565758 â†’ Number registered
Row 125/136 | API 8/8 | 6281281770477 â†’ Number registered
Row 126/136 | API 8/8 | 628175009945 â†’ Number registered
Row 127/136 | API 8/8 | 6285290131993 â†’ Number registered
Row 128/136 | API 8/8 | 6285290875364 â†’ Number registered
Row 129/136 | API 8/8 | 6287759391778 â†’ Number registered
Row 130/136 | API 8/8 | 628127059983 â†’ Number registered
Row 131/136 | API 8/8 | 6287772748175 â†’ Number registered
Row 132/136 | API 8/8 | 6281269445910 â†’ Number registered
Row 133/136 | API 8/8 | 6287770973744 â†’ Number registered
Row 134/136 | API 8/8 | 628127519259 â†’ Number registered
Row 135/136 | API 8/8 | 62817720530 â†’ Number registered
Row 136/136 | API 8/8 | 6282152048250 â†’ Number registered

ðŸŽ‰ Done! Saved final_result.xlsx

In [6]:
# process_dataframe(uncheck)
val_1 = pd.read_excel("final_result.xlsx")
# val_2 = pd.read_excel("batch_2.xlsx")
# val_3 = pd.read_excel("batch_3.xlsx")

In [7]:
validity = pd.concat([val_1])
validity

,Unnamed: 0,Whatsapp,Donatur,Bulan,Tahun,CRM,Source,Total,Frekuensi,klasifikasi_program,Preferensi,Label_Jam,Rata - rata,Day_Mode,Date_Category,Tahun_Pertama,Kategori,Badge,Avg Kategori,validity
0,45244,6282157218899,Muhammad Bahrun Emni,November,2025,NaN,Web Ads,100552,1,SUDAN,1,05-06,100552,Sat,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Number registered
1,45241,6282143044358,Lilik Saputra,November,2025,NaN,Web Ads,100063,1,PALESTINA,1,21-22,100063,Fri,Jumat,2025,Aktif,SILVER,100.000 - 1000.000,Number registered
2,45115,6285145152768,Almi tatar,November,2025,NaN,Web Ads,50853,1,SUDAN,1,13-14,50853,Fri,Jumat,2025,Aktif,BRONZE,< 100.000,Number registered
3,45114,628128595476,Frima Derris,November,2025,NaN,Web Ads,304171,1,PALESTINA,1,13-14,304171,Fri,Jumat,2025,Aktif,SILVER,100.000 - 1000.000,Number registered
4,45113,6287726687866,nana ginanjar,November,2025,NaN,Web Ads,104158,1,PALESTINA,1,10-11,104158,Fri,Jumat,2025,Aktif,SILVER,100.000 - 1000.000,Number registered
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,45173,6281269445910,Ich,November,2025,NaN,Web Ads,103572,1,SUDAN,1,00-01,103572,Sat,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Number registered
132,45172,6287770973744,Jamarullah,November,2025,NaN,Web Ads,103685,1,PALESTINA,1,21-22,103685,Fri,Jumat,2025,Aktif,SILVER,100.000 - 1000.000,Number registered
133,45171,628127519259,DEDE FIRMANSYAH,November,2025,NaN,Web Ads,50024,1,SUDAN,1,16-17,50024,Fri,Jumat,2025,Aktif,BRONZE,< 100.000,Number registered
134,45181,62817720530,Yuni Anshori,November,2025,NaN,Web Ads,100357,1,SUDAN,1,04-05,100357,Sat,Bukan Gajian,2025,Aktif,SILVER,100.000 - 1000.000,Number registered
135,45245,6282152048250,Achmad Hassan,November,2025,NaN,Web Ads,100000,1,SUDAN,1,13-14,100000,Fri,Jumat,2025,Aktif,SILVER,100.000 - 1000.000,Number registered

In [8]:
validity_update = pd.concat([data_with_validity, validity])
validity_update = validity_update.drop_duplicates(subset=['Whatsapp'], keep='last').reset_index(drop=True)

In [11]:
validity_update['validity'].value_counts(dropna=False)

validity
NaN                                                                                                                                                21533
Number registered                                                                                                                                  19077
Number not registered                                                                                                                               2608
Error: 504 Server Error: Gateway Time-out for url: https://api.starsender.online/api/check-number                                                     14
Error: 502 Server Error: Bad Gateway for url: https://api.starsender.online/api/check-number                                                           4
Error: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))        3
Timeout                                                                                                                                                1
Name: count, dtype: int64

In [12]:
validity_update = validity_update[['Whatsapp', 'Donatur', 'Bulan', 'Tahun', 'CRM', 'Source',
       'Total', 'Frekuensi', 'klasifikasi_program', 'Preferensi', 'Label_Jam',
       'Rata - rata', 'Day_Mode', 'Date_Category', 'Tahun_Pertama', 'Kategori',
       'Badge', 'Avg Kategori', 'validity']]

In [13]:
validity_update.to_excel("checkpoint_files/data_with_number_validity_updated.xlsx")