In [1]:
import pandas as pd
from datetime import datetime
import numpy as np
import time

In [4]:
# Latest Category
category_main = pd.read_excel("checkpoint_files/tracking_with_updated_category_daily_activity.xlsx")


# get only whatsapp and category
donor_category = category_main[['Whatsapp','Kategori']]

In [27]:
database_all = pd.read_excel("Database.xlsx")
database_all['Kategori'].value_counts()

Kategori
AKTIF    44273
LOYAL      169
Name: count, dtype: int64

In [29]:
category_update = database_all[['Whatsapp','Kategori']].merge(donor_category,how='left', on='Whatsapp')
category_update

             Whatsapp Kategori_x Kategori_y
0      62881082355438      AKTIF      AKTIF
1       6285753301575      AKTIF      AKTIF
2       6282236899125      AKTIF      AKTIF
3        628226357000      AKTIF    INVALID
4        628561889392      LOYAL      LOYAL
...               ...        ...        ...
44437   6281371988248      AKTIF        NaN
44438    628126512796      AKTIF        NaN
44439   6285641084108      AKTIF        NaN
44440   6281395480043      AKTIF        NaN
44441     62811138137      AKTIF        NaN

[44442 rows x 3 columns]

In [37]:
def update_category(df):
    # if Kategori_y isna take Kategori_x
    if pd.isna(df['Kategori_y']):
        return df['Kategori_x']
    
    # if Kategori_x and Kategori_y are different take Kategori_y
    elif df['Kategori_x'] != df['Kategori_y']:
        return df['Kategori_y']
    
    # if both are the same take Kategori_x
    else:
        return df['Kategori_x']

category_update['Kategori'] = category_update.apply(update_category, axis=1)

In [6]:
category_update = pd.read_excel("checkpoint_files/category_each_donor.xlsx")

category_updater = category_update[['Whatsapp','Kategori']]

In [4]:
daily_1097 = pd.read_excel("../data_blast/daily_activity/filled/new/Daily_Activity_1097.xlsx")
daily_2056_bonding = pd.read_excel("../data_blast/daily_activity/filled/new/Daily Activity 2056 (BONDING).xlsx")
daily_2056_maintain = pd.read_excel("../data_blast/daily_activity/filled/new/Daily Activity 2056 (MAINTAIN).xlsx")
daily_2057_bonding = pd.read_excel("../data_blast/daily_activity/filled/new/Daily Activity 2057 (BONDING).xlsx")
daily_2057_maintain = pd.read_excel("../data_blast/daily_activity/filled/new/Daily Activity 2057 (MAINTAIN).xlsx")
daily_0046 = pd.read_excel("../data_blast/daily_activity/filled/new/0046_DA_Shania.xlsx")
daily_0047 = pd.read_excel("../data_blast/daily_activity/filled/new/0047_DA_Shania.xlsx")
daily_0041 = pd.read_excel("../data_blast/daily_activity/filled/new/Daily_Activity_0041.xlsx")
daily_0051 = pd.read_excel("../data_blast/daily_activity/filled/new/Daily_Activity_0051.xlsx")


daily_2056 = pd.concat([daily_2056_bonding, daily_2056_maintain])
daily_2057 = pd.concat([daily_2057_bonding, daily_2057_maintain])


daily_activity_all = pd.concat([daily_1097, daily_2056, daily_2057,daily_0046,daily_0047,daily_0041,daily_0051])
daily_activity_all = daily_activity_all.dropna(subset=['Whatsapp'])

c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
c:\Users\faruq\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
C:\Users\faruq\AppData\Local\Temp\ipykernel_13116\3925034734.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  daily_2057 = pd.concat([daily_2057_bonding, daily_2057_maintain])

In [19]:
update_category = category_updater.merge(daily_activity_all[['Whatsapp','Next Action', 'Tanggal 3']], how='left', on='Whatsapp')

# standarize the value, for date and prioritas
update_category['Tanggal 3'] = pd.to_datetime(update_category['Tanggal 3'], errors='coerce')
update_category.loc[update_category['Next Action'] == "Prioirtas 3", "Next Action"] = "Prioritas 3"

# rename columns
update_category = update_category.rename(columns={"Next Action":"kategori_update",
                                                  "Tanggal 3":"terakhir_interaksi"})

In [ ]:
update_category['kategori_update']

kategori_update
Prioritas 3    6256
Prioritas 2     521
Eliminasi       358
Invalid         190
Prioritas 1     165
Name: count, dtype: int64

In [ ]:
# update category when on the daily activity is eliminasi or invalid then return that value
update_category['Kategori'] = np.where(update_category['kategori_update'].isin(["Eliminasi", "Invalid"]), update_category['kategori_update'], update_category['Kategori'])


# update_category['kategori_update'].apply(lambda x: x if x in ["Eliminasi", "Invalid"] else )

In [28]:
update_category['Kategori'].value_counts()

Kategori
AKTIF        42698
INVALID       1054
Eliminasi      358
Invalid        190
LOYAL          142
Name: count, dtype: int64

In [2]:
update_category = pd.read_excel("asdfkajsdhggfkajsdhffaskdjfhaksjd.xlsx")