In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("2025/Summary_2025.xlsx", sheet_name="Donasi")
df.head()

,No,Invoice ID,Donatur,Sapaan,Nominal,Kode Unik,Total,Whatsapp,Email,Comment,...,Payment Number,Payment Account,Payment Status,Fundraiser Commission,Fundraiser Name,Date,Day,Time,UTM Source,UTM Medium
0,1,INV-250609C9F8K,Murti suriani,Bapak,100000,44,102819,8.238883e+10,NaN,NaN,...,145520000002615008,BRI VA,Waiting,1028.0,Teman Baik 1,2025-06-09,Mon,09:17:00,fb,paid
1,2,INV-2506099GE0C,Anang,Bapak,250000,165,252940,8.123017e+10,NaN,Free Palestine,...,145520000002615008,BRI VA,Waiting,2529.0,Teman Baik 1,2025-06-09,Mon,09:15:00,fb,paid
2,3,INV-250609NWNMZ,Hamba Allah,Bapak,100000,86,103416,8.211111e+11,NaN,Untuk saudara di Palestina,...,1900800023525374,BCA VA,Success,1034.0,Teman Baik 1,2025-06-09,Mon,09:13:00,fb,paid
3,4,INV-250609PGHXG,Zulfariani,Ibu,250000,341,250341,8.536018e+10,zulfariani804@gmail.com,"Smoga Allah melindungi warga palestina,dan kau...",...,BSI 7772526274,BSI,Waiting,2503.0,Teman Baik 1,2025-06-09,Mon,08:51:00,ig,paid
4,5,INV-250609OM9OZ,Dari hamba Allah,Bapak,250000,660,253435,8.125573e+09,NaN,NaN,...,145520000002614912,BRI VA,Waiting,2534.0,Teman Baik 1,2025-06-09,Mon,08:45:00,fb,paid

In [3]:
df['Whatsapp'] = df['Whatsapp'].astype(int)

In [4]:
def is_random_number(num):
    num = str(num)

    # Nomor harus hanya angka
    if not num.isdigit():
        return False

    # Harus valid dari segi panjang dan awalan
    starts_valid = num.startswith("08") or num.startswith("8") or num.startswith("62")
    length_valid = 8 < len(num) <= 14

    if not (starts_valid and length_valid):
        return False

    # Cek jika terlalu banyak angka sama (seperti 08888888888)
    if len(set(num)) <= 3:
        return False

    # Cek pola berulang (seperti 081234567812345678)
    if len(num) > 6 and num[:int(len(num)/2)] == num[int(len(num)/2):]:
        return False

    # Cek pola urutan (seperti 08123456789)
    if num[2:].isdigit() and num[2:] in '1234567890'*2:
        return False

    return True

df['is_random'] = df['Whatsapp'].apply(is_random_number)
df['kategori_nomor'] = df['is_random'].map({True: 'Nomor Acak', False: 'Nomor Pola/Tidak Valid'})

In [ ]:
df.to_excel("2025/uyuuyuyuyuyuy.xlsx")